<template>
  <div id="vis">
    <NavBar ThisPage="Doublets" />
    <span id="visOptions">
      <font-awesome-icon icon="info" @click="ShowInfo = !ShowInfo" />
      <font-awesome-icon icon="cog" @click="ShowSettings = !ShowSettings" />
      <form id="mainForm" class="flex-x justify-center" onsubmit="return false;">
        <TextInput
          v-if="ShowFreetextLanguageSearch"
          v-model="FreetextLanguageValue"
          :AutocompleteItems="AutocompleteLanguages"
          @autocompleteselection="AutocompleteSelection"
          PlaceholderText="Language:"
          MinimumSearchLength="2"
        ></TextInput>
        <VisSelect
          v-if="!ShowFreetextLanguageSearch"
          id="languageSelect"
          prompt="Choose a Language:"
          :Options="Languages"
          :InitialValue="CurrentLang"
          v-model="CurrentLang"
        ></VisSelect>
        <VisSelect
          id="wordSelect"
          v-if="CurrentLang"
          prompt="Choose a Word:"
          :Options="Doublets"
          :InitialValue="CurrentRoot"
          v-model="CurrentRoot"
        ></VisSelect>
      </form>
    </span>
    <Tree
      :Heading="ChartHeading"
      :TreeData="currentTree"
      :SVGHeight="SVGHeight"
      :SVGWidth="SVGWidth"
    ></Tree>
    <transition name="fade">
      <ModalMainBrand v-if="this.$store.state.ShowInfo">
        <h3 class="title-font">Info</h3>
        <p>
          In linguistics, a set of words in a given language are called
          "doublets" if they share a common ancestor.
        </p>
        <p>
          This chart tracks the relationships between these doublets, and shows
          how they're related.
        </p>
        <p>
          The data comes from
          <a href="https://en.wiktionary.org">Wiktionary</a>, and the code
          behind the visualisation is heavily borrowed from d3noob on
          <a
            href="https://bl.ocks.org/d3noob/43a860bc0024792f8803bba8ca0d5ecd"
          >bl.ocks.org</a>
        </p>
        <button @click="toggleInfo()">Close</button>
      </ModalMainBrand>
    </transition>
    <transition name="fade">
      <ModalLightShade v-if="ShowSettings">
        <font-awesome-icon icon="window-close" @click="toggleSettings" />
        <h3 class="title-font">Settings</h3>
        <ToggleInput :Value="ReturnRoots" v-on:input="ToggleReturnRoots" LabelLeft="Show Roots?"></ToggleInput>
        <h5>Language search format:</h5>
        <ToggleInput
          :Value="ShowFreetextLanguageSearch"
          v-on:input="ToggleShowFreetextLanguageSearch"
          LabelLeft="Dropdown"
          LabelRight="Freetext"
        ></ToggleInput>
        <h5>Order languages by:</h5>
        <ToggleInput
          :Value="OrderLanguagagesByPopularity"
          v-on:input="
            OrderLanguagagesByPopularity = !OrderLanguagagesByPopularity
          "
          LabelLeft="Name"
          LabelRight="# of doublets"
        ></ToggleInput>
      </ModalLightShade>
    </transition>
    <Loader v-if="ShowLoader" :LoaderProgress="LoaderText" @click="HideLoader()"></Loader>
  </div>
</template>

<script>
import NavBar from "../components/NavBar.vue";
import VisTitle from "../components/vis/VisTitle.vue";
import GraphOptionsContainer from "../components/vis/GraphOptionsContainer.vue";
import GraphControlForm from "../components/vis/GraphControlForm.vue";
import ModalMainBrand from "../components/ModalMainBrand.vue";
import ModalLightShade from "../components/ModalLightShade.vue";
import Loader from "../components/Loader.vue";
import ToolTip from "../components/vis/ToolTip.vue";
import VisSelect from "../components/vis/VisSelect.vue";
import ToggleInput from "../components/vis/ToggleInput.vue";
import TextInput from "../components/vis/TextInput.vue";
import Tree from "../components/vis/chartTypes/Tree";
import * as EtymologyTreemap from "../vis/js/EtymologyTreemap.js";
import { URLSearchParams } from "url";
import Vue from "vue";
import VueRouter from "vue-router";

var cookies = document.cookie.split(";").reduce((res, c) => {
  const [key, val] = c
    .trim()
    .split("=")
    .map(decodeURIComponent);
  const allNumbers = str => /^\d+$/.test(str);
  try {
    return Object.assign(res, {
      [key]: allNumbers(val) ? val : JSON.parse(val)
    });
  } catch (e) {
    return Object.assign(res, { [key]: val });
  }
}, {});

var margin = { top: 0, left: 0, bottom: 50, right: 0 };

export default {
  name: "Doublets",
  components: {
    NavBar,
    VisTitle,
    GraphOptionsContainer,
    GraphControlForm,
    ModalMainBrand,
    ModalLightShade,
    ToolTip,
    Loader,
    VisSelect,
    ToggleInput,
    TextInput,
    Tree
  },
  props: {},
  data: function() {
    return {
      currentTree: {},
      Doublets: [],
      Languages: [],
      LanguagesSortedByName: [],
      LanguagesSortedByDoublets: [],
      CurrentLang: "",
      CurrentRoot: "",
      AllLanguages: [],
      ChartHeading: "",
      SVGHeight: 0,
      SVGWidth: 0,
      TitleHeight: 0,
      ShowInfo: false,
      ShowSettings: false,
      ReturnRoots: true,
      ShowFreetextLanguageSearch: false,
      OrderLanguagagesByPopularity: true,
      FreetextLanguageValue: "",
      AutocompleteLanguages: [],
      ScreenHeight: 1000,
      ShowLoader: false,
      LoaderText: ""
    };
  },
  computed: {},
  watch: {
    CurrentLang: {
      handler: function(val) {
        if (val) this.getDoubletsForLang(val);
      }
    },
    CurrentRoot: {
      handler: function(val) {
        if (val) this.getDoubletsForWord(val);
      }
    },
    ReturnRoots: {
      handler: function(val) {
        console.log(val);
        if (this.CurrentLang) {
          this.getDoubletsForLang(this.CurrentLang);
        }
      }
    },
    FreetextLanguageValue: {
      handler: function(val) {
        this.AutocompleteLanguages = this.Languages.filter(
          e =>
            e.displayName.slice(0, val.length).toLowerCase() ===
            val.toLowerCase()
        );
      }
    },
    OrderLanguagagesByPopularity: {
      handler: function(val) {
        this.Languages = val
          ? this.LanguagesSortedByDoublets
          : this.LanguagesSortedByName;
      }
    }
  },
  async created() {
    var languageFetch = await fetch("/django/doublets/get-all-languages", {
      method: "GET"
    });
    this.LoaderText = "Loading languages...";
    this.ShowLoader = true;
    this.ScreenHeight = document.documentElement.clientHeight;
    this.SVGWidth = document.documentElement.clientWidth;
    this.CurrentLang = this.$route.query.lang;
    if (this.CurrentLang) {
      this.getDoubletsForLang(this.CurrentLang);
    }
    var langs = await languageFetch.json();
    console.log(langs);
    this.AllLanguages = langs.results;
    this.LanguagesSortedByDoublets = this.AllLanguages.sort(
      (a, b) => b.count - a.count
    )
      .map(e => ({
        displayName: `${e.name} (${e.count})`,
        value: e.code
      }))
      .filter(
        e =>
          e.displayName.slice(0, 6) !== "Proto-" &&
          e.displayName.slice(0, 4) !== "Old " &&
          e.displayName.slice(0, 7) !== "Middle "
      );

    // languages are ordered by popularity by default
    // if user chooses otherwise, order by name
    this.LanguagesSortedByName = this.LanguagesSortedByDoublets.map(
      e => e
    ).sort((a, b) => {
      if (a.displayName < b.displayName) {
        return -1;
      } else {
        return 1;
      }
    });

    this.Languages = this.OrderLanguagagesByPopularity
      ? this.LanguagesSortedByDoublets
      : this.LanguagesSortedByName;
    this.ShowLoader = false;

    this.AutocompleteLanguages = this.Languages;
    this.CurrentRoot = this.$route.query.rootword;
    if (this.CurrentRoot) {
      this.getDoubletsForWord(this.CurrentRoot);
    }
  },
  updated() {
    if (document.getElementById("graph-options-container")) {
      var containerHeight =
        document.getElementById("graph-options-container").offsetHeight + "px";
      document.getElementById(
        "graph-title-placeholder"
      ).style.height = containerHeight;
    }
  },
  mounted() {
    this.SVGWidth = document.documentElement.clientWidth;
    const ScreenHeight = document.documentElement.clientHeight;
    const NavHeight = this.$el.querySelector("#navbar").getBoundingClientRect()
      .height;
    const OptionHeight = this.$el
      .querySelector("#visOptions")
      .getBoundingClientRect().height;
    this.SVGHeight = ScreenHeight - NavHeight - OptionHeight;
  },
  methods: {
    AutocompleteSelection: function(val) {
      this.CurrentLang = val.value;
      this.AutocompleteLanguages = [];
      this.getDoubletsForLang(this.CurrentLang);
    },
    ToggleReturnRoots(val) {
      this.ReturnRoots = !this.ReturnRoots;
    },
    ToggleShowFreetextLanguageSearch(val) {
      this.ShowFreetextLanguageSearch = !this.ShowFreetextLanguageSearch;
    },
    toggleSettings() {
      this.ShowSettings = !this.ShowSettings;
    },
    getLanguageName(lang) {
      return this.AllLanguages.filter(
        e => e.code === lang || e.code + "-Latn" === lang
      ).concat({ name: lang })[0].name;
    },
    async getDoubletsForLang(lang) {
      var URLQuery = this.$route.query.rootword
        ? { lang: lang, rootword: this.$route.query.rootword }
        : { lang: lang };
      this.$router.push({ query: URLQuery });
      this.CurrentLang = lang;
      this.ShowLoader = true;
      this.LoaderText = "Loading doublets...";
      var staticDataFetch = await fetch("/django/doublets/", {
        method: "POST",
        headers: { "x-csrftoken": cookies.csrftoken },
        body: JSON.stringify({
          requestType: "getDoubletCounts",
          lang: lang,
          returnRoots: this.ReturnRoots
        }),
        credentials: "include",
        mode: "cors"
      });
      var staticData = await staticDataFetch.json();
      this.ShowLoader = false;
      this.Doublets = staticData.results.map(e => ({
        displayName: `${e.doublets
          .map(e2 => e2.latinTranscription)
          .join(",")
          .slice(0, 15)}... (${e.count})`,
        value: e._id.rootLatinTranscription
      }));
    },
    async getDoubletsForWord(rootWord) {
      this.$router.push({
        query: { lang: this.CurrentLang, rootword: rootWord }
      });
      var vm = this;
      this.ShowLoader = true;
      this.LoaderText = "Loading tree...";
      var staticDataFetch = await fetch("/django/doublets/", {
        method: "POST",
        headers: { "x-csrftoken": cookies.csrftoken },
        body: JSON.stringify({
          requestType: "getDoublets",
          lang: this.CurrentLang,
          rootWord: rootWord
        }),
        credentials: "include",
        mode: "cors"
      });
      var staticData = await staticDataFetch.json();
      this.ShowLoader = false;
      staticData = staticData.results.map(e => ({
        topLabel: vm.getLanguageName(e.lang),
        rightLabel: e.latinTranscription,
        id: e._id,
        parentID: e.parentID,
        meaning: e.meaning,
        pathStyle: {},
        circleStyle: {
          fill:
            e.lang === vm.CurrentLang
              ? "var(--dark-accent)"
              : "var(--main-brand)"
        }
      }));
      this.currentTree = this.createHierarchy(staticData)[0];
      this.ChartHeading = `${this.currentTree.topLabel}: ${this.currentTree.rightLabel} (${this.currentTree.meaning})`;
    },
    toggleInfo() {
      this.$store.commit("toggleInfo");
    },
    createHierarchy(inputArray) {
      var idAttr = "id";
      var parentAttr = "parentID";
      var childrenAttr = "children";

      var treeList = [];
      var lookup = {};
      inputArray.forEach(function(obj) {
        lookup[obj[idAttr]] = obj;
        obj[childrenAttr] = [];
      });
      inputArray.forEach(function(obj) {
        if (obj[parentAttr] != "None") {
          lookup[obj[parentAttr]][childrenAttr].push(obj);
        } else {
          treeList.push(obj);
        }
      });
      return treeList;
    }
  }
};
</script>
<style scoped>
#mainForm {
  padding: 3vw;
  max-width: 80%;
}

#mainForm * {
  max-width: 45%;
}
</style>
<style></style>
