<template>
  <div id="app">
    <NavBar ThisPage="Etymology Tree" />
    <span id="visOptions">
      <font-awesome-icon icon="info" @click="ShowInfo = !ShowInfo" />
      <font-awesome-icon icon="cog" @click="ShowSettings = !ShowSettings" />
    </span>
    <VisSelect
      prompt="Choose a root word:"
      id="selectedWord"
      :Options="RootWords"
      :InitialValue="SelectedWord"
      v-model="SelectedWord"
    ></VisSelect>
    <Tree
      :Heading="ChartHeading"
      :TreeData="CurrentTree"
      :SVGHeight="SVGHeight"
      :SVGWidth="SVGWidth"
      Collapse
    ></Tree>
    <div id="bottomMargin">
      <span id="key" class="flex-x">
        <span class="label" id="key-directDescendant">Direct Descendant</span>
        <span class="label" id="key-derivedWord">Derived Word</span>
      </span>
    </div>
    <transition name="fade">
      <ModalLightShade ModalTitle="Settings" v-if="ShowSettings">
        <font-awesome-icon icon="window-close" @click="ShowSettings = false" />
        <h5>Root Language</h5>
        <VisSelect
          :InitialValue="RootLang"
          id="selectRootLang"
          :Options="RootLanguages"
          v-model="RootLang"
        ></VisSelect>
        <VisSelect :Options="Categories"></VisSelect>
        <ToggleInput v-model="ReturnRoots" LabelLeft="Show Roots?"></ToggleInput>
        <ToggleInput v-model="IPATranscriptions" LabelLeft="Latin" LabelRight="IPA"></ToggleInput>
        <SliderInput LabelName="Max Depth" :MinVal="1" :MaxVal="10" :DefaultVal="6"></SliderInput>
        <ToggleInput LabelLeft="Admin Mode"></ToggleInput>
        <TextInput PlaceholderText="Admin Code"></TextInput>
      </ModalLightShade>
    </transition>
    <transition name="fade">
      <ModalMainBrand v-if="this.$store.state.ShowInfo">
        <h3 class="title-font">Info</h3>
        <p>
          Like most things in life, language changes. The language we speak today isn't the
          same as the language our grandparents spoke, and the language our grandchildren we
          speak will be very different to the language we speak. Measured over the course of
          a few generations, this change is quite minor; our grandparents will easily be able
          to understand our grandchildren. However, given enough time, languages can diverge
          to the point that they are no longer mutually intelligable.
        </p>
        <p>
          Take English and Hindi as an example. You can be completely fluent in one and have
          no understanding of the other at all, but if you go back far enough (about 10,000
          years), you find that these languages share a common ancestor, called Proto-Indo-European.
          This is the case for all other natural languages - they didn't just spring out of
          nowhere; they evolved from a language spoken millenia ago.
        </p>
        <p>
          Etymology is the study of where words come from, and is the focus of this visualisation.
          Choose a word on this page, from a proto-language spoken thousands of years ago, and
          you can see how that word has evolved over generations into a wide selection of words
          in languages spoken today (and also in languages that have long since died out).
        </p>
        <p>
          Note that just as pronunciations change, so can meanings. e.g. in PIE, the word for woman
          is "*gʷḗn". Over time, this word has become the english word "Queen".
        </p>
        <p>
          If a word in this chart has a "*" before it, then this word has been reconstructed, so we
          can't say for certain that it appeared this way - it's simply our best guess of how this
          word would've sounded, based on comparing the words that evolved from it.
        </p>
        <button @click="toggleInfo()">Close</button>
      </ModalMainBrand>
    </transition>
    <Loader v-if="ShowLoader" :LoaderProgress="LoaderText" @click="HideLoader()"></Loader>
  </div>
</template>

<script>
import NavBar from "../components/NavBar.vue";
import VisTitle from "../components/vis/VisTitle.vue";
import VisSelect from "../components/vis/VisSelect.vue";
import ToggleInput from "../components/vis/ToggleInput.vue";
import SliderInput from "../components/vis/SliderInput.vue";
import TextInput from "../components/vis/TextInput.vue";
import GraphOptionsContainer from "../components/vis/GraphOptionsContainer.vue";
import GraphControlForm from "../components/vis/GraphControlForm.vue";
import * as EtymologyTreemap from "../vis/js/EtymologyTreemap.js";
import LanguageGroups from "../assets/indoEuropeanGroups.json";
import ModalMainBrand from "../components/ModalMainBrand.vue";
import ModalLightShade from "../components/ModalLightShade.vue";
import Tree from "../components/vis/chartTypes/Tree";
import Loader from "../components/Loader.vue";
// Vue.use(EtymologyJS);

var allLanguages;
async function getAllLanguages() {
  allLanguages = await EtymologyTreemap.getAllLanguages();
}
getAllLanguages();

var cookies = document.cookie.split(";").reduce((res, c) => {
  const [key, val] = c
    .trim()
    .split("=")
    .map(decodeURIComponent);
  const allNumbers = str => /^\d+$/.test(str);
  try {
    return Object.assign(res, {
      [key]: allNumbers(val) ? val : JSON.parse(val)
    });
  } catch (e) {
    return Object.assign(res, { [key]: val });
  }
}, {});

export default {
  name: "EtymologyTreemap",
  components: {
    NavBar,
    VisTitle,
    VisSelect,
    ToggleInput,
    SliderInput,
    TextInput,
    GraphOptionsContainer,
    GraphControlForm,
    ModalMainBrand,
    ModalLightShade,
    Tree,
    Loader
  },
  data: function() {
    return {
      CurrentTree: {},
      ShowSettings: false,
      ReturnRoots: false,
      IPATranscriptions: false,
      RootLanguages: [],
      Categories: [],
      RootWords: [],
      RootLang: "ine-pro",
      AllLanguages: [],
      SVGHeight: 0,
      SVGWidth: 0,
      SelectedWord: "",
      ShowLoader: false,
      LoaderText: "",
      LegendHeight: 0,
      LanguageFetch: Promise
    };
  },
  computed: {
    ChartHeading: function() {
      return this.CurrentTree.topLabel
        ? `${this.CurrentTree.topLabel}: ${this.CurrentTree.latinTranscription} (${this.CurrentTree.meaning})`
        : null;
    }
  },
  watch: {
    SelectedWord: function(val) {
      this.DrawChart(val);
    },
    IPATranscriptions: function() {},
    ReturnRoots: async function() {
      this.RootWords = await this.getAllRootWords();
    },
    RootLang: async function() {
      this.RootWords = await this.getAllRootWords();
    },
    RootLanguages: function(val) {},
    SVGHeight: function() {
      if (this.SelectedWord) this.DrawChart(this.SelectedWord);
    }
  },
  async beforeCreate() {
    this.RootLanguages = [];

    this.LanguageFetch = await fetch("/django/doublets/get-all-languages", {
      method: "GET"
    });

    var rootWords = this.getAllRootWords();
    this.LoaderText = "Loading languages...";
    this.ShowLoader = true;
    this.Categories = [
      { displayName: "All", value: "all" },
      { displayName: "Nouns", value: "nouns" },
      { displayName: "Verbs", value: "verbs" }
    ];
    rootWords = await rootWords;
    await this.LanguageFetch;
    var AllLanguages = await this.LanguageFetch.json();
    this.AllLanguages = AllLanguages.results;
    var rootLangs = this.getAllRootLangs();
    rootLangs = await rootLangs;
    this.RootWords = rootWords;
    this.RootLanguages = rootLangs;
    this.ShowLoader = false;
  },
  created() {},
  async mounted() {
    this.SVGWidth = document.documentElement.clientWidth;
    const ScreenHeight = document.documentElement.clientHeight;
    const LegendHeight = this.$el
      .querySelector("#bottomMargin")
      .getBoundingClientRect().height;
    const NavHeight = this.$el.querySelector("#navbar").getBoundingClientRect()
      .height;
    const OptionHeight = this.$el
      .querySelector("#visOptions")
      .getBoundingClientRect().height;
    this.SVGHeight = ScreenHeight - NavHeight - OptionHeight - LegendHeight;
    var queryWord = this.$route.query.word;
    await this.LanguageFetch;
    console.log("mounted");
    await this.LanguageFetch.json();
    if (queryWord) {
      console.log(this.LanguageFetch);
      this.DrawChart(queryWord);
    }
  },
  updated() {
    if (document.getElementById("graph-options-container")) {
      var containerHeight =
        document.getElementById("graph-options-container").offsetHeight + "px";
      document.getElementById(
        "graph-title-placeholder"
      ).style.height = containerHeight;
    }
  },
  methods: {
    toggleSettings: function() {
      this.$store.commit("toggleSettings");
    },
    toggleInfo() {
      this.$store.commit("toggleInfo");
      if (this.$store.state.FirstLoad) {
        this.$store.commit("toggleControl");
        this.$store.commit("toggleFirstLoad");
      }
    },
    // get every root language - no arguments
    getAllRootLangs: async function() {
      var rootLangs = EtymologyTreemap.getAllRootLangs();
      rootLangs = await rootLangs;

      // after we've awaited the value, put the array into
      // a format our <select> list wants
      rootLangs = rootLangs.results.map(e => ({
        displayName: this.AllLanguages.find(e2 => e2.code === e)
          ? this.AllLanguages.find(e2 => e2.code === e).name
          : e,
        value: e
      }));

      return rootLangs;
    },

    // get every root word for the current root lang
    getAllRootWords: async function() {
      const result = await fetch("/django/indo-european-cognates-2/", {
        method: "POST",
        headers: { "x-csrftoken": cookies.csrftoken },
        body: JSON.stringify({
          requestType: "getDistinctRoots",
          rootLang: this.RootLang,
          returnRoots: this.ReturnRoots
        }),
        credentials: "include",
        mode: "cors"
      });
      var rootWords = await result.json();

      return rootWords.results.map(e => ({
        displayName: `${e.rootLatinTranscription} (${e.word})`,
        value: e.rootLatinTranscription
      }));
    },

    ChangeRootLang: function(val) {
      this.RootLang = document.getElementById("selectRootLang").value;
      this.getAllRootWords();
    },
    createHierarchy(inputArray) {
      var idAttr = "id";
      var parentAttr = "parentID";
      var childrenAttr = "children";

      var treeList = [];
      var lookup = {};
      inputArray.forEach(function(obj) {
        lookup[obj[idAttr]] = obj;
        obj[childrenAttr] = [];
      });
      inputArray.forEach(function(obj) {
        if (obj[parentAttr] != "None") {
          lookup[obj[parentAttr]][childrenAttr].push(obj);
        } else {
          treeList.push(obj);
        }
      });
      return treeList;
    },

    getLanguageName(lang) {
      return this.AllLanguages.filter(
        e => e.code === lang || e.code + "-Latn" === lang
      ).concat({ name: lang })[0].name;
    },

    DrawChart: async function(val) {
      var vm = this;
      this.SelectedWord = val;
      this.$router.push({
        query: { word: this.SelectedWord }
      });
      // this.$store.commit("toggleControl");
      var navBar = document.getElementById("navbar");
      var navHeight = navBar ? navBar.offsetHeight : 0;
      var graphOptionsContainer = document.getElementById(
        "graph-options-container"
      );
      var graphOptionsHeight = graphOptionsContainer
        ? graphOptionsContainer.offsetHeight
        : 0;
      var bottomMarginHeight = this.$el.querySelector("#bottomMargin")
        .offsetHeight;

      const result = await fetch("/django/indo-european-cognates-2/", {
        method: "POST",
        headers: { "x-csrftoken": cookies.csrftoken },
        body: JSON.stringify({
          requestType: "getWord",
          word: this.SelectedWord
        }),
        credentials: "include",
        mode: "cors"
      });

      var descendantWords = await result.json();
      // how much space do we have?
      var screenHeight = window.innerHeight;
      var navHeight = document.getElementById("navbar").offsetHeight;
      var svgHeight = this.SVGHeight;
      var svgWidth = this.svgWidth;
      // document.getElementById("svgCanvas").innerHTML = "";
      descendantWords = descendantWords.results.map(e => ({
        topLabel: vm.getLanguageName(e.lang),
        rightLabel: e.latinTranscription,
        lang: e.lang,
        parentLang: e.parentLang,
        latinTranscription: e.latinTranscription,
        parentLatinTranscription: e.parentLatinTranscription,
        id: e._id,
        parentID: e.parentID,
        meaning: e.meaning,
        pathStyle: {},
        circleStyle: {
          fill: "var(--main-brand)"
        },
        pathStyle: {
          stroke:
            e.lang === e.parentLang || e.lang === this.RootLang
              ? "var(--main-brand)"
              : "var(--light-accent)"
        }
      }));
      this.CurrentTree = EtymologyTreemap.createHierarchy(
        descendantWords,
        this.RootLang,
        this.SelectedWord,
        LanguageGroups
      );
    }
  }
};

async function getInitialData() {
  var rootLangs = await EtymologyTreemap.getAllRootLangs(cookies.csrftoken);
  return rootLangs.results;
}
getInitialData();
</script>
<style scoped>
#selectRootLang {
  display: block;
  margin: auto;
}

select {
  max-width: 80%;
}

#key {
  width: 55%;
}

#key-directDescendant {
  margin: 0px 2px;
  border-bottom: 2px solid var(--light-accent);
}

#key-derivedWord {
  margin: 0px 2px;
  border-bottom: 2px solid var(--main-brand);
}

#key-borrowedWord {
  margin: 0px 2px;
  border-bottom: 2px solid #ea9c6a;
}

#key-soundChange {
  margin: 0px 2px;
  border-bottom: 2px solid var(--dark-accent);
}

#bottomMargin {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-bottom: 10px;
}

#bottomMargin svg[data-icon="cog"] {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 4vh;
}
</style>
<style>
body {
  margin: 0px;
}

#graph-title-placeholder {
  /* box-shadow: 0px 0px 10px 5px var(--light-accent); */
  padding: 10px 0px;
}

#graph-control-form {
  background-color: var(--light-shades);
  /* box-shadow: 0px 0px 10px 5px var(--light-accent); */
  /* padding-bottom: 10px; */
  overflow: hidden;
}

#graph-control-form > * {
  margin-bottom: 10px;
}

circle.node {
  fill: var(--main-brand);
}

circle.node[data-children="true"] {
  stroke: var(--dark-shades);
  stroke-width: 2;
  r: 6px;
}

circle.node[data-children="false"] {
  r: 5px;
}

.label {
  font-family: var(--title-font);
  stroke: var(--dark-shades);
  stroke-width: 0.1;
}

.cognate-label,
.graph-headword {
  font-family: var(--body-font);
  stroke: var(--dark-shades);
  stroke-width: 0.1;
}

svg[data-icon="cog"] {
  float: right;
  color: var(--main-brand);
}

#selectedWord {
  margin-top: 1vh;
  max-width: 60%;
}
</style>
