<template>
  <div id="app">
    <NavBar :ThisPage="NavTitle" />
    <span id="visOptions">
      <font-awesome-icon icon="info" @click="ShowInfo = !ShowInfo" />
      <font-awesome-icon icon="cog" @click="ShowSettings = !ShowSettings" />
      <div id="graphOptions">
        <TextInput
          :InitialValue="CurrentLanguage"
          v-model="CurrentLanguage"
          :AutocompleteItems="AutocompleteLanguages"
          PlaceholderText="Enter a language..."
        ></TextInput>
        <TextInput
          v-model="TextInputWord"
          :AutocompleteItems="AutocompleteItems"
          PlaceholderText="Enter a word..."
        ></TextInput>
      </div>
    </span>
    <ForceGraph
      :ComponentHeight="SVGHeight"
      :ComponentWidth="SVGWidth"
      :Graph="Graph"
      :Forces="ForceOptions"
      @ClickNode="ClickGraphNode"
    ></ForceGraph>
    <transition name="fade">
      <ModalLightShade ModalTitle="Settings" v-if="ShowSettings" @hideSettings="ShowSettings=false">
        <h4>Show Full Language Names</h4>
        <ToggleInput v-model="ShowFullLanguageNames" LabelLeft="Codes" LabelRight="Full Names"></ToggleInput>
        <h4>Show IPA Transcriptions (where possible)</h4>
        <ToggleInput v-model="ShowIPA" LabelLeft="No" LabelRight="Yes"></ToggleInput>
        <h4>Return compound words/terms</h4>
        <ToggleInput v-model="ReturnCompoundTerms" LabelLeft="No" LabelRight="Yes"></ToggleInput>
        <div>
          <button            class="cta ctaDarkShades"
 @click="Unstick()">Unstick</button>
        </div>
        <div>
          <button @click="ShowSettings=false">Close</button>
        </div>
      </ModalLightShade>
    </transition>
    <transition name="fade">
      <ModalMainBrand v-if="ShowInfo">
        <button @click="ShowInfo = false">Close</button>
      </ModalMainBrand>
    </transition>
    <transition name="fade">
      <SmallModal :ModalStyle="ModalStyle" v-if="ShowModal">
        <div>
          <button
            class="cta ctaGreen"
            @click="ShowModal=false; expandNode(CurrentNode)"
          >Add Children</button>
          <button
            class="cta ctaYellow"
            @click="ShowModal=false; removeChildren(CurrentNode)"
          >Remove Children</button>
        </div>
        <div>
          <button class="cta ctaGreen" @click="ShowModal=false; addParents(CurrentNode)">Add Parents</button>
          <button
            class="cta ctaYellow"
            @click="ShowModal=false; removeParents(CurrentNode)"
          >Remove Parents</button>
        </div>
        <div>
          <button class="cta ctaRed" @click="ShowModal=false; removeNode(CurrentNode)">Remove Node</button>
        </div>
        <div>
          <button
            class="cta ctaGreen"
            @click="ShowModal=false; getEntireEtymology(CurrentNode)"
          >Get Entire Etymology</button>
          <button
            class="cta ctaGreen"
            @click="ShowModal=false; GetDoublets(CurrentNode)"
          >Get Doublets</button>
        </div>
        <div>
          <button class="cta ctaBlue" @click="ShowModal=false">Close</button>
        </div>
      </SmallModal>
    </transition>
    <Loader v-if="ShowLoader" :LoaderProgress="LoaderText" @click="HideLoader()"></Loader>
  </div>
</template>

<script>
import NavBar from "../components/NavBar.vue";
import VisTitle from "../components/vis/VisTitle.vue";
import VisSelect from "../components/vis/VisSelect.vue";
import ToggleInput from "../components/vis/ToggleInput.vue";
import SliderInput from "../components/vis/SliderInput.vue";
import TextInput from "../components/vis/TextInput.vue";
import GraphOptionsContainer from "../components/vis/GraphOptionsContainer.vue";
import GraphControlForm from "../components/vis/GraphControlForm.vue";
import * as EtymologyTreemap from "../vis/js/EtymologyTreemap.js";
import LanguageGroups from "../assets/indoEuropeanGroups.json";
import ModalMainBrand from "../components/ModalMainBrand.vue";
import ModalLightShade from "../components/ModalLightShade.vue";
import SmallModal from "../components/SmallModal.vue";
import Tree from "../components/vis/chartTypes/Tree";
import Loader from "../components/Loader.vue";
import ForceGraph from "../components/vis/chartTypes/ForceGraph.vue";
var _ = require("lodash");

var cookies = document.cookie.split(";").reduce((res, c) => {
  const [key, val] = c
    .trim()
    .split("=")
    .map(decodeURIComponent);
  const allNumbers = str => /^\d+$/.test(str);
  try {
    return Object.assign(res, {
      [key]: allNumbers(val) ? val : JSON.parse(val)
    });
  } catch (e) {
    return Object.assign(res, { [key]: val });
  }
}, {});

export default {
  name: "EtymologyWeb",
  components: {
    NavBar,
    VisTitle,
    VisSelect,
    ToggleInput,
    SliderInput,
    TextInput,
    GraphOptionsContainer,
    GraphControlForm,
    ModalMainBrand,
    ModalLightShade,
    SmallModal,
    Tree,
    Loader,
    ForceGraph
  },
  props: {},
  data: function() {
    return {
      CurrentTree: {},
      ShowSettings: false,
      ReturnRoots: false,
      IPATranscriptions: false,
      SVGHeight: 0,
      SVGWidth: 0,
      SelectedWord: "",
      ShowInfo: false,
      ShowLoader: false,
      LoaderText: "",
      Graph: { nodes: [], links: [] },
      ExpandedNodes: [],
      ShowFullLanguageNames: true,
      ShowIPA: false,
      ReturnCompoundTerms: false,
      ShowModal: false,
      CurrentNode: {},
      InputWord: {
        languageCode: "en",
        languageName: "English",
        latinTranscription: "water"
      },
      InputWordWhite: {
        languageCode: "en",
        languageName: "English",
        latinTranscription: "elf"
      },
      TextInputWord: "",
      AutocompleteItems: [],
      CurrentMode: "",
      AllLanguages: [],
      CurrentLanguage: "English",
      ForceOptions: {
        linkDistance: 80,
        linkStrength: 1,
        nodeCharge: -250,
        xGravityCentre: 0,
        yGravityCentre: 0,
        xGravityStrength: 0.05,
        yGravityStrength: 0.05
      }
    };
  },
  computed: {
    AutocompleteLanguages: function() {
      return this.AllLanguages.filter(e =>
        e.name.toLowerCase().startsWith(this.CurrentLanguage.toLowerCase())
      ).map(e => ({ value: e.code, displayName: e.name }));
    },
    ModalStyle: function() {
      return {
        left: document.documentElement.clientWidth / 2 + "px",
        top: document.documentElement.clientHeight / 2 + "px",
        transform: "translate(-50%,-50%)"
      };
    },
    NavTitle: function() {
      switch (this.$route.query.mode) {
        case "doublets":
          return "Doublets";
          break;
        case "etymology":
          return "Etymology";
          break;
        default:
          return "default";
          break;
      }
      return this.CurrentMode;
    }
  },
  watch: {
    CurrentLanguage: function(val) {
      this.TextInputWord = "";
      this.AutocompleteItems = [];
    },
    ShowFullLanguageNames: function(val) {
      var nodes = this.Graph.nodes.map(e=>{
        let thisElement = e;
        thisElement.label1 = val ? e.languageName : e.languageCode;
        return thisElement;         
      })

      this.Graph = {
        nodes,
        links: this.Graph.links
      }
    },
    ShowIPA: function(val) {
      var nodes = this.Graph.nodes.map(e=>{
        let thisElement = e;
        thisElement.label2 = val ? e.ipaTranscription || e.latinTranscription : e.latinTranscription;
        return thisElement;         
      })

      this.Graph = {
        nodes,
        links: this.Graph.links
      }
    },
    TextInputWord: async function(val) {
      // only get words if we've got a few letters
      if (val.length > 1) {
        this.GetAutoCompleteOptions(val);

        const thisItem = this.AutocompleteItems.find(e => e.value === val);
        const returnedNode = thisItem ? this.getWord(thisItem.node) : undefined;
        if (returnedNode) {
          var newNode = await returnedNode;
          newNode = newNode.nodes[0];
          this.ProcessWord(this.CurrentMode, newNode);
        }
      }
    }
  },
  async beforeCreate() {},
  created() {},
  async mounted() {
    var languageFetch = await fetch("/django/etymology-map/get-all-languages", {
      method: "GET"
    });
    var langs = await languageFetch.json();

    this.AllLanguages = langs.languages.map(e => ({ code: e[0], name: e[1] }));

    // set the current mode. this decides what happens when a word is chosen
    if (this.$route.query.mode) this.CurrentMode = this.$route.query.mode;
    if (this.$route.query.lang) this.CurrentLanguage = this.$route.query.lang;
    if (this.$route.query.word) this.TextInputWord = this.$route.query.word;

    var optionsBox = document
      .querySelector("#graphOptions")
      .getBoundingClientRect();
    var svgStart = optionsBox.y + optionsBox.height;
    this.SVGHeight = document.documentElement.clientHeight - svgStart - 60;
    if (this.CurrentLanguage && this.TextInputWord) {
      const urlLanguage = this.AllLanguages.find(
        e =>
          e.name.toLowerCase() === this.CurrentLanguage.toLowerCase() ||
          e.code.toLowerCase() === this.CurrentLanguage.toLowerCase()
      );
      const urlWord = {
        languageName: urlLanguage.name,
        languageCode: urlLanguage.code,
        latinTranscription: this.TextInputWord
      };
    }
  },
  updated() {
    this.SVGWidth = document.documentElement.clientWidth;
  },
  methods: {
    ProcessWord: function(mode, node) {
      switch (mode) {
        case "etymology":
          this.getEntireEtymology(node);
          break;
        case "doublets":
          this.GetDoublets(node);
          break;
        case "soundchange":
          break;
        default:
          break;
      }
    },
    GetGraphData: function(data) {
      // we only want the new nodes
      var newNodes = data.nodes.filter(e => !this.Graph.nodes.map(g => g.id).includes(e.id));

      // only keep "new" links (i.e. those that link to new nodes)
      var newLinks = data.links.filter(
        e =>
          newNodes.map(g => g.id).includes(e.source) ||
          newNodes.map(g => g.id).includes(e.target)
      );

      // remove any old links that exist in the new data
      newLinks = newLinks.concat(
        this.Graph.links.filter(
          e => newLinks.map(l => l.id).includes(e.id) === false
        )
      );

      let nodes = newNodes.map(e => {
        let lang = this.ShowFullLanguageNames ? e.languageName : e.languageCode;
        let word = this.ShowIPA
          ? e.ipaTranscription || e.latinTranscription
          : e.latinTranscription;

        return {
          ...e,
          label1: lang,
          label2: word
        };
      });
      return { links: data.links, nodes: nodes };
    },
    ClickGraphNode: function(val) {
      this.CurrentNode = val.node;

      this.ModalPosition = {
        left: document.documentElement.clientWidth / 2 + "px",
        top: document.documentElement.clientHeight / 2 + "px"
      };
      this.ShowModal = true;
    },
    GetAutoCompleteOptions: _.debounce(async function(str) {
      const wordAlreadyPlotted = this.Graph.nodes.find(
        e => e.latinTranscription === str
      );
      if (!wordAlreadyPlotted) {
        this.ShowLoader = true;
        this.LoaderText = "Finding matches...";
      }
      var wordFetch = await fetch("/django/etymology-map/autocomplete", {
        method: "POST",
        headers: { "x-csrftoken": cookies.csrftoken },
        credentials: "include",
        mode: "cors",
        body: JSON.stringify({
          searchTerm: str,
          language: this.CurrentLanguage,
          returnCompoundTerms: this.ReturnCompoundTerms
        })
      });

      var graph = await wordFetch.json();
      if (graph.searchTerm.toLowerCase() === this.TextInputWord.toLowerCase()) {
        this.AutocompleteItems = graph.nodes
          .sort((a, b) =>
            a.latinTranscription.toLowerCase() >
            b.latinTranscription.toLowerCase()
              ? 1
              : -1
          )
          .map(e => ({
            node: e,
            displayName: e.latinTranscription,
            value: e.latinTranscription.replace(" ", "-")
          }));
        this.ShowLoader = false;
        this.LoaderText = "";

        // if there's an exact match then plot it
        const matchingWord = graph.nodes.find(
          e => e.latinTranscription === str
        );

        if (matchingWord && !wordAlreadyPlotted) {
          this.Graph = this.GetGraphData({
            nodes: [matchingWord],
            links: []
          });
          this.ProcessWord(this.CurrentMode, matchingWord);
        }
      }

      return;
    }, 900),
    getAllWords: async function() {
      var wordFetch = await fetch("/django/etymology-map/all-words");
      var graph = await wordFetch.json();
      this.Graph = graph;
      return;
    },
    getRootWord: async function() {
      var wordFetch = await fetch("/django/etymology-map/root-word");
      var graph = await wordFetch.json();
      this.Graph = graph;
      return;
    },
    getWord: async function(inputWord) {
      var URLQuery = { ...this.$route.query } || {};
      URLQuery.word = inputWord.latinTranscription;
      URLQuery.lang = this.CurrentLanguage;

      this.$router.push({
        query: URLQuery
      });

      var wordFetch = await fetch("/django/etymology-map/add-word", {
        method: "POST",
        headers: { "x-csrftoken": cookies.csrftoken },
        credentials: "include",
        mode: "cors",
        body: JSON.stringify({
          node: inputWord
        })
      });

      var graph = await wordFetch.json();
      this.Graph = this.GetGraphData(graph);
      return graph;
    },
    async getEntireEtymology(inputWord) {
      this.ShowLoader = true;
      var wordFetch = await fetch("/django/etymology-map/add-etymology", {
        method: "POST",
        headers: { "x-csrftoken": cookies.csrftoken },
        credentials: "include",
        mode: "cors",
        body: JSON.stringify({
          node: inputWord
        })
      });

      var graph = await wordFetch.json();
      this.ShowLoader = false;

      var newData = this.GetGraphData(graph);

      this.Graph = {
        nodes: this.Graph.nodes.concat(newData.nodes),
        links: this.Graph.links.concat(newData.links)
      };

      return;
    },
    async GetDoublets(inputWord) {
      this.ShowLoader = true;
      var wordFetch = await fetch("/django/etymology-map/doublets", {
        method: "POST",
        headers: { "x-csrftoken": cookies.csrftoken },
        credentials: "include",
        mode: "cors",
        body: JSON.stringify({
          node: inputWord,
          returnCompoundTerms: this.ReturnCompoundTerms
        })
      });

      var graph = await wordFetch.json();
      this.ShowLoader = false;

      var newData = this.GetGraphData(graph);

      this.Graph = {
        nodes: this.Graph.nodes.concat(newData.nodes),
        links: this.Graph.links.concat(newData.links)
      };

      return;
    },
    addParents: async function(node) {
      var wordFetch = await fetch("/django/etymology-map/add-parents", {
        method: "POST",
        headers: { "x-csrftoken": cookies.csrftoken },
        credentials: "include",
        mode: "cors",
        body: JSON.stringify({
          node: node
        })
      });
      var graph = await wordFetch.json();

      var newData = this.GetGraphData(graph);

      this.Graph.nodes.push(newData.nodes);
      this.Graph.links.push(newData.links);

      return;
    },
    removeParents: function(node) {
      const thisID = node.id;
      const parentNodes = this.Graph.links
        .filter(e => e.target.id === thisID)
        .map(e => e.source.id);
      const newNodes = this.Graph.nodes.filter(
        e => parentNodes.indexOf(e.id) === -1
      );
      const newLinks = this.Graph.links.filter(
        e => parentNodes.indexOf(e.source.id) === -1
      );
      this.Graph = this.GetGraphData({
        nodes: newNodes,
        links: newLinks
      });
      this.ShowModal = false;
    },
    removeNode: function(node) {
      this.removeChildren(node);
      const thisID = node.id;
      const newNodes = this.Graph.nodes.filter(e => e.id !== thisID);
      const newLinks = this.Graph.links.filter(e => e.target.id !== thisID);
      this.Graph = {
        nodes: newNodes,
        links: newLinks
      };
      this.ShowModal = false;
      this.RemoveOrphans(); // clean up after ourselves
    },
    RemoveOrphans: function() {
      var connectedNodes = new Set();
      this.Graph.links.forEach(e => connectedNodes.add(e.source.id));
      this.Graph.links.forEach(e => connectedNodes.add(e.target.id));
      this.Graph.nodes = this.Graph.nodes.filter(e => connectedNodes.has(e.id));
    },
    removeChildren: function(node) {
      const thisID = node.id;
      var childNodes = this.Graph.links.filter(e => e.source.id === thisID).map(e=>e.target);
      
      var childNodesWithMultipleParents = [];
      var childNodesWithOneParent = [];
      childNodes.forEach(c=>{
        let childID = c.id;
        let parentLinks = this.Graph.links.filter(l=>l.target.id===childID);
        parentLinks.length <= 1 ? childNodesWithOneParent.push(childID) : childNodesWithMultipleParents.push(childID);
      })

      // new nodes are all those that don't have one parent
      var newNodes = this.Graph.nodes.filter(e => !childNodesWithOneParent.includes(e.id));

      // new links are all those that 
      // (1) don't originate from our node,
      // and
      // (2) don't originate from from any nodes we remove
      var newLinks = this.Graph.links.filter(e => e.source.id !== thisID && !childNodesWithOneParent.includes(e.source.id));

      this.Graph = {
        nodes: newNodes,
        links: newLinks
      };
      this.ShowModal = false;
      this.RemoveOrphans(); // clean up after ourselves
    },
    expandNode: async function(node) {
      var wordFetch = await fetch("/django/etymology-map/expand-node", {
        method: "POST",
        headers: { "x-csrftoken": cookies.csrftoken },
        credentials: "include",
        mode: "cors",
        body: JSON.stringify({
          node: node,
          returnCompoundTerms: this.ReturnCompoundTerms
        })
      });
      var graph = await wordFetch.json();

      var newData = this.GetGraphData(graph);

      this.Graph = {
        nodes: this.Graph.nodes.concat(newData.nodes),
        links: this.Graph.links.concat(newData.links)
      };

      return;
    },
    toggleSettings: function() {
      this.$store.commit("toggleSettings");
    },
    toggleInfo() {
      this.$store.commit("toggleInfo");
      if (this.$store.state.FirstLoad) {
        this.$store.commit("toggleControl");
        this.$store.commit("toggleFirstLoad");
      }
    },
    ClickNode(node, ev) {
      this.CurrentNode = node;
      this.ShowModal = true;
    },
    Unstick: function() {
      this.Graph.nodes.forEach(e => {
        // remove fixed x,y positions
        e.fx = null;
        e.fy = null;
        return;
      });
      // draw the chart to reapply force simulation
      // (with nodes now unstuck)
      // this.DrawChart(this.Graph);
    }
  }
};
</script>
<style scoped>
#svgCanvas >>> .node circle {
  fill: var(--main-brand);
}
#svgCanvas >>> .node text {
  font-family: var(--title-font);
  font-size: 0.8em;
  fill: var(--dark-shades);
}

.modal button {
  margin: 1vh auto;
}
</style>

