<template>
  <div id="vis">
    <NavBar ThisPage="FPL Value" />
    <font-awesome-icon icon="cog" @click="ShowSettings = !ShowSettings" />
    <form onsubmit="return false;">
      <RadioInput
        v-if="this.$store.state.ShowControl"
        v-model="ChosenPosition"
        RadioName="FPLPosition"
        :Options="AllPositions"
        :InitialValue="ChosenPosition"
      ></RadioInput>
      <div class="flex-x">
        <VisSelect prompt="Choose a club..." :Options="SelectAllClubs" @input="ChangeClub"></VisSelect>
        <VisSelect
          id="playerSelect"
          prompt="Choose a player..."
          :Options="[{ displayName: 'All', value: 'ALL' }, ...AvailablePlayers]"
          @input="SelectPlayer"
        ></VisSelect>
      </div>
    </form>
    <ScatterGraph
      XAxisLabel="EPPG per Extra 1M Spent"
      YAxisLabel="Extra Points per Game (EPPG)"
      :SVGHeight="SVGHeight"
      :SVGWidth="SVGWidth"
      :Points="PlayerPoints"
    ></ScatterGraph>
    <transition name="fade">
      <ModalLightShade ModalTitle="Settings" v-if="ShowSettings">
        <font-awesome-icon icon="window-close" @click="ShowSettings = false" />
        <form v-on:submit.prevent="onSubmit">
          <h3 class="title-font">Settings</h3>
          <SliderInput
            LabelName="History"
            :MinVal="1"
            :MaxVal="38"
            :DefaultVal="Number(ChosenHistoryLength)"
            v-model="ChosenHistoryLength"
          ></SliderInput>
          <SliderInput
            LabelName="Price Limit"
            :MinVal="4"
            :MaxVal="13"
            :DefaultVal="13"
            v-model="MaxPrice"
          ></SliderInput>
          <label for="basepoints">
            <input type="number" min="-10" max="10" name="basePoints" v-model="BaselinePoints" />
            Base Points
          </label>
          <button @click="ChosenPlayers = []">Reset</button>
          <button @click="ShowSettings = !ShowSettings">Close</button>
        </form>
      </ModalLightShade>
    </transition>
    <ToolTip :ToolTipHTML="ToolTipHTML" v-if="ShowToolTip" :Left="ToolTipLeft" :Top="ToolTipTop"></ToolTip>
    <Loader v-if="ShowLoader" @click="ShowLoader = false" :LoaderProgress="LoaderMessage"></Loader>
  </div>
</template>

<script>
import NavBar from "../components/NavBar.vue";
import VisTitle from "../components/vis/VisTitle.vue";
import GraphOptionsContainer from "../components/vis/GraphOptionsContainer.vue";
import GraphControlForm from "../components/vis/GraphControlForm.vue";
import ModalLightShade from "../components/ModalLightShade.vue";
import ModalMainBrand from "../components/ModalMainBrand.vue";
import Loader from "../components/Loader.vue";
import SliderInput from "../components/vis/SliderInput.vue";
import RadioInput from "../components/vis/RadioInput.vue";
import ToolTip from "../components/vis/ToolTip.vue";
import VisSelect from "../components/vis/VisSelect.vue";
import ScatterGraph from "../components/vis/chartTypes/ScatterGraph.vue";
import SelectedOption from "../components/vis/SelectedOption.vue";

var cookies = document.cookie.split(";").reduce((res, c) => {
  const [key, val] = c
    .trim()
    .split("=")
    .map(decodeURIComponent);
  const allNumbers = str => /^\d+$/.test(str);
  try {
    return Object.assign(res, {
      [key]: allNumbers(val) ? val : JSON.parse(val)
    });
  } catch (e) {
    return Object.assign(res, { [key]: val });
  }
}, {});

var margin = { top: 0, left: 0, bottom: 50, right: 0 };

export default {
  name: "FPLValue",
  components: {
    NavBar,
    VisTitle,
    GraphOptionsContainer,
    GraphControlForm,
    ModalMainBrand,
    ModalLightShade,
    SliderInput,
    RadioInput,
    ToolTip,
    Loader,
    VisSelect,
    ScatterGraph,
    SelectedOption
  },
  props: {},
  data: function() {
    return {
      StaticData: {},
      MaxPrice: 15,
      AllPositions: [{ displayName: "All", value: "ALL" }],
      AvailablePlayers: [],
      AllClubs: [],
      SelectAllClubs: [],
      AllPlayers: [],
      ChosenPlayers: [],
      ChosenClub: "ALL",
      ChosenPosition: "ALL",
      ChosenHistoryLength: 5,
      MinGK: Number,
      MinDef: Number,
      MinMid: Number,
      MinFwd: Number,
      navHeight: Number,
      SVGHeight: Number,
      SVGWidth: Number,
      ToolTipLeft: "10px",
      ToolTipTop: "300px",
      ShowToolTip: false,
      ToolTipHTML: "",
      ShowLoader: false,
      LoaderMessage: "",
      LoaderCurrent: 0,
      LoaderTotal: 0,
      ShowSettings: false,
      BaselinePoints: 2
    };
  },
  computed: {
    PlayerPoints: function() {
      var vm = this;
      function getColourFromPosition(position) {
        switch (position) {
          case "GKP":
            return "#8c66ff";
            break;
          case "DEF":
            return "#ff6666";
            break;
          case "MID":
            return "#66b3ff";
            break;
          case "FWD":
            return "#66ff66";
            break;
        }
      }

      function getMinimumCostForPosition(position) {
        return vm.AllPositions.filter(e => e.value === position)[0].minCost;
      }

      function getAverageScore(player) {
        var pointsInPeriod = player.allScores.slice(-vm.ChosenHistoryLength);

        var averagePoints = pointsInPeriod
          .map(e => e.total_points - vm.BaselinePoints)
          .reduce(function(acc, cur) {
            return acc + cur;
          });

        averagePoints = averagePoints / vm.ChosenHistoryLength;
        return Math.max(averagePoints, 0);
      }

      function getExtraCost(player) {
        var minCost = getMinimumCostForPosition(player.position);
        var extraCost = player.now_cost - minCost;
        return extraCost;
      }

      function getValue(player) {
        var extraCost = getExtraCost(player);
        var averageScore = getAverageScore(player);
        var value = extraCost === 0 ? 0 : averageScore / extraCost;
        return value;
      }

      return this.ChosenPlayers.map(e => ({
        x: getValue(e),
        y: getAverageScore(e),
        key: e.id,
        name: e.name,
        fill: getColourFromPosition(e.position),
        pos: e.position
      }));
    }
  },
  watch: {
    MaxPrice: {
      handler: function(val) {
        this.UpdatePlayerList();
      }
    },
    ChosenPosition: {
      handler: function(val) {
        this.UpdatePlayerList();
      }
    },
    ChosenClub: {
      handler: function() {
        this.UpdatePlayerList();
      }
    },
    ChosenHistoryLength: {
      handler: function(val) {
        this.UpdatePlayerList();
      }
    },
    BaselinePoints: {
      handler: function(val) {
        this.UpdatePlayerList();
      }
    }
  },
  async mounted() {},
  async created() {
    this.ShowLoader = true;
    this.LoaderMessage = "Loading Static Data";
    var sdfetch = await fetch("/django/fantasyPLAPI/get-static-data");

    // var staticData = await staticDataFetch.json();
    var sd = await sdfetch.json();
    this.ShowLoader = false;
    this.LoaderMessage = "";
    this.StaticData = sd;
    this.AllPlayers = sd.players;
    this.AllPositions = this.AllPositions.concat(
      sd.positions.map(e => ({
        id: e.id,
        displayName: e.plural_name,
        value: e.singular_name_short,
        minCost: Math.min(
          ...this.AllPlayers.filter(e2 => e2.element_type == e.id).map(
            e3 => e3.now_cost
          )
        )
      }))
    );
    this.AllClubs = sd.teams;
    this.SelectAllClubs = [{ displayName: "All", value: "ALL" }].concat(
      this.AllClubs.map(e => ({
        displayName: e.name,
        value: e.short_name
      }))
    );
    this.AvailablePlayers = this.AllPlayers.sort(
      (a, b) => b.now_cost - a.now_cost
    ).map(e => ({
      displayName: `${e.web_name}: ${e.now_cost / 10}`,
      value: e.id
    }));
  },
  mounted() {
    var screenHeight = window.innerHeight;
    this.navHeight = document.getElementById("navbar").offsetHeight;
    var titleHeight = this.$el.querySelector("form").getBoundingClientRect()
      .height;
    this.SVGHeight = screenHeight - this.navHeight - titleHeight - 50;
    this.SVGWidth = window.innerWidth;
  },
  methods: {
    ChangePosition(newPosition) {
      this.ChosenPosition = newPosition;
    },
    ChangeClub(newClub) {
      this.ChosenClub = newClub;
    },
    async SelectPlayer(playerID) {
      if (playerID === "ALL") {
        this.LoaderTotal = this.AvailablePlayers.length;
        this.LoaderCurrent = 0;
        this.LoaderMessage = `Loading results for ${this.LoaderCurrent}/${this.LoaderTotal} players`;
        this.ShowLoader = true;
        var promiseArray = this.AvailablePlayers.map(e =>
          this.AddPlayer(e.value)
        );
        Promise.all(promiseArray).then(() => {
          this.ShowLoader = false;
          this.LoaderMessage = "";
        });
      } else {
        this.AddPlayer(playerID);
      }
    },
    async AddPlayer(playerID) {
      var playerUrl =
        "https://fantasy.premierleague.com/api/element-summary/" +
        playerID +
        "/";
      var playerFetch = await fetch(
        `/django/fantasyPLAPI/get-player-data/${playerID}`
      );

      // find our player
      var player = this.AllPlayers.filter(e => e.id == playerID)[0];

      // wait for data to be returned
      var playerData = await playerFetch.json();
      this.LoaderCurrent++;
      this.LoaderMessage = `Loading results for ${this.LoaderCurrent}/${this.LoaderTotal} players`;

      // how much are we paying for the player above the minimum?
      // what value-for-money does the player have?
      this.ChosenPlayers.push({
        name: player.web_name,
        allScores: playerData.history,
        id: playerID,
        now_cost: player.now_cost,
        position: this.GetPositionFromID(player.element_type).value
      });
      return playerData;
    },
    GetPositionFromID(positionID) {
      return this.AllPositions.filter(e => e.id === positionID)[0];
    },
    UpdatePlayerList() {
      var ReturnPlayers = this.AllPlayers;

      // filter base on position
      if (this.ChosenPosition !== "ALL") {
        var positionID = this.StaticData.positions.filter(
          e => e.singular_name_short == this.ChosenPosition
        )[0].id;
        ReturnPlayers = ReturnPlayers.filter(
          e => e.element_type === positionID
        );
      }

      // filter based on team
      if (this.ChosenClub !== "ALL") {
        var clubID = this.AllClubs.filter(
          e => e.short_name === this.ChosenClub
        )[0].id;

        ReturnPlayers = ReturnPlayers.filter(e => e.team === clubID);
      }

      ReturnPlayers.sort(function(a, b) {
        return b.now_cost - a.now_cost;
      });

      ReturnPlayers = ReturnPlayers.filter(
        e => e.now_cost / 10 < this.MaxPrice
      );

      this.AvailablePlayers = ReturnPlayers.map(e => ({
        displayName: `${e.web_name}: ${e.now_cost / 10}`,
        value: e.id
      }));
      setTimeout(() => {
        document.querySelector("#playerSelect").selectedIndex = 0;
      }, 300);
    },
    HideLoader() {
      this.ShowLoader = false;
    },
    SliderChange(val) {
      this.LimitInput = val;
      if (this.Tracks.length > 0) {
        this.drawChart();
      }
    },
    toggleInfo() {
      this.$store.commit("toggleInfo");
      if (this.$store.state.FirstLoad) {
        this.$store.commit("toggleControl");
        this.$store.commit("toggleFirstLoad");
      }
    },
    async submitForm() {},
    drawChart() {}
  }
};
</script>
<style scoped>
form > * {
  margin: 10px auto;
  display: block;
}
</style>
