<template>
  <div id="vis">
    <NavBar ThisPage="Visualisations" />
    <GraphOptionsContainer>
      <VisTitle VisTitle="Language Links" ShowCog @toggleCog="toggleSettings" />
      <GraphControlForm>
        <form class="flex-x" onsubmit="return false;">
          <TextInput
            v-if="ShowFreetextLanguageSearch"
            v-model="FreetextParentLanguageValue"
            :AutocompleteItems="AutocompleteParentLanguages"
            @autocompleteselection="AutocompleteParentSelection"
            PlaceholderText="Language:"
            MinimumSearchLength="2"
          ></TextInput>
          <TextInput
            v-if="ShowFreetextLanguageSearch"
            v-model="FreetextChildLanguageValue"
            :AutocompleteItems="AutocompleteChildLanguages"
            @autocompleteselection="AutocompleteChildSelection"
            PlaceholderText="Language:"
            MinimumSearchLength="2"
          ></TextInput>
          <VisSelect
            v-if="!ShowFreetextLanguageSearch"
            id="languageSelect1"
            prompt="Choose a Parent Language:"
            :Options="Languages"
            :InitialValue="CurrentParentLang"
            @input="SetParentLang"
          ></VisSelect>
          <VisSelect
            v-if="!ShowFreetextLanguageSearch"
            id="languageSelect2"
            prompt="Choose a Child Language:"
            :Options="Languages"
            :InitialValue="CurrentChildLang"
            @input="SetChildLang"
          ></VisSelect>
        </form>
      </GraphControlForm>
    </GraphOptionsContainer>
    <div id="graph-title-placeholder" :style="{padding: '0px'}">
      <VisTitle VisTitle="PH" />
    </div>
    <div id="visContainer">
      <div v-for="(link, i) in Links" v-bind:key="i">
        <table>
          <th v-for="word in link" :key="word._id">{{GetLanguageNameFromCode(word.lang)}}</th>
          <tr>
            <td v-for="word in link" :key="word._id">{{word.latinTranscription}}</td>
          </tr>
        </table>
      </div>
    </div>
    <transition name="fade">
      <ModalMainBrand v-if="this.$store.state.ShowInfo">
        <h3 class="title-font">Info</h3>
        <p>
          If you choose a parent and a child language, this page
          will return all of ther
        </p>
        <button @click="toggleInfo()">Close</button>
      </ModalMainBrand>
    </transition>
    <transition name="fade">
      <ModalLightShade v-if="ShowSettings">
        <font-awesome-icon icon="window-close" @click="toggleSettings" />
        <h3 class="title-font">Settings</h3>
        <h5>Language search format:</h5>
        <ToggleInput
          :Value="ShowFreetextLanguageSearch"
          v-on:input="ToggleShowFreetextLanguageSearch"
          LabelLeft="Dropdown"
          LabelRight="Freetext"
        ></ToggleInput>
      </ModalLightShade>
    </transition>
    <Loader v-if="ShowLoader" :LoaderProgress="LoaderText" @click="HideLoader()"></Loader>
  </div>
</template>

<script>
import NavBar from "../components/NavBar.vue";
import VisTitle from "../components/vis/VisTitle.vue";
import GraphOptionsContainer from "../components/vis/GraphOptionsContainer.vue";
import GraphControlForm from "../components/vis/GraphControlForm.vue";
import ModalMainBrand from "../components/ModalMainBrand.vue";
import ModalLightShade from "../components/ModalLightShade.vue";
import Loader from "../components/Loader.vue";
import ToolTip from "../components/vis/ToolTip.vue";
import VisSelect from "../components/vis/VisSelect.vue";
import ToggleInput from "../components/vis/ToggleInput.vue";
import TextInput from "../components/vis/TextInput.vue";
import Tree from "../components/vis/chartTypes/Tree";
import * as EtymologyTreemap from "../vis/js/EtymologyTreemap.js";
import { URLSearchParams } from "url";
import Vue from "vue";
import VueRouter from "vue-router";

var cookies = document.cookie.split(";").reduce((res, c) => {
  const [key, val] = c
    .trim()
    .split("=")
    .map(decodeURIComponent);
  const allNumbers = str => /^\d+$/.test(str);
  try {
    return Object.assign(res, {
      [key]: allNumbers(val) ? val : JSON.parse(val)
    });
  } catch (e) {
    return Object.assign(res, { [key]: val });
  }
}, {});

var margin = { top: 0, left: 0, bottom: 50, right: 0 };

export default {
  name: "Doublets",
  components: {
    NavBar,
    VisTitle,
    GraphOptionsContainer,
    GraphControlForm,
    ModalMainBrand,
    ModalLightShade,
    ToolTip,
    Loader,
    VisSelect,
    ToggleInput,
    TextInput,
    Tree
  },
  props: {},
  data: function() {
    return {
      currentTree: {},
      Doublets: [],
      Languages: [],
      CurrentParentLang: "",
      CurrentChildLang: "",
      CurrentRoot: "",
      AllLanguages: [],
      ChartHeading: "",
      SVGHeight: 0,
      SVGWidth: window.innerWidth,
      TitleHeight: 0,
      ShowSettings: false,
      ReturnRoots: true,
      ShowFreetextLanguageSearch: true,
      FreetextParentLanguageValue: "",
      FreetextChildLanguageValue: "",
      AutocompleteParentLanguages: [],
      AutocompleteChildLanguages: [],
      Links: [],
      ShowLoader: false,
      LoaderText: ""
    };
  },
  computed: {},
  watch: {
    ReturnRoots: {
      handler: function(val) {
        if (this.CurrentLang) {
          this.getDoubletsForLang(this.CurrentLang);
        }
      }
    },
    FreetextParentLanguageValue: {
      handler: function(val) {
        this.AutocompleteParentLanguages = this.Languages.filter(
          e => e.displayName.toLowerCase().indexOf(val.toLowerCase()) !== -1
        );
      }
    },
    FreetextChildLanguageValue: {
      handler: function(val) {
        this.AutocompleteChildLanguages = this.Languages.filter(
          e => e.displayName.toLowerCase().indexOf(val.toLowerCase()) !== -1
        );
      }
    }
  },
  updated() {
    if (document.getElementById("graph-options-container")) {
      var containerHeight =
        document.getElementById("graph-options-container").offsetHeight + "px";
      document.getElementById(
        "graph-title-placeholder"
      ).style.height = containerHeight;
    }
  },
  async created() {
    var allLanguages = EtymologyTreemap.getAllLanguages();
    this.LoaderText = "Loading languages...";
    this.ShowLoader = true;
    var languageFetch = await fetch("/django/linguistics-descendant-finder/", {
      method: "POST",
      headers: { "x-csrftoken": cookies.csrftoken },
      body: JSON.stringify({
        requestType: "getAllLanguages"
      }),
      credentials: "include",
      mode: "cors"
    });
    this.AllLanguages = await allLanguages;
    var langs = await languageFetch.json();
    this.ShowLoader = false;
    console.log(langs);
    this.Languages = langs.results
      .map(e => ({
        displayName: this.AllLanguages.filter(
          e2 => e2.code === e || e2.code + "-Latn" === e
        ).concat({ name: e })[0].name,
        value: e
      }))
      .sort((a, b) => {
        if (a.displayName < b.displayName) {
          return -1;
        } else {
          return 1;
        }
      });
    this.AutocompleteParentLanguages = this.Languages;
    this.AutocompleteChildLanguages = this.Languages;
    // this.CurrentRoot = this.$route.query.rootword;
    // if (this.CurrentRoot) {
    //   this.getDoubletsForWord(this.CurrentRoot);
    // }
  },
  mounted() {},
  methods: {
    AutocompleteParentSelection: function(val) {
      this.CurrentParentLang = val.value;
      this.AutocompleteParentLanguages = [];
      if (this.CurrentChildLang) {
        this.GetLinks(this.CurrentParentLang, this.CurrentChildLang);
      }
    },
    AutocompleteChildSelection: function(val) {
      this.CurrentChildLang = val.value;
      this.AutocompleteChildLanguages = [];
      if (this.CurrentParentLang) {
        this.GetLinks(this.CurrentParentLang, this.CurrentChildLang);
      }
    },
    ToggleReturnRoots(val) {
      this.ReturnRoots = !this.ReturnRoots;
    },
    ToggleShowFreetextLanguageSearch(val) {
      this.ShowFreetextLanguageSearch = !this.ShowFreetextLanguageSearch;
    },
    toggleSettings() {
      this.ShowSettings = !this.ShowSettings;
    },
    getLanguageName(lang) {
      return this.AllLanguages.filter(
        e => e.code === lang || e.code + "-Latn" === lang
      ).concat({ name: lang })[0].name;
    },
    SetParentLang(lang) {
      console.log(lang);
      this.CurrentParentLang = lang;
      if (this.CurrentChildLang) {
        this.GetLinks(this.CurrentParentLang, this.CurrentChildLang);
      }
    },
    SetChildLang(lang) {
      console.log(lang);
      this.CurrentChildLang = lang;
      if (this.CurrentParentLang) {
        this.GetLinks(this.CurrentParentLang, this.CurrentChildLang);
      }
    },
    async GetLinks(parent, child) {
      this.LoaderText = "Loading links...";
      this.ShowLoader = true;
      var linkFetch = await fetch("/django/linguistics-descendant-finder/", {
        method: "POST",
        headers: { "x-csrftoken": cookies.csrftoken },
        body: JSON.stringify({
          requestType: "getLinks",
          parentLang: parent,
          childLang: child
        }),
        credentials: "include",
        mode: "cors"
      });
      var links = await linkFetch.json();
      this.ShowLoader = false;
      console.log(links);
      this.Links = links.results;
    },
    GetLanguageNameFromCode(code) {
      return (
        this.AllLanguages.filter(
          e => e.code === code || e.code + "-Latn" === code
        )[0].name || code
      );
    },
    toggleInfo() {
      this.$store.commit("toggleInfo");
    },
    createHierarchy(inputArray) {
      var idAttr = "id";
      var parentAttr = "parentID";
      var childrenAttr = "children";

      var treeList = [];
      var lookup = {};
      inputArray.forEach(function(obj) {
        lookup[obj[idAttr]] = obj;
        obj[childrenAttr] = [];
      });
      inputArray.forEach(function(obj) {
        if (obj[parentAttr] != "None") {
          lookup[obj[parentAttr]][childrenAttr].push(obj);
        } else {
          treeList.push(obj);
        }
      });
      return treeList;
    }
  }
};
</script>
<style scoped>
#graph-control-form select {
  max-width: 40%;
}

#visContainer >>> div {
  width: 100%;
  overflow-x: auto;
}

#visContainer >>> div table {
  box-shadow: 1px 1px 2px 1px var(--light-accent);
  margin: 10px 5px;
  border-collapse: collapse;
}

#visContainer >>> div table th {
  padding: 0px 20px;
}

#visContainer >>> div table td:nth-child(odd) {
  background-color: var(--main-brand-translucent);
}
#visContainer >>> div table th:nth-child(odd) {
  background-color: var(--main-brand-translucent);
}
</style>
<style>
</style>
