<template>
  <div id="vis">
    <NavBar ThisPage="Visualisations" />
    <GraphOptionsContainer>
      <VisTitle VisTitle="Last FM Bars" ShowChevron />
      <GraphControlForm>
        <form onsubmit="return false;">
          <TextInput
            v-model="UsernameInput"
            :InitialValue="UsernameInput"
            PlaceholderText="Last.FM Username"
            :Required="true"
          ></TextInput>
          <SliderInput
            LabelName="# of Artists"
            :MinVal="1"
            :MaxVal="30"
            :DefaultVal="Number(LimitInput)"
            @change-value="SliderChange"
          ></SliderInput>
          <RadioInput
            v-if="this.$store.state.ShowControl"
            :style="{visibility: this.$store.state.ShowControl ? 'visible' : 'hidden'}"
            RadioName="LastFMHistoryLength"
            v-model="PeriodInput"
            :Options="[{displayName: '1 Week', value: '7day'},{displayName: '1 Month', value: '1month'}, {displayName: '3 Months', value: '3month'},{displayName: '6 Months', value: '6month'},{displayName: '1 Year', value: '12month'},{displayName: 'Overall', value: 'overall'}]"
            :InitialValue="PeriodInput"
          ></RadioInput>
          <button @click="submitForm()">Submit</button>
        </form>
      </GraphControlForm>
    </GraphOptionsContainer>
    <div id="graph-title-placeholder">
      <VisTitle VisTitle="PH" />
    </div>
    <div id="svgCanvas"></div>
    <transition name="fade">
      <ModalMainBrand v-if="this.$store.state.ShowInfo">
        <h3 class="title-font">Info</h3>
        <p>Some information about this chart. Blah blah blah.</p>
        <button @click="toggleInfo()">Close</button>
      </ModalMainBrand>
    </transition>
    <ToolTip :ToolTipHTML="ToolTipHTML" v-if="ShowToolTip" :Left="ToolTipLeft" :Top="ToolTipTop"></ToolTip>
    <Loader
      v-if="ShowLoader"
      :LoaderProgress="`${LoaderCurrent}/${LoaderTotal}`"
      @click="HideLoader()"
    ></Loader>
  </div>
</template>

<script>
import NavBar from "../components/NavBar.vue";
import VisTitle from "../components/vis/VisTitle.vue";
import GraphOptionsContainer from "../components/vis/GraphOptionsContainer.vue";
import GraphControlForm from "../components/vis/GraphControlForm.vue";
import ModalMainBrand from "../components/ModalMainBrand.vue";
import Loader from "../components/Loader.vue";
import TextInput from "../components/vis/TextInput.vue";
import SliderInput from "../components/vis/SliderInput.vue";
import RadioInput from "../components/vis/RadioInput.vue";
import ToolTip from "../components/vis/ToolTip.vue";

var cookies = document.cookie.split(";").reduce((res, c) => {
  const [key, val] = c
    .trim()
    .split("=")
    .map(decodeURIComponent);
  const allNumbers = str => /^\d+$/.test(str);
  try {
    return Object.assign(res, {
      [key]: allNumbers(val) ? val : JSON.parse(val)
    });
  } catch (e) {
    return Object.assign(res, { [key]: val });
  }
}, {});

var APIKey = "81c1fcb78396d6841793de8cacdd53c7";
var margin = { top: 0, left: 0, bottom: 50, right: 0 };

export default {
  name: "LastFMBars",
  props: {},
  data: function() {
    return {
      UsernameInput: "",
      PeriodInput: "3month",
      LimitInput: 5,
      StartPosition: 0,
      Tracks: [],
      navHeight: Number,
      svgHeight: Number,
      svgWidth: Number,
      ToolTipLeft: "10px",
      ToolTipTop: "300px",
      ShowToolTip: false,
      ToolTipHTML: "",
      ShowLoader: false,
      LoaderCurrent: 0,
      LoaderTotal: 0
    };
  },
  components: {
    NavBar,
    VisTitle,
    GraphOptionsContainer,
    GraphControlForm,
    ModalMainBrand,
    TextInput,
    SliderInput,
    RadioInput,
    ToolTip,
    Loader
  },
  async mounted() {},
  created() {},
  mounted() {
    var screenHeight = window.innerHeight;
    this.navHeight = document.getElementById("navbar").offsetHeight;
    var titleHeight = document.getElementById("graph-title-placeholder")
      .offsetHeight;
    this.svgHeight = screenHeight - this.navHeight - titleHeight;
    this.svgWidth = window.innerWidth;
  },
  methods: {
    HideLoader() {
      this.ShowLoader = false;
    },
    RadioChange(val) {
      this.PeriodInput = val;
    },
    SliderChange(val) {
      this.LimitInput = val;
      console.log(this.LimitInput);
      if (this.Tracks.length > 0) {
        this.drawChart();
      }
    },
    toggleInfo() {
      this.$store.commit("toggleInfo");
      if (this.$store.state.FirstLoad) {
        this.$store.commit("toggleControl");
        this.$store.commit("toggleFirstLoad");
      }
    },
    getTimestampFromPeriod() {
      var returnTimestamp, secondsInPeriod;
      var currentTimestamp = Math.floor(Date.now() / 1000);
      switch (this.PeriodInput) {
        case "overall":
          secondsInPeriod = currentTimestamp;
          break;
        case "12month":
          secondsInPeriod = 365 * 24 * 60 * 60;
          break;
        case "6month":
          secondsInPeriod = 182 * 24 * 60 * 60;
          break;
        case "3month":
          secondsInPeriod = 91 * 24 * 60 * 60;
          break;
        case "1month":
          secondsInPeriod = 30.5 * 24 * 60 * 60;
          break;
        case "7day":
          secondsInPeriod = 7 * 24 * 60 * 60;
          break;
      }

      returnTimestamp = currentTimestamp - secondsInPeriod;
      return returnTimestamp;
    },
    addTrackToData(inputTrack) {
      // is the artist there already?
      let artist = this.Tracks.filter(
        e => e.artist === inputTrack.artist["#text"]
      );
      if (artist.length > 0) {
        artist = artist[0];
        // increment count
        artist.count++;
        // is the album there already?
        let album = artist.albums.filter(
          e => e.album === inputTrack.album["#text"]
        );
        if (album.length > 0) {
          album = album[0];
          // increment count
          album.count++;
          // is the track there already?
          let track = album.tracks.filter(e => e.track === inputTrack.name);
          if (track.length > 0) {
            // increment count
            track[0].count++;
          } else {
            // create track
            album.tracks.push({ track: inputTrack.name, count: 1 });
          }
        } else {
          // create album
          artist.albums.push({
            album: inputTrack.album["#text"],
            tracks: [{ track: inputTrack.name, count: 1 }],
            count: 1
          });
        }
      } else {
        // create artist
        this.Tracks.push({
          artist: inputTrack.artist["#text"],
          albums: [
            {
              album: inputTrack.album["#text"],
              tracks: [{ track: inputTrack.name, count: 1 }],
              count: 1
            }
          ],
          count: 1
        });
      }
    },
    async getRecentTracks(url) {
      var recentTracksFetch = await fetch(url, {
        method: "GET"
      });
      var recentTracks = await recentTracksFetch.json();
      if (recentTracksFetch.status === 200) {
        for (let i = 0; i < recentTracks.recenttracks.track.length; i++) {
          this.addTrackToData(recentTracks.recenttracks.track[i]);
        }
        this.LoaderCurrent++;

        return recentTracks.recenttracks;
      } else {
        return [];
      }
    },
    async submitForm() {
      if (this.UsernameInput === "") {
        return;
      }
      this.$store.commit("toggleControl");

      this.LoaderCurrent = 0;
      this.LoaderTotal = 1;
      this.ShowLoader = true;
      this.Tracks = [];
      var fromTimestamp = this.getTimestampFromPeriod();
      var recentTracksUrl = `https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=${this.UsernameInput}&api_key=${APIKey}&from=${fromTimestamp}&page=1&extended=0&limit=200&format=json`;

      var rtpromise = this.getRecentTracks(recentTracksUrl);
      var recentTracks = await rtpromise;
      this.LoaderCurrent = 1;
      var totalPages = recentTracks["@attr"].totalPages;
      this.LoaderTotal = totalPages;

      var promiseArray = [];
      for (let i = 2; i <= totalPages; i++) {
        let recentTracksUrl = `https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=${this.UsernameInput}&api_key=${APIKey}&from=${fromTimestamp}&page=${i}&extended=0&limit=200&format=json`;
        let rtpromise = this.getRecentTracks(recentTracksUrl);

        promiseArray.push(rtpromise);
      }
      var resolvedArray = await Promise.all(promiseArray);
      this.Tracks.sort(function(a, b) {
        return b.count - a.count;
      });
      this.ShowLoader = false;

      this.drawChart();
    },
    drawChart() {
      var titleHeight = document.getElementById("graph-title-placeholder")
        .offsetHeight;
      let dataVisElement = document.querySelector("#svgCanvas svg");
      if (dataVisElement) {
        dataVisElement.remove();
      }
      var thisComponent = this;
      //colour function
      function colourBar(artist, position) {
        var artistPos = searchJSONArray(chartData, "artist", artist);
        return (
          "HSL( " +
          ((artistPos * 30) % 255) +
          "," +
          "100%, " +
          (80 - position * 3) +
          "%)"
        );
      }
      var chartData = this.Tracks.slice(
        this.StartPosition,
        this.StartPosition + this.LimitInput
      );

      var svgHeight = this.svgHeight - 20;
      var svgWidth = this.svgWidth - 20;

      var svg = d3
        .select("#svgCanvas")
        .append("svg")
        .attr("width", svgWidth)
        .attr("height", svgHeight);
      var x = d3
        .scaleBand()
        .rangeRound([0, svgWidth - margin.left - margin.right]);
      x.domain(chartData.map(e => e.artist));

      var y = d3
        .scaleLinear()
        .rangeRound([0, svgHeight - margin.top - margin.bottom]);
      y.domain([0, chartData[0].count]);
      var yAxis = d3.axisLeft(y);
      svg
        .append("g")
        .attr("transform", "translate(" + margin.left + ")")
        .attr("class", "axis")
        .call(yAxis);

      //append artist collection
      var g_artists = svg
        .selectAll("rect")
        .data(chartData)
        .enter()
        .append("g")
        .attr("id", function(d) {
          return d.artist;
        });

      //append album collections
      var g_albums = g_artists
        .selectAll("rect")
        .data(function(d) {
          var y0 = 0,
            y1 = 0,
            returnVar;
          return d.albums.map(function(e) {
            y1 = y1 + e.count;
            returnVar = {
              album: e.album,
              y0: y0,
              y1: y1,
              tracks: e.tracks
            };
            y0 = y1;
            return returnVar;
          });
        })
        .enter()
        .append("g")
        .attr("id", function(d) {
          return d.album;
        });

      //append album rectangles
      g_albums
        .append("rect")
        .attr("class", "albumRect")
        .attr("id", function(d) {
          return d.album;
        })
        .attr("x-artist", function() {
          return x(this.parentNode.id);
        })
        // .attr("title", "test")
        .attr("fill", function(d) {
          return colourBar(this.parentNode.parentNode.id, 1);
        })
        .attr("stroke", "#888888")
        .attr("x", function() {
          return x(this.parentNode.parentNode.id);
        })
        .attr("width", x.bandwidth())
        .attr("y", function(d) {
          return svgHeight - y(d["y1"]) - margin.bottom;
        })
        .attr("height", function(d) {
          return y(d["y1"] - d["y0"]);
        })
        .on("mousemove", function(d, i) {
          thisComponent.ShowToolTip = true;
          var mousePos = d3.mouse(this);
          var mouseX = mousePos[0];
          var mouseY = mousePos[1];
          thisComponent.ToolTipLeft = "30%";
          thisComponent.ToolTipTop = `${svgHeight +
            thisComponent.navHeight +
            titleHeight -
            margin.bottom}px`;
          thisComponent.ToolTipHTML = `Album: ${d.album}<br/>${d.y1 -
            d.y0} plays`;
        })
        .on("mouseout", function() {
          thisComponent.ShowToolTip = false;
        });

      //append track rectangles
      var g_tracks = g_albums
        .selectAll("#fakeelement")
        .append("g")
        .data(function(d) {
          var y0 = d.y0,
            y1 = d.y0,
            returnVar;
          return d.tracks.map(function(e) {
            y1 = y1 + e.count;
            returnVar = {
              track: e.track,
              y0: y0,
              y1: y1
            };
            y0 = y1;
            return returnVar;
          });
        })
        .enter()
        .append("rect")
        .attr("fill", function(d) {
          return colourBar(this.parentNode.parentNode.id, 1);
        })
        .attr("class", "track")
        .attr("id", function(d) {
          return d.track;
        })
        .attr("x", function() {
          return x(this.parentNode.parentNode.id) + x.bandwidth() / 4;
        })
        .attr("width", x.bandwidth() / 2)
        .attr("y", function(d) {
          return svgHeight - y(d["y1"]) - margin.bottom;
        })
        .attr("height", function(d) {
          return y(d["y1"] - d["y0"]);
        })
        .attr("title", function(d) {
          return `${d.track}: ${d.y1 - d.y0}`;
        })
        .on("mousemove", function(d, i) {
          thisComponent.ShowToolTip = true;
          var mousePos = d3.mouse(this);
          var mouseX = mousePos[0];
          var mouseY = mousePos[1];
          thisComponent.ToolTipLeft = "30%";
          thisComponent.ToolTipTop = `${svgHeight +
            thisComponent.navHeight +
            titleHeight -
            margin.bottom}px`;
          thisComponent.ToolTipHTML = `Track: ${d.track}<br/>${d.y1 -
            d.y0} plays`;
        })
        .on("mouseout", function() {
          thisComponent.ShowToolTip = false;
        });
      //add X Axis.
      var xAxis = d3.axisBottom().scale(x);
      svg
        .append("g")
        .attr(
          "transform",
          "translate(" +
            0 +
            "," +
            (svgHeight - margin.bottom - margin.top) +
            ")"
        )
        .attr("class", "axis")
        .call(xAxis)
        .selectAll("text")
        .attr("transform", function() {
          return `rotate(90) translate(-${this.getComputedTextLength() / 2 +
            3} -${x.bandwidth() / 5})`;
        })
        .on("mousemove", function(d, i) {
          var thisArtistCount = thisComponent.Tracks.filter(
            e => e.artist === d
          )[0].count;
          thisComponent.ShowToolTip = true;
          var mousePos = d3.mouse(this);
          var mouseX = mousePos[0];
          var mouseY = mousePos[1];
          // thisComponent.ToolTipTop =
          //   thisComponent.svgHeight + 30 + mouseX + "px";
          // thisComponent.ToolTipLeft =
          //   this.getBoundingClientRect().x - mouseY + 30 + "px";
          // // thisComponent.navHeight + titleHeight - mouseY + "px";
          thisComponent.ToolTipLeft = "30%";
          thisComponent.ToolTipTop = `${svgHeight +
            thisComponent.navHeight +
            titleHeight -
            margin.bottom}px`;
          thisComponent.ToolTipHTML = `Artist: ${d}<br/>${thisArtistCount} plays`;
        })
        .on("mouseout", function() {
          thisComponent.ShowToolTip = false;
        });

      if (thisComponent.StartPosition > 0) {
        svg
          .append("path")
          .attr("class", "change-arrow")
          .attr("d", function() {
            let path = `M 40 ${svgHeight -
              margin.bottom +
              10} L 20 ${svgHeight - margin.bottom / 2} L 40 ${svgHeight - 10}`;
            return path;
          })
          .on("click", function() {
            thisComponent.StartPosition = thisComponent.StartPosition - 1;
            thisComponent.drawChart();
          });
      }

      if (thisComponent.StartPosition < thisComponent.Tracks.length - 1) {
        svg
          .append("path")
          .attr("class", "change-arrow")
          .attr("d", function() {
            let path = `M ${svgWidth - 40} ${svgHeight -
              margin.bottom +
              10} L ${svgWidth - 20} ${svgHeight -
              margin.bottom / 2} L ${svgWidth - 40} ${svgHeight - 10}`;
            return path;
          })
          .on("click", function() {
            thisComponent.StartPosition = thisComponent.StartPosition + 1;
            thisComponent.drawChart();
          });
      }
    }
  }
};
</script>
<style scoped>
#graph-control-form form > * {
}

#vis >>> #svgCanvas rect {
  stroke: #888888;
  stroke-width: 1px;
}

#vis >>> .tick {
  font-family: var(--title-font);
  stroke: var(--dark-shades);
  stroke-width: 0px;
  font-size: 2.5vh;
}

#vis >>> #svgCanvas rect:hover {
  stroke: #888888;
  stroke-width: 1px;
  transition: all 0.8s ease;
}

#vis >>> .track {
  fill-opacity: 1;
  stroke: #888888;
  stroke-width: 1px;
}

#vis >>> .albumRect {
  fill-opacity: 0.5;
}

#vis >>> .change-arrow {
  stroke: var(--dark-shades);
  stroke-width: 3px;
  fill: var(--main-brand);
}

#vis >>> .change-arrow:hover {
  stroke-width: 3px;
  fill: var(--dark-shades);
  transition: all 0.25s ease;
}
</style>
<style>
</style>
