<template>
  <div id="vis">
    <NavBar ThisPage="Star Trek Scripts" />
    <font-awesome-icon icon="info" @click="ShowInfo = !ShowInfo" />
    <font-awesome-icon icon="cog" @click="ShowSettings = !ShowSettings" />
    <TextInput PlaceholderText="Enter a search term:" v-model="FreetextTerm"></TextInput>
    <BarChart
      :Heading="ChartHeading"
      :ComponentHeight="SVGHeight"
      :ComponentWidth="SVGWidth"
      :ChartData="ChartData"
    ></BarChart>
    <transition name="fade">
      <ModalLightShade v-if="ShowSettings">
        <font-awesome-icon icon="window-close" @click="ShowSettings = false" />
        <form v-on:submit.prevent="onSubmit" v-on:submit="submitForm">
          <h5># of Characters to return:</h5>
          <SliderInput
            :MinVal="1"
            :MaxVal="50"
            :DefaultVal="Number(BarChartLimit)"
            v-model="BarChartLimit"
          ></SliderInput>
          <button type="button" @click="submitForm">Submit</button>
        </form>
      </ModalLightShade>
    </transition>
    <transition name="fade">
      <ModalMainBrand v-if="ShowInfo">
        <h3 class="title-font">Info</h3>
        <p>
          When you submit a word or phrase, this chart will show you which
          characters on Star Trek have uttered that phrase the most.
        </p>
        <p>
          The data comes from
          <a
            href="https://www.kaggle.com/gjbroughton/start-trek-scripts"
          >gjbroughton on kaggle</a>, who in turn got the data from
          <a
            href="http://www.chakoteya.net/StarTrek/index.html"
          >chakoteya.net</a>. I did a bit of processing of this data, removing all line endings,
          then wrote a Python script to insert each line into an
          <a
            href="https://www.elastic.co/products/elastic-stack"
          >Elasticsearch</a> database. Each
          line is stored as a separate line in this database.
        </p>
        <button @click="ShowInfo = false">Close</button>
      </ModalMainBrand>
    </transition>
    <Loader v-if="ShowLoader" :LoaderProgress="LoaderText" @click="ShowLoader = false"></Loader>
  </div>
</template>

<script>
import NavBar from "../components/NavBar.vue";
import ModalMainBrand from "../components/ModalMainBrand.vue";
import ModalLightShade from "../components/ModalLightShade.vue";
import TextInput from "../components/vis/TextInput.vue";
import SliderInput from "../components/vis/SliderInput.vue";
import BarChart from "../components/vis/chartTypes/BarChart.vue";
import { URLSearchParams } from "url";
import Vue from "vue";
import VueRouter from "vue-router";
import Loader from "../components/Loader.vue";
var _ = require("lodash");

var cookies = document.cookie.split(";").reduce((res, c) => {
  const [key, val] = c
    .trim()
    .split("=")
    .map(decodeURIComponent);
  const allNumbers = str => /^\d+$/.test(str);
  try {
    return Object.assign(res, {
      [key]: allNumbers(val) ? val : JSON.parse(val)
    });
  } catch (e) {
    return Object.assign(res, { [key]: val });
  }
}, {});

export default {
  name: "UKClimate",
  components: {
    NavBar,
    TextInput,
    ModalLightShade,
    ModalMainBrand,
    BarChart,
    SliderInput,
    Loader
  },
  props: {},
  data: function() {
    return {
      FreetextTerm: "",
      ChartData: [],
      AllData: [],
      BarChartLimit: 20,
      ShowSettings: false,
      SVGHeight: 300,
      SVGWidth: 300,
      ChartHeading: "",
      LoaderText: "",
      ShowLoader: false,
      ShowInfo: false,
      URLQuery: {}
    };
  },
  computed: {},
  watch: {
    BarChartLimit: {
      handler: function(val) {
        this.ChartData = this.AllData.slice(0, val);
        this.URLQuery.barchartlimit = val;
        this.$router.push({ query: this.URLQuery });
      }
    },

    FreetextTerm: {
      handler: function(val) {
        this.submitForm();
      }
    }
  },
  updated() {},
  async created() {
    // var f = await fetch(
    //   "/django/script/get-significant-terms-by-character"
    // );
    // var results = await f.json();
    // console.log(results);
  },
  mounted() {
    this.SVGHeight =
      window.innerHeight -
      this.$el.querySelector("nav").offsetHeight -
      this.$el.querySelector("svg[data-icon='cog']").getBoundingClientRect()
        .height -
      50;
    this.SVGWidth = window.innerWidth - 10;

    var queryParams = this.$route.query;
    if (queryParams.phrase) this.FreetextTerm = queryParams.phrase;
    if (queryParams.barchartlimit)
      this.BarChartLimit = queryParams.barchartlimit;
  },
  methods: {
    submitForm: _.debounce(async function() {
      this.ShowSettings = false;
      this.LoaderText = "Loading results...";
      this.ShowLoader = true;
      var queryFetch = await fetch(
        "/django/trek-scripts/get-term-by-character",
        {
          method: "post",
          headers: { "x-csrftoken": cookies.csrftoken },
          credentials: "include",
          mode: "cors",
          body: JSON.stringify({ freetextTerm: this.FreetextTerm })
        }
      );
      var results = await queryFetch.json();
      const returnedPhrase = results.phrase;
      this.URLQuery.phrase = returnedPhrase;
      this.ShowLoader = false;
      console.log(results);
      var chartData = results.results
        .sort((a, b) => b.count - a.count)
        .map(e => ({
          title: e.character,
          count: e.count,
          group: e.show
        }));
      this.ChartHeading = `Characters who say '${returnedPhrase}' the most in Star Trek`;
      this.AllData = chartData;
      this.ChartData = chartData.slice(0, this.BarChartLimit);
      this.$router.push({ query: this.URLQuery });
    }, 1000)
  }
};
</script>
<style scoped>
#visContainer {
  overflow-x: auto;
}

#graph-control-form select {
  max-width: 40%;
}

/* #visContainer >>> div {
  width: 100%;
  overflow-x: auto;
} */

#visContainer >>> div table {
  box-shadow: 1px 1px 2px 1px var(--light-accent);
  margin: 10px 5px;
  border-collapse: collapse;
}

#visContainer >>> div table th {
  padding: 0px 20px;
}

#visContainer >>> div table td:nth-child(odd) {
  background-color: var(--main-brand-translucent);
}
#visContainer >>> div table th:nth-child(odd) {
  background-color: var(--main-brand-translucent);
}
</style>
<style></style>
