<template>
  <div id="app">
    <NavBar ThisPage="UK Baby Names" />
    <form id="optionsForm" onsubmit="return false;">
      <TextInput v-model="NameInput" PlaceholderText="Enter a name..."></TextInput>
      <button type="submit" @click="AddName(NameInput);">Add Name</button>
    </form>
    <svg id="svgCanvas" />
    <transition name="fade">
      <ModalMainBrand v-if="this.$store.state.ShowInfo">
        <h3 class="title-font">Info</h3>
        <p>Some information about this chart. Blah blah blah.</p>
        <button @click="toggleInfo()">Close</button>
      </ModalMainBrand>
    </transition>
    <ToolTip :ToolTipHTML="ToolTipHTML" v-if="ShowToolTip" :Left="ToolTipLeft" :Top="ToolTipTop"></ToolTip>
  </div>
</template>

<script>
import NavBar from "../components/NavBar.vue";
import VisTitle from "../components/vis/VisTitle.vue";
import TextInput from "../components/vis/TextInput.vue";
import SelectedOption from "../components/vis/SelectedOption.vue";
import GraphOptionsContainer from "../components/vis/GraphOptionsContainer.vue";
import GraphControlForm from "../components/vis/GraphControlForm.vue";
import ModalMainBrand from "../components/ModalMainBrand.vue";
import ToolTip from "../components/vis/ToolTip.vue";
// import debounce from "../utils/usefulFunctions.js";
var _ = require("lodash");

// Vue.use(EtymologyJS);

var cookies = document.cookie.split(";").reduce((res, c) => {
  const [key, val] = c
    .trim()
    .split("=")
    .map(decodeURIComponent);
  const allNumbers = str => /^\d+$/.test(str);
  try {
    return Object.assign(res, {
      [key]: allNumbers(val) ? val : JSON.parse(val)
    });
  } catch (e) {
    return Object.assign(res, { [key]: val });
  }
}, {});

export default {
  name: "UKBabyNames",
  data: function() {
    return {
      SelectedNames: [],
      ToolTipLeft: "10px",
      ToolTipTop: "300px",
      ShowToolTip: false,
      ToolTipHTML: "",
      AutocompleteItems: [],
      NameInput: "",
      AllNames: [],
      SVGHeight: "300px",
      SVGWidth: "150px"
    };
  },
  components: {
    NavBar,
    VisTitle,
    TextInput,
    GraphOptionsContainer,
    GraphControlForm,
    ModalMainBrand,
    ToolTip,
    SelectedOption
  },
  watch: {
    SelectedNames: function() {
      this.DrawChart();
    }
  },
  async created() {
    this.AutocompleteItems = [];
    //start by getting distinct names
    const result = await fetch("/django/baby-names/", {
      method: "POST",
      headers: { "x-csrftoken": cookies.csrftoken },
      body: JSON.stringify({
        requestType: "getDistinctNames"
      }),
      credentials: "include",
      mode: "cors"
    });
    var distinctNames = await result.json();
    this.AllNames = distinctNames.names;
    console.log(distinctNames);
  },
  mounted() {
    var screenHeight = window.innerHeight;
    var navHeight = document.getElementById("navbar").offsetHeight;
    var titleHeight = this.$el.querySelector("#optionsForm").offsetHeight;
    this.SVGHeight = screenHeight - navHeight - titleHeight;
    this.SVGWidth = window.innerWidth;
  },
  methods: {
    toggleSettings: function() {
      this.$store.commit("toggleSettings");
    },
    toggleInfo() {
      this.$store.commit("toggleInfo");
      if (this.$store.state.FirstLoad) {
        this.$store.commit("toggleControl");
        this.$store.commit("toggleFirstLoad");
      }
    },

    AddName: function(name) {
      const matches = this.AllNames.filter(
        e => e.name.toLowerCase() === name.toLowerCase()
      );
      this.SelectedNames = [...matches, ...this.SelectedNames];
      this.$el.querySelector("input[type=text]").value = "";
    },

    DeleteName: function(name) {
      var indexOfName = this.SelectedNames.indexOf(name);
      this.SelectedNames.splice(indexOfName, 1);
    },

    AutocompleteSelection: function(gender) {
      this.AddName(gender);
      this.DrawChart();
    },

    getNamesFromSubstring: _.debounce(async function() {
      const fetchMatchingNames = await fetch("/django/baby-names/", {
        method: "POST",
        headers: { "x-csrftoken": cookies.csrftoken },
        body: JSON.stringify({
          requestType: "getNamesFromSubstring",
          substring: this.NameInput
        }),
        credentials: "include",
        mode: "cors"
      });
      var matchingNames = await fetchMatchingNames.json();
      this.AutocompleteItems = matchingNames.names;
    }, 350),

    DrawChart: async function() {
      var vm = this;
      var navHeight = document.getElementById("navbar").offsetHeight;
      var svgWidth = vm.SVGWidth;
      var thisComponent = this;
      this.$el.querySelectorAll("#svgCanvas > *").forEach(e => e.remove());
      const fetchNameData = await fetch("/django/baby-names/", {
        method: "POST",
        headers: { "x-csrftoken": cookies.csrftoken },
        body: JSON.stringify({
          requestType: "getResults",
          boyNames: this.SelectedNames.filter(e => e.gender !== "girl").map(
            e => e.name
          ),
          girlNames: this.SelectedNames.filter(e => e.gender !== "boy").map(
            e => e.name
          )
        }),
        credentials: "include",
        mode: "cors"
      });
      var nameResults = await fetchNameData.json();
      var margin = { left: 30, top: 30, right: 0, bottom: 60 };
      var width = window.innerWidth - margin.left - margin.right;

      var svg = d3
        .select("#svgCanvas")
        .attr("width", width + margin.left + margin.right)
        .attr("height", 0);
      function isFemale(name) {
        return (
          allData.filter(
            n =>
              n.name.toUpperCase() == name.toUpperCase() && n.gender == "girl"
          ).length > 0
        );
      }

      function isMale(name) {
        return (
          allData.filter(
            n => n.name.toUpperCase() == name.toUpperCase() && n.gender == "boy"
          ).length > 0
        );
      }

      // given a name in the results,function isUnisex will return 1
      // if a name is unisex, 0 if it has only one gender, or -1 if
      // the name is not in the results
      function isUnisex(name) {
        return isMale(name) && isFemale(name);
      }

      let allData = [...nameResults.boys, ...nameResults.girls];
      for (let k = 0; k < allData.length; k++) {
        allData[k] = JSON.parse(allData[k]); // parse each item as a json object
      }

      // sort the array
      allData.sort(function compareObjects(a, b) {
        if (a.year < b.year) {
          return 1;
        }
        if (a.year > b.year) {
          return -1;
        }
        return 0;
      });

      let maxYear = allData[0].year;
      let minYear = allData[allData.length - 1].year;
      let nameData = [];
      for (let y = minYear; y <= maxYear; y++) {
        nameData.push({
          year: y,
          data: allData.filter(name => name.year == y)
        });
      }

      svg.attr("height", vm.SVGHeight);

      var xAxisBoundaries = [];
      var xAxisValues = [];
      var i, j, k;
      var keys = [];
      var data = [];

      //for each year
      for (let h = 0; h < nameData.length; h++) {
        //create year object in data
        let newYear = new Date(nameData[h].year, 0, 1, 0, 0, 0);
        data.push({ year: newYear });
        //add year to x Axis
        xAxisValues.push(newYear);
        //add positional boundaries for each year
        if (h == 0) {
          xAxisBoundaries.push({
            year: nameData[h].year,
            leftBoundary: 0,
            rightBoundary: width / ((nameData.length - 1) * 2)
          });
        } else if (h == nameData.length - 1) {
          xAxisBoundaries.push({
            year: nameData[h].year,
            leftBoundary: width - width / ((nameData.length - 1) * 2),
            rightBoundary: width
          });
        } else {
          xAxisBoundaries.push({
            year: nameData[h].year,
            leftBoundary: ((h - 1 / 2) * width) / (nameData.length - 1),
            rightBoundary: ((h + 1 / 2) * width) / (nameData.length - 1)
          });
        }

        //for each name in input
        for (i = 0; i < thisComponent.SelectedNames.length; i++) {
          //for each name in that year
          for (j = 0; j < nameData[h].data.length; j++) {
            if (
              thisComponent.SelectedNames[i].name.toLowerCase() ==
                nameData[h].data[j].name.toLowerCase() &&
              (thisComponent.SelectedNames[i].gender ==
                nameData[h].data[j].gender ||
                thisComponent.SelectedNames[i].gender === "both")
            ) {
              data[h][
                nameData[h].data[j].name +
                  "_" +
                  nameData[h].data[j].gender +
                  "_"
              ] = nameData[h].data[j].count;
              var isDuplicate = 0;
              //for each name already entered as a key
              for (k = 0; k < keys.length; k++) {
                if (
                  nameData[h].data[j].name +
                    "_" +
                    nameData[h].data[j].gender +
                    "_" ==
                  keys[k]
                ) {
                  isDuplicate = 1;
                  break;
                }
              }
              if (isDuplicate == 0) {
                keys.push(
                  nameData[h].data[j].name +
                    "_" +
                    nameData[h].data[j].gender +
                    "_"
                );
              }
            }
          }
        }
      }

      var startDate = new Date(minYear, 0, 1, 0, 0, 0);
      var endDate = new Date(maxYear, 0, 1, 0, 0, 0);
      var stack = d3
        .stack()
        .keys(keys)
        .order(d3.stackOrderNone)
        .offset(d3.stackOffsetNone);

      var series = stack(data);

      //remove NaNs from series
      for (let i = 0; i < series.length; i++) {
        for (let j = 0; j < series[i].length; j++) {
          if (isNaN(series[i][j][0])) {
            series[i][j][0] = series[i][j][1];
          }
          if (isNaN(series[i][j][1])) {
            series[i][j][1] = series[i][j][0];
          }
        }
      }
      var x = d3
        .scaleLinear()
        .domain([startDate, endDate])
        .range([margin.left, width]);

      //find out maximum y value of series
      var flattenedArray = [];
      for (i = 0; i < series.length; i++) {
        for (j = 0; j < series[i].length; j++) {
          flattenedArray.push(series[i][j][1]);
        }
      }

      var y = d3
        .scaleLinear()
        .domain([0, d3.max(flattenedArray)])
        .range([vm.SVGHeight - 20, 0]);

      var xAxis = d3
        .axisBottom(x)
        .tickValues(xAxisValues)
        .tickFormat(d3.timeFormat("%Y"));

      var area = d3
        .area()
        .x(function(d, i) {
          return x(d.data.year);
        })
        .y0(function(d) {
          return y(d[0]);
        })
        .y1(function(d) {
          return y(d[1]);
        });
      // .curve(d3.curveBasis)
      svg
        .selectAll(".none")
        .data(series)
        .enter()
        .append("path")
        .attr("d", area)
        .attr("fill", function(d) {
          //return "rgb(0, " + (Math.floor(88 + 100 * (d.index + 1)/series.length)) + "," + (Math.floor(119 + 136 * (d.index + 1)/series.length)) + ")";
          return (
            "hsl(210, 100%, " +
            (40 + (40 * (d.index + 1)) / series.length) +
            "% )"
          );
        })
        .attr("id", function(d) {
          return d.key + "Stream";
        })
        .attr("data-name", function(d) {
          var splitKey = d.key.split("_");
          return splitKey[0];
        })
        .attr("data-gender", function(d) {
          var splitKey = d.key.split("_");
          return splitKey[1];
        })
        .attr("data-namestream", 1)
        .style("cursor", "none")
        .on("mousemove", function(d, i) {
          var splitKey = d.key.split("_");
          var keyName = splitKey[0];
          var keyGender = splitKey[1];
          thisComponent.ShowToolTip = true;
          var mousePos = d3.mouse(this);
          var mouseX = mousePos[0];
          var mouseY = mousePos[1];
          var currentYear, currentValue;
          for (i = 0; i < xAxisBoundaries.length; i++) {
            if (
              mouseX >= xAxisBoundaries[i].leftBoundary &&
              mouseX < xAxisBoundaries[i].rightBoundary
            ) {
              currentYear = xAxisBoundaries[i].year;
              currentValue = d[i][1] - d[i][0];
            }
          }
          thisComponent.ToolTipLeft = mouseX + 5 + "px";
          thisComponent.ToolTipTop = mouseY + navHeight + "px";
          var nameLine = `${keyName[0] + keyName.slice(1).toLowerCase()} ${
            isUnisex(keyName) ? "(" + keyGender + ")" : ""
          }`;
          thisComponent.ToolTipHTML = `${nameLine}<br/>${currentYear} <br/> ${currentValue}`;
        })
        .on("mouseout", function(d, i) {})
        .on("click", function(d) {
          const name = d.key.split("_")[0];
          const gender = d.key.split("_")[1];
          vm.SelectedNames = vm.SelectedNames.filter(
            e =>
              e.name.toLowerCase() !== name.toLowerCase() ||
              e.gender.toLowerCase() !== gender.toLowerCase()
          );
        });

      svg
        .append("g")
        .attr("transform", "translate(0," + (vm.SVGHeight - 20) + ")")
        .call(xAxis)
        .classed("titleFont", true);

      //when the mouse hovers over a name, fade out all other names
      svg
        .selectAll("path")
        .attr("opacity", 1)
        .on("mouseout", function() {
          thisComponent.ShowToolTip = false;
        })
        .on("mouseover", function(d, i) {
          svg
            .selectAll("path")
            .transition()
            .duration(400)
            .attr("opacity", function(d, j) {
              return j != i ? 0.3 : 1;
            });
        });

      //when the mouse leaves the graph, return all names to full opacity
      svg.on("mouseout", function(d, i) {
        svg
          .selectAll("path")
          .transition()
          .duration(400)
          .attr("opacity", 1);
      });
      //find size of largest rectangle contained within each stream.
      var paths = document.querySelectorAll("path[data-name]");
      var streamCoords = [];
      for (let i = 0; i < series.length; i++) {
        var currentName = paths[i].getAttribute("data-name");
        var currentGender = paths[i].getAttribute("data-gender");
        // remove M from start so all we have is L-separated list of co-ords
        var searchString = document
          .getElementById(series[i].key + "Stream")
          .getAttribute("d")
          .slice(1);
        var match = /\d+.{0,1}\d*L/;
        var nextL;
        var currentStreamCoords = [[], []];
        var wayBack = 0;
        var nextX, nextY0, nextY1, position;
        //work along the top end of the path. Break when the bottom half begins
        while (wayBack == 0) {
          if (
            nextX ==
            searchString.substring(searchString, searchString.indexOf(","))
          ) {
            //work along the bottom half of the path
            for (let j = 0; j < currentStreamCoords[1].length - 1; j++) {
              nextX = searchString.substring(
                searchString,
                searchString.indexOf(",")
              );
              searchString = searchString.slice(searchString.indexOf(",") + 1);
              nextY1 = parseFloat(
                searchString.substring(searchString, searchString.indexOf("L"))
              );
              currentStreamCoords[1][
                currentStreamCoords[1].length - 1 - j
              ].push(vm.SVGHeight - 20 - nextY1);
            }
            wayBack = 1;
          }

          if (wayBack == 0) {
            nextX = searchString.substring(
              searchString,
              searchString.indexOf(",")
            );
            searchString = searchString.slice(searchString.indexOf(",") + 1);
            nextY0 = parseFloat(
              searchString.substring(searchString, searchString.indexOf("L"))
            );
            currentStreamCoords[0].push(nextX);
            currentStreamCoords[1].push([vm.SVGHeight - 20 - nextY0]);
            searchString = searchString.slice(searchString.indexOf("L") + 1);
          }
        }

        searchString = searchString.slice(searchString.indexOf(",") + 1);
        var nextY1 = parseFloat(
          searchString.substring(searchString, searchString.indexOf("Z"))
        );
        currentStreamCoords[1][0].push(vm.SVGHeight - 20 - nextY1);

        streamCoords.push({
          name: { name: currentName, gender: currentGender },
          coords: currentStreamCoords
        });
      }

      //find interval of 2 years with tallest rectangle contained within
      //var lowerBounds, upperBounds, infinum, supremum;
      var biggestGapX = 0;
      console.log(streamCoords);
      for (i = 0; i < streamCoords.length; i++) {
        var currentSupremumY;
        var lowerBounds;
        var currentInfinumY;
        var currentGap;
        var supremumY = 0;
        var infinumY = 9999999;
        var infinumX = 9999999;
        var supremumX = 0;
        var biggestGap = 0;
        for (j = 0; j < data.length - 2; j++) {
          lowerBounds = [
            streamCoords[i].coords[1][j][1],
            streamCoords[i].coords[1][j + 1][1],
            streamCoords[i].coords[1][j + 2][1]
          ];
          currentSupremumY = Math.max(
            streamCoords[i].coords[1][j][1],
            streamCoords[i].coords[1][j + 1][1],
            streamCoords[i].coords[1][j + 2][1]
          );
          currentInfinumY = Math.min(
            streamCoords[i].coords[1][j][0],
            streamCoords[i].coords[1][j + 1][0],
            streamCoords[i].coords[1][j + 2][0]
          );
          currentGap = currentInfinumY - currentSupremumY;
          if (currentGap > biggestGap) {
            supremumY = currentSupremumY;
            infinumY = currentInfinumY;
            biggestGap = currentGap;
            biggestGapX = streamCoords[i].coords[0][j + 1];
          }
        }

        // pop in a test label
        var labelFontSize = "2.5vh";
        svg
          .append("text")
          .attr("id", "sampleLabel")
          .classed("title-font", true)
          .style("visiblity", "hidden")
          .style("font-size", labelFontSize)
          .text("sample");

        //work out height and width of labels
        var labelHeight = document.getElementById("sampleLabel").getBBox()
          .height;
        var labelWidth = document.getElementById("sampleLabel").getBBox()
          .height;

        //if the label will fit, add it
        if (labelHeight < biggestGap) {
          svg
            .append("text")
            .text(function(d) {
              console.log(nameData);
              if (isUnisex(streamCoords[i].name.name) > 0) {
                return (
                  streamCoords[i].name.name +
                  " (" +
                  streamCoords[i].name.gender +
                  ")"
                );
              } else {
                return streamCoords[i].name.name;
              }
            })
            .attr("y", function() {
              return (
                vm.SVGHeight - 20 - infinumY + biggestGap / 2 + labelHeight / 2
              );
            })
            .attr("x", function() {
              return biggestGapX - labelWidth / 2;
            })
            .classed("title-font", true)
            .classed("stream-label", true)
            .style("font-size", labelFontSize)
            .attr("data-name", function() {
              return "label-" + streamCoords[i].name.name;
            });
        }
      }

      let totalTextWidth = 0;
    }
  }
};
</script>
<style scoped>
li[data-gender="boy"] {
  color: var(--main-brand);
}

li[data-gender="boy"]:hover {
  background-color: var(--main-brand);
  color: var(--light-shades);
}

.tooltip {
  font-family: var(--title-font);
}

#svgCanvas {
  float: left;
}

.tooltip {
  cursor: none;
}

li[data-extra="girl"] {
  color: #ff61ff;
}

li[data-extra="girl"]:hover {
  background-color: #ff61ff;
  color: var(--light-shades);
}
</style>
<style>
#selectedNames button:hover span {
  display: none;
}

.stream-label {
  fill: var(--light-shades);
}
</style>
