<template>
  <div id="vis">
    <NavBar ThisPage="Visualisations" />
    <GraphOptionsContainer>
      <VisTitle VisTitle="UK Climate" ShowCog @toggleCog="toggleSettings" />
      <GraphControlForm>
        <SelectOptions
          v-if="CurrentMode === 'monthlyLine'"
          :Options="LineGraphOptions"
          @input="toggleOption"
        ></SelectOptions>
        <VisSelect
          v-if="CurrentMode === 'Table'"
          id="selectedMonth"
          prompt="Select a month:"
          :Options="TableOptions"
          :InitialValue="SelectedTableMonth"
          @input="getDataForTable"
        ></VisSelect>
        <span id="daySliderContainer">
          <SliderInput
            v-if="CurrentMode === 'dailyLine'"
            LabelName="Day"
            :MinVal="1"
            :MaxVal="365"
            :DefaultVal="Number(LineGraphDay)"
            @input="ChangeDayForLineGraph"
          ></SliderInput>
        </span>
      </GraphControlForm>
    </GraphOptionsContainer>
    <div id="graph-title-placeholder" :style="{padding: '0px'}">
      <VisTitle VisTitle="PH" />
    </div>
    <div id="visContainer">
      <LineGraph
        v-if="CurrentMode==='monthlyLine' || CurrentMode==='dailyLine' || CurrentMode==='delta'"
        :SVGHeight="SVGHeight"
        :SVGWidth="SVGWidth"
        :Max="LineGraphMax"
        :Min="LineGraphMin"
        :Heading="ChartHeading"
        :LineData="ClimateData"
        :HorizontalMarkers="HorizontalMarkers"
        :XAxisLabel="LineGraphLabelX"
        :YAxisLabel="LineGraphLabelY"
      ></LineGraph>
      <DataTable
        v-if="CurrentMode==='Table'"
        :TableData="TableData"
        :Headings="['Rank', 'Year', 'Temperature (Celsius)']"
      ></DataTable>
    </div>
    <transition name="fade">
      <ModalMainBrand v-if="this.$store.state.ShowInfo">
        <h3 class="title-font">Info</h3>
        <p>
          If you choose a parent and a child language, this page
          will return all of ther
        </p>
        <button @click="toggleInfo()">Close</button>
      </ModalMainBrand>
    </transition>
    <transition name="fade">
      <ModalLightShade v-if="ShowSettings">
        <font-awesome-icon icon="window-close" @click="toggleSettings" />
        <h5>Choose a mode:</h5>
        <RadioInput
          v-model="CurrentMode"
          @input="RadioChange"
          RadioName="CurrentMode"
          :InitialValue="CurrentMode"
          :Options="[{displayName: 'Daily Line Graph', value: 'dailyLine'},{displayName: 'Monthly Line Graph', value: 'monthlyLine'}, {displayName: 'Table', value: 'Table'}, {displayName: 'Delta', value: 'delta'}, {displayName: 'Variance', value: 'variance'}]"
        ></RadioInput>
        <!-- <SelectOptions :Options="VisModeOptions" @input="toggleMode"></SelectOptions> -->
        <div v-if="CurrentMode==='monthlyLine'  || CurrentMode==='dailyLine'">
          <h5>Apply Smoothing?</h5>
          <ToggleInput :Value="ApplySmoothing" v-on:input="ApplySmoothing = !ApplySmoothing"></ToggleInput>
          <SliderInput
            v-if="ApplySmoothing"
            LabelName="Smoothing Factor"
            :MinVal="2"
            :MaxVal="50"
            :DefaultVal="SmoothingFactor"
            @input="SliderChange"
          ></SliderInput>
        </div>
        <div v-if="CurrentMode==='dailyLine'">
          <button @click="AnimateYear">Animate Year</button>
        </div>
        <div v-if="CurrentMode==='Table'">
          <div>
            <!-- <button @click="getHottestYears">Get Hottest Years</button>
            <button @click="getYearlyVariance">Get Yearly Variance</button>-->
          </div>
        </div>
        <div v-if="CurrentMode==='delta'">
          <RadioInput
            v-model="DeltaType"
            RadioName="DeltaType"
            :InitialValue="DeltaType"
            :Options="[{displayName: 'Month to month', value: 'month'},{displayName: 'Year to Year', value: 'year'}]"
          ></RadioInput>
          <h5 v-if="DeltaType==='year'">Compare with X years ago:</h5>
          <SliderInput
            v-if="DeltaType==='year'"
            LabelName="Years"
            :MinVal="1"
            :MaxVal="50"
            :DefaultVal="Number(DeltaDistance)"
            v-model="DeltaDistance"
          ></SliderInput>
        </div>
        <button @click="toggleSettings">Close</button>
      </ModalLightShade>
    </transition>
    <Loader v-if="ShowLoader" :LoaderProgress="LoaderText" @click="HideLoader()"></Loader>
  </div>
</template>

<script>
import NavBar from "../components/NavBar.vue";
import VisTitle from "../components/vis/VisTitle.vue";
import GraphOptionsContainer from "../components/vis/GraphOptionsContainer.vue";
import GraphControlForm from "../components/vis/GraphControlForm.vue";
import ModalMainBrand from "../components/ModalMainBrand.vue";
import ModalLightShade from "../components/ModalLightShade.vue";
import Loader from "../components/Loader.vue";
import ToolTip from "../components/vis/ToolTip.vue";
import VisSelect from "../components/vis/VisSelect.vue";
import LineGraph from "../components/vis/chartTypes/LineGraph.vue";
import DataTable from "../components/vis/chartTypes/DataTable.vue";
import ToggleInput from "../components/vis/ToggleInput.vue";
import SliderInput from "../components/vis/SliderInput.vue";
import RadioInput from "../components/vis/RadioInput.vue";
import SelectOptions from "../components/vis/SelectOptions.vue";
import TextInput from "../components/vis/TextInput.vue";
import { URLSearchParams } from "url";
import Vue from "vue";
import VueRouter from "vue-router";

var cookies = document.cookie.split(";").reduce((res, c) => {
  const [key, val] = c
    .trim()
    .split("=")
    .map(decodeURIComponent);
  const allNumbers = str => /^\d+$/.test(str);
  try {
    return Object.assign(res, {
      [key]: allNumbers(val) ? val : JSON.parse(val)
    });
  } catch (e) {
    return Object.assign(res, { [key]: val });
  }
}, {});

var margin = { top: 0, left: 0, bottom: 50, right: 0 };

export default {
  name: "UKClimate",
  components: {
    NavBar,
    VisTitle,
    GraphOptionsContainer,
    GraphControlForm,
    ModalMainBrand,
    ModalLightShade,
    ToolTip,
    Loader,
    VisSelect,
    ToggleInput,
    SliderInput,
    TextInput,
    LineGraph,
    SelectOptions,
    DataTable,
    RadioInput
  },
  props: {},
  data: function() {
    return {
      ChartHeading: "",
      SVGHeight: 0,
      TitleHeight: 0,
      ShowSettings: true,
      ShowLoader: false,
      LoaderText: "",
      ClimateData: [],
      TableData: [],
      ApplySmoothing: true,
      SmoothingFactor: 10,
      DeltaDistance: 10,
      HorizontalMarkers: [],
      DefaultSliderValue: 1,
      LineGraphDay: 1,
      LineGraphMin: 0,
      LineGraphMax: 30,
      CurrentMode: "",
      SelectedTableMonth: 3,
      VisModeOptions: [
        { name: "Daily Line Graph", key: 1, selected: false },
        { name: "Monthly Line Graph", key: 2, selected: true },
        { name: "Table", key: 3, selected: false },
        { name: "Variance", key: 4, selected: false },
        { name: "Delta", key: 5, selected: false }
      ],
      LineGraphOptions: [
        { name: "January", key: 1, selected: false },
        { name: "February", key: 2, selected: false },
        { name: "March", key: 3, selected: false },
        { name: "April", key: 4, selected: false },
        { name: "May", key: 5, selected: false },
        { name: "June", key: 6, selected: false },
        { name: "July", key: 7, selected: false },
        { name: "August", key: 8, selected: false },
        { name: "September", key: 9, selected: false },
        { name: "October", key: 10, selected: false },
        { name: "November", key: 11, selected: false },
        { name: "December", key: 12, selected: false },
        { name: "Yearly", key: 13, selected: false }
      ],
      HeadingInfo: "",
      ChartHeading: "",
      DeltaType: "",
      LineGraphLabelY: "",
      LineGraphLabelX: "",
      YearData: []
    };
  },
  computed: {
    SVGWidth: function() {
      var dataLength = this.ClimateData.length;
      var windowWidth = window.innerWidth;
      return Math.max(dataLength * 2, windowWidth);
    },
    TableOptions: function() {
      return this.LineGraphOptions.map(e => ({
        displayName: e.name,
        value: e.key
      }));
    }
  },
  watch: {
    ApplySmoothing: {
      handler: function(val) {
        var URLQuery = { ...this.$route.query };
        URLQuery.smoothed = val;
        this.$router.push({ query: URLQuery });
        switch (this.CurrentMode) {
          case "monthlyLine":
            if (this.ClimateData.length > 0) {
              this.getSelectedClimateData();
            }
            break;
          case "dailyLine":
            this.LineGraphDay++;
            this.LineGraphDay--;
            break;
          default:
        }
      }
    },
    CurrentMode: {
      handler: async function(val) {
        var monthPromises = this.LineGraphOptions.map(e =>
          this.getMonthlyData(e.key)
        );
        var URLQuery = { ...this.$route.query };
        console.log(val);
        switch (val) {
          case "dailyLine":
            console.log("daily");
            console.log(URLQuery);
            delete URLQuery.months;
            delete URLQuery.month;
            console.log(URLQuery);
            break;
          case "monthlyLine":
            delete URLQuery.day;
            delete URLQuery.month;
            break;
          case "table":
            delete URLQuery.day;
            delete URLQuery.months;
            break;
          case "delta":
            let allData = await Promise.all(monthPromises);
            this.YearData = allData[12];
            console.log(this.YearData);
            this.getTemperatureDelta();
            break;
          default:
            break;
        }
        URLQuery.mode = val;
        this.$router.push({ query: URLQuery });
      }
    },
    DeltaDistance: {
      handler: function(val) {
        console.log(this.YearData);
        var newData = this.YearData.data
          .map((e, i, a) => {
            let returnD = i > val ? e[2] - a[i - (Number(val) + 1)][2] : 0;
            return [e[0], e[1], returnD];
          })
          .slice(val);
        this.ClimateData = [
          {
            title: undefined,
            data: newData // "de-objectify" the month
          }
        ];
      }
    },
    SmoothingFactor: {
      handler: function(val) {
        var URLQuery = { ...this.$route.query };
        URLQuery.smoothingFactor = val;
        this.$router.push({ query: URLQuery });
        if (this.ClimateData.length > 0) {
          this.getSelectedClimateData();
        }
      }
    },
    LineGraphOptions: {
      handler: function(val) {
        var URLQuery = { ...this.$route.query };
        URLQuery.months = `[${val
          .filter(e => e.selected)
          .map(e => e.key - 1)}]`;
        this.$router.push({ query: URLQuery });

        this.getSelectedClimateData();
      },
      deep: true
    },
    DeltaType: {
      handler: async function(val) {
        var URLQuery = { ...this.$route.query };
        URLQuery.deltaType = val;
        this.$router.push({ query: URLQuery });
        var monthPromises = this.LineGraphOptions.map(e =>
          this.getMonthlyData(e.key)
        );

        var lineData = await Promise.all(monthPromises);
        switch (val) {
          case "month":
            let deltaArray = lineData.slice(0, 12);
            deltaArray = deltaArray
              .map(e => e.data.map(g => g[2])) // "de-objectify" the month
              .map((e, i, a) =>
                e.map((g, j) =>
                  a[(12 + i - 1) % 12][j] ? e[j] - a[(12 + i - 1) % 12][j] : 0
                )
              ) // change the value to the delta for each month
              .map((e, i, a) => {
                return (
                  e.reduce((x, y) => {
                    return x + y;
                  }) / e.length
                );
              }); // get the average of each array
            this.ChartHeading = "Average Monthly Temperature Deltas in the UK";
            this.LineGraphMin = -4;
            this.LineGraphMax = 4;
            this.LineGraphLabelX = "Month";
            this.LineGraphLabelY = "Temperature Change (Celsius)";
            this.HorizontalMarkers = [-4, -3, -2, -1, 0, 1, 2, 3, 4];
            this.ClimateData = [
              {
                title: undefined,
                data: deltaArray.map((e, i) => [i + 1, i + 1, e])
              }
            ];
            break;
          case "year":
            let distance = 19;
            deltaArray = lineData[12].data;
            deltaArray = deltaArray
              .map((e, i, a) => {
                let returnD =
                  i > this.DeltaDistance
                    ? e[2] - a[i - (this.DeltaDistance + 1)][2]
                    : 0;
                return [e[0], e[1], returnD];
              })
              .slice(this.DeltaDistance); // "de-objectify" the month
            this.ChartHeading = "Average Yearly Temperature Deltas in the UK";
            this.LineGraphMin = -4;
            this.LineGraphMax = 4;
            this.LineGraphLabelX = "Month";
            this.LineGraphLabelY = "Temperature Change (Celsius)";
            this.HorizontalMarkers = [-4, -3, -2, -1, 0, 1, 2, 3, 4];
            this.ClimateData = [
              {
                title: undefined,
                data: deltaArray
              }
            ];
            break;
          default:
            break;
        }
      }
    },
    LineGraphDay: {
      handler: async function(sliderDay) {
        var URLQuery = { ...this.$route.query };
        URLQuery.day = sliderDay;
        this.$router.push({ query: URLQuery });
        var date = new Date(2009, 0); // initialize a date in `year-01-01`
        var newdate = new Date(date.setDate(sliderDay)); // add the number of days
        let day = String(newdate.getDate());
        day = day.length === 1 ? "0" + day : day;
        let month = String(newdate.getMonth());
        month = month.length === 1 ? "0" + month : month;
        var dailyFetch = await fetch("/django/uk-climate/getDailyResults", {
          method: "POST",
          credentials: "include",
          headers: { "x-csrftoken": cookies.csrftoken },
          body: JSON.stringify({
            date: `${month}${day}`
          }),
          mode: "cors"
        });
        var dailyData = await dailyFetch.json();
        var vm = this;
        var smoothedData = vm.smoothData(dailyData.results.data.map(y => y[1]));
        let plottedDay = `${day}/${
          String(Number(month) + 1).length === 1
            ? 0 + String(Number(month) + 1)
            : String(Number(month) + 1)
        }`;
        this.HorizontalMarkers = [
          0,
          2,
          4,
          6,
          8,
          10,
          12,
          14,
          16,
          18,
          20,
          22,
          24,
          26,
          28
        ];
        this.ChartHeading = `Yearly temperatures in the UK on ${plottedDay}`;
        if (this.ApplySmoothing) {
          this.ChartHeading += " (smoothed)";
        }
        this.ClimateData = [
          {
            title: undefined,
            data: dailyData.results.data.map((e, i) => {
              let returnVar = vm.ApplySmoothing ? smoothedData[i] : e[1];
              return [e[0], e[0], returnVar];
            })
          }
        ];
      }
    }
  },
  created() {},
  updated() {
    if (document.getElementById("graph-options-container")) {
      var containerHeight =
        document.getElementById("graph-options-container").offsetHeight + "px";
      document.getElementById(
        "graph-title-placeholder"
      ).style.height = containerHeight;
    }

    var screenHeight = window.innerHeight;
    this.navHeight = document.getElementById("navbar").offsetHeight;
    var titleHeight = document.getElementById("graph-title-placeholder")
      .offsetHeight;
    this.SVGHeight = screenHeight - this.navHeight - titleHeight - 10;
  },
  async created() {
    // .filter((e, i) => i % 10 === 1);
    // .slice(0, 1000);
  },
  mounted() {
    var queryParams = this.$route.query;

    this.CurrentMode = this.$route.query.mode;

    // parse url params
    if ("smoothed" in queryParams) {
      this.ApplySmoothing = queryParams.smoothed == "true";
    }
    if ("smoothingFactor" in queryParams) {
      this.SmoothingFactor = Number(queryParams.smoothingFactor);
    }
    if ("month" in queryParams) {
      this.SelectedTableMonth = queryParams.month;
      this.getDataForTable(queryParams.month);
      this.ShowSettings = false;
    }
    if ("months" in queryParams) {
      this.ShowSettings = false;
      let paramMonths = JSON.parse(queryParams.months);
      paramMonths.forEach(e => {
        this.LineGraphOptions[e].selected = true;
      });
    }
    if ("day" in queryParams) {
      this.ShowSettings = false;
      this.LineGraphDay = queryParams.day;
    }
    if ("showAnimation" in queryParams) {
      this.ShowSettings = false;
      this.AnimateYear();
    }
    if ("deltaType" in queryParams) {
      this.ShowSettings = false;
      this.DeltaType = queryParams.deltaType;
    }
  },
  methods: {
    AnimateYear() {
      this.ShowSettings = false;
      this.LineGraphDay = 1;
      var intervalID = setInterval(() => {
        this.LineGraphDay++;
        if (++this.LineGraphDay > 364) {
          window.clearInterval(intervalID);
        }
      }, 80);
    },
    RadioChange(val) {
      // console.log(this.$router);
      // console.log(this.$route);
      this.CurrentMode = val;
    },
    async getTemperatureDelta() {
      var monthPromises = this.LineGraphOptions.map(e =>
        this.getMonthlyData(e.key)
      );

      var lineData = await Promise.all(monthPromises);
    },
    async getDataForTable(val) {
      let monthData = await this.getMonthlyData(Number(val));

      let sortedData = monthData.data.sort((a, b) => {
        b[2] - a[2];
      });
      this.TableData = monthData.data
        .sort((a, b) => b[2] - a[2])
        .map(e => [e[0], e[2]]);
    },
    async getSelectedClimateData() {
      var selectedOptions = this.LineGraphOptions.filter(e => e.selected);
      var monthPromises = selectedOptions.map(e => this.getMonthlyData(e.key));

      var lineData = await Promise.all(monthPromises);
      var vm = this;

      lineData.forEach(ob => {
        let smoothedData = vm.smoothData(ob.data.map(e2 => e2[2]));

        ob.data = ob.data.map((e1, i) => {
          e1 = vm.ApplySmoothing
            ? [e1[0], e1[0], smoothedData[i]]
            : [e1[0], e1[0], e1[2]];
          return e1;
        });
      });

      lineData = lineData.map(e1 => ({
        ...e1,
        title: selectedOptions.find(e2 => e2.key === e1.title).name
      }));
      this.LineGraphMax = 30;
      this.LineGraphMin = 0;
      this.ChartHeading = `Average Monthly Temperature in the UK Over Time ${
        this.ApplySmoothing ? "(smoothed)" : ""
      }`;
      this.LineGraphLabelX = "Year";
      this.LineGraphLabelY = "Temperature (Celsius)";
      this.ClimateData = lineData;
    },
    toggleOption(val) {
      this.LineGraphOptions[val - 1].selected = !this.LineGraphOptions[val - 1]
        .selected;
    },
    toggleMode() {
      this.VisModeOptions.forEach(e => {
        e.selected = !e.selected;
      });
    },
    SliderChange(val) {
      this.SmoothingFactor = val;
    },
    ChangeDayForLineGraph(val) {
      this.LineGraphDay = val;
    },
    toggleApplySmoothing() {
      this.ApplySmoothing = !this.ApplySmoothing;
    },
    smoothData(inputArray) {
      var smoothingFactor = this.SmoothingFactor;
      var halfSmoothing = Math.floor(smoothingFactor / 2);
      var returnArray = [];

      for (let i = 0; i < inputArray.length; i++) {
        let values = inputArray.slice(
          Math.max(i - halfSmoothing, 0),
          Math.min(i + Math.ceil(smoothingFactor / 2), inputArray.length)
        );
        let length = values.length;
        let average =
          values.reduce((a, b) => {
            return a + b;
          }) / length;
        returnArray.push(average);
      }
      // console.log(returnArray);
      return returnArray;
    },
    async getDailyData() {
      var climateFetch = await fetch("/django/uk-climate/", {
        method: "POST",
        credentials: "include",
        headers: { "x-csrftoken": cookies.csrftoken },
        mode: "cors",
        body: JSON.stringify({ requestType: "getMaxTemp" })
      });
      var climateData = await climateFetch.json();
      // console.log(climateData);
      this.HorizontalMarkers = [
        0,
        2,
        4,
        6,
        8,
        10,
        12,
        14,
        16,
        18,
        20,
        22,
        24,
        26,
        28
      ];
      this.LineGraphLabelX = "Year";
      this.LineGraphLabelY = "Temperature (Celsius)";
      this.ClimateData = climateData.results.data;
    },
    async getMonthlyData(requestedMonth) {
      var climateFetch = await fetch("/django/uk-climate/getMonthData", {
        method: "POST",
        credentials: "include",
        headers: { "x-csrftoken": cookies.csrftoken },
        body: JSON.stringify({ requestedMonth: requestedMonth }),
        mode: "cors"
      });
      var climateData = await climateFetch.json();
      // console.log(climateData);
      var smoothedData = this.smoothData(
        climateData.results.data.map(e => e[1])
      );
      this.HorizontalMarkers = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24];
      let newMonth = climateData.results.data.map((e, i) => [e[0], e[0], e[1]]);

      this.LineGraphMax = 18;
      this.LineGraphMin = 0;
      // console.log(
      //   newMonth.sort((a, b) => {
      //     return b[2] - a[2];
      //   })
      // );
      return {
        title: requestedMonth,
        data: newMonth
      };

      // this.ClimateData.push({
      //   title: requestedMonth,
      //   data: newMonth
      // });
    },
    async getYearlyData() {
      var climateFetch = await fetch("/django/uk-climate/getYearData", {
        method: "GET",
        credentials: "include",
        headers: { "x-csrftoken": cookies.csrftoken },
        mode: "cors"
      });
      var climateData = await climateFetch.json();
      // console.log(climateData);
      var smoothedData = this.smoothData(
        climateData.results.data.map(e => e[1])
      );
      this.HorizontalMarkers = [6, 7, 8, 9, 10, 11, 12, 13, 14, 15];
      this.LineGraphLabelX = "Year";
      this.LineGraphLabelY = "Temperature (Celsius)";
      this.ClimateData = climateData.results.data;
      // this.ClimateData = climateData.results.data;
      this.LineGraphMax = 16;
      this.LineGraphMin = 5;
      console.log(this.ClimateData);
      return climateData.results.data;
      // console.log(this.ClimateData.map((e, i) => [e[0], smoothedData[i]]));
      // this.ClimateData = this.ClimateData.map((e, i) => [
      // e[0],
      // smoothedData[i]
      // ]);
    },
    async getYearlyVariance() {
      var yearlyData = await this.getYearlyData();
      console.log(yearlyData);
      var totalChange = yearlyData.reduce((x, y, i) => {
        if (yearlyData.data[i + 1]) {
          let thisYear = yearlyData.data[i][2];
          let nextYear = yearlyData.data[i + 1][2];
          let diff = Math.abs(nextYear - thisYear);
          x = x + diff;
        }
        console.log(x);
        return x;
      }, 0);
      var averageChange = totalChange / yearlyData.data.length;
      console.log(averageChange);
      return averageChange;
    },
    async getHottestYears() {
      var yearlyData = await this.getMonthlyData(13);
      console.log(yearlyData.data);
      var sorted = yearlyData.data.sort((a, b) => b[2] - a[2]);
      console.log(sorted);
      return sorted;
    },
    toggleSettings() {
      this.ShowSettings = !this.ShowSettings;
    },
    toggleInfo() {
      this.$store.commit("toggleInfo");
    }
  }
};
</script>
<style scoped>
#visContainer {
  overflow-x: auto;
}

#graph-control-form select {
  max-width: 40%;
}

/* #visContainer >>> div {
  width: 100%;
  overflow-x: auto;
} */

#visContainer >>> div table {
  box-shadow: 1px 1px 2px 1px var(--light-accent);
  margin: 10px 5px;
  border-collapse: collapse;
}

#visContainer >>> div table th {
  padding: 0px 20px;
}

#visContainer >>> div table td:nth-child(odd) {
  background-color: var(--main-brand-translucent);
}
#visContainer >>> div table th:nth-child(odd) {
  background-color: var(--main-brand-translucent);
}
</style>
<style>
</style>
