<template>
  <div id="app">
    <NavBar ThisPage="Visualisations" />
    <GraphOptionsContainer>
      <VisTitle VisTitle="UK Train Delay" />
    </GraphOptionsContainer>
    <div id="graph-title-placeholder">
      <VisTitle VisTitle="PH" />
    </div>
    <div id="svgCanvas"></div>
    <transition name="fade">
      <ModalMainBrand v-if="this.$store.state.ShowInfo">
        <h3 class="title-font">Info</h3>
        <p>Some information about this chart. Blah blah blah.</p>
        <button @click="toggleInfo()">Close</button>
      </ModalMainBrand>
    </transition>
    <!-- <transition name="fade">
      <div class="info-modal" v-if="this.$store.state.ShowInfo">
        <h3 class="title-font">Info</h3>
        <p>Some information about this chart. Blah blah blah.</p>
        <button @click="toggleInfo()">Close</button>
      </div>
    </transition>-->
  </div>
</template>

<script>
import NavBar from "../components/NavBar.vue";
import VisTitle from "../components/vis/VisTitle.vue";
import GraphOptionsContainer from "../components/vis/GraphOptionsContainer.vue";
import ModalMainBrand from "../components/ModalMainBrand.vue";
import gmapsInit from "../utils/gmaps";

var cookies = document.cookie.split(";").reduce((res, c) => {
  const [key, val] = c
    .trim()
    .split("=")
    .map(decodeURIComponent);
  const allNumbers = str => /^\d+$/.test(str);
  try {
    return Object.assign(res, {
      [key]: allNumbers(val) ? val : JSON.parse(val)
    });
  } catch (e) {
    return Object.assign(res, { [key]: val });
  }
}, {});

var map;

// console.log(EtymologyTreemap.getAllRootLangs(cookies.csrftoken));
export default {
  name: "UKTrainDelay",
  data: function() {
    return {
      bounds: { lat: [51.4118, 51.5281], lng: [-0.2037, 0.1437] }
    };
  },
  components: {
    NavBar,
    VisTitle,
    GraphOptionsContainer,
    ModalMainBrand
  },
  async mounted() {
    const navbar = document.querySelector("#navbar");
    const options = document.querySelector("#graph-options-container");
    const mapHeight =
      window.innerHeight - navbar.offsetHeight - options.offsetHeight;
    document.querySelector("#svgCanvas").style.height = mapHeight + "px";
    document.querySelector("#svgCanvas").style.width = window.innerWidth + "px";
    try {
      const google = await gmapsInit();
      const geocoder = new google.maps.Geocoder();
      var getStationData_scoped = this.getStationData();

      const map = new google.maps.Map(document.getElementById("svgCanvas"), {
        center: { lat: 51.47, lng: -0.03 },
        zoom: 12,
        // mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeId: google.maps.MapTypeId.TERRAIN,
        disableDefaultUI: true,
        styles: [
          { elementType: "geometry", stylers: [{ color: "#d9d9d9" }] },
          {
            elementType: "labels.text.stroke",
            stylers: [{ color: "#d9d9d9" }]
          },
          { elementType: "labels.text.fill", stylers: [{ color: "#66b3ff" }] },
          {
            featureType: "water",
            elementType: "geometry",
            stylers: [{ color: "#ffffff" }]
          },
          {
            featureType: "water",
            elementType: "labels.text.fill",
            stylers: [{ color: "#ffffff" }]
          },
          {
            featureType: "water",
            elementType: "labels.text.stroke",
            stylers: [{ color: "#ffffff" }]
          },
          {
            featureType: "landscape.man_made",
            stylers: [{ color: "#c9c9c9" }]
          }
        ]
      });

      function getNewMapBounds() {
        let mapBounds = map.getBounds();
        comp.bounds = {
          lat: [mapBounds.getSouthWest().lat(), mapBounds.getNorthEast().lat()],
          lng: [mapBounds.getSouthWest().lng(), mapBounds.getNorthEast().lng()]
        };
        comp.getStationData();
      }
      var comp = this;
      // Only show labels when zoomed in, otherwise text is everywhere
      map.addListener("zoom_changed", getNewMapBounds);
      map.addListener("dragend", function() {
        let mapBounds = map.getBounds();
        comp.bounds = {
          lat: [mapBounds.getSouthWest().lat(), mapBounds.getNorthEast().lat()],
          lng: [mapBounds.getSouthWest().lng(), mapBounds.getNorthEast().lng()]
        };
        comp.getStationData();
      });
      this.map = map;
      this.getStationData();
    } catch (error) {
      console.error(error);
    }
  },
  created() {},
  methods: {
    toggleInfo() {
      this.$store.commit("toggleInfo");
      if (this.$store.state.FirstLoad) {
        this.$store.commit("toggleControl");
        this.$store.commit("toggleFirstLoad");
      }
    },
    async getStationData() {
      const google = await gmapsInit();
      //request data
      var tool = d3
        .select("body")
        .append("div")
        .attr("class", "toolTip");

      const stationFetchResults = await fetch("/django/londonTrainDelay/", {
        method: "POST",
        body: JSON.stringify(this.bounds),
        headers: { "x-csrftoken": cookies.csrftoken },
        credentials: "include",
        mode: "cors"
      });
      var data = await stationFetchResults.json();
      // get bounds of map as currently shown, and filter station data to only include stations within these bounds
      let bounds = this.map.getBounds();
      var stationData = data.stations.filter(
        station =>
          station.Latitude < bounds.getNorthEast().lat() &&
          station.Latitude > bounds.getSouthWest().lat() &&
          station.Longitude < bounds.getNorthEast().lng() &&
          station.Longitude > bounds.getSouthWest().lng()
      );

      // remove previously plotted stations (to save memory)
      document
        .querySelectorAll(".stations")
        .forEach(e => e.parentNode.removeChild(e));

      //overlay for station points
      var overlay = new google.maps.OverlayView();

      const circleRadius = 4;

      overlay.onAdd = function() {
        //add container for stations
        var layer = d3
          .select(this.getPanes().overlayLayer)
          .append("div")
          .attr("class", "stations");

        //draw each marker
        overlay.draw = function() {
          var projection = this.getProjection();

          // this is the bit that does all the stuff.
          // Add svg container for each station
          var stationGroups = layer
            .selectAll("g")
            .data(d3.entries(stationData))
            .each(transform)
            .enter()
            .append("svg")
            .style("overflow", "visible")
            .attr("data-station", function(d) {
              return d.value._id;
            })
            .attr("data-delay", function(d) {
              return d.value.latestDelay;
            })
            .attr("data-freshness", function(d) {
              return d.value.lastUpdated;
            })
            .attr("class", function(d) {
              return "station " + d.value._id;
            })
            .append("g");
          // now add the labels
          if (this.map.getZoom() > 12) {
            var text = stationGroups
              .append("text")
              .classed("title-font", true)
              .text(function(d) {
                return d.value.Station + ": " + d.value.latestDelay.toFixed(0);
              });
          } else {
            var text = stationGroups
              .append("text")
              .classed("title-font", true)
              .text(function(d) {
                return d.value._id + ": " + d.value.latestDelay.toFixed(0);
              });
          }
          // and finally, add the circles
          var circle = stationGroups
            .append("circle")
            .attr("class", "station-circle")
            // .attr("stroke", "#66b3ff")
            // .attr("stroke-width", 2)
            .attr("fill", function(d) {
              let redValue = Math.min(d.value.latestDelay * 15, 255);
              let greenValue = Math.min(255 - 15 * d.value.latestDelay, 255);
              return "rgb(" + redValue + ", " + greenValue + ", 0)";
            })
            .attr("r", circleRadius);
          // transform svg elements when map draws
          layer.selectAll("text").each(transform);
          layer.selectAll("circle").each(transform);

          function transform(d) {
            var d_latlng = new google.maps.LatLng(
              Number(d.value.Latitude),
              Number(d.value.Longitude)
            );
            d_latlng = projection.fromLatLngToDivPixel(d_latlng);
            switch (this.tagName) {
              case "circle":
                return d3
                  .select(this)
                  .attr("cx", function() {
                    return d_latlng.x + "px";
                  })
                  .attr("cy", function() {
                    return d_latlng.y + "px";
                  });
                break;
              case "text":
                return d3
                  .select(this)
                  .attr("x", function() {
                    return d_latlng.x + circleRadius + "px";
                  })
                  .attr("y", function() {
                    return d_latlng.y + "px";
                  });
                break;
            }
          }
        };
      };

      //bind overlay to map
      overlay.setMap(this.map);
      if (data.updatedStations == 6) {
        this.getStationData();
      }
    }
  }
};
</script>
<style scoped>
</style>
<style>
.stations svg {
  position: absolute;
  height: 30px;
  width: 30px;
  z-index: 100;
  left: 0px;
}

.stations svg circle {
  z-index: 1000;
  stroke: var(--main-brand);
  stroke-width: 2px;
}

.stations svg text {
  fill: var(--dark-shades);
}

.stations-label {
  font-family: var(--title-font);
}
</style>
