<template>
  <div id="app">
    <NavBar ThisPage="Used Car Prices" />
    <div :style="{'padding-top': '1vh','display': 'flex', 'justify-content': 'space-evenly'}">
      <VisSelect
        id="selectedMake"
        :Options="Makes"
        prompt="Choose a make..."
        @input="getModelsForMake"
      ></VisSelect>
      <VisSelect v-if="Models.length > 0" id="selectedModel" :Options="Models" @input="DrawChart"></VisSelect>
    </div>
    <svg id="svgCanvas" />
    <transition name="fade">
      <ModalMainBrand v-if="this.$store.state.ShowInfo">
        <h3 class="title-font">Info</h3>
        <p>Some information about this chart. Blah blah blah.</p>
        <button @click="toggleInfo()">Close</button>
      </ModalMainBrand>
    </transition>
    <ToolTip :ToolTipHTML="ToolTipHTML" v-if="ShowToolTip" :Left="ToolTipLeft" :Top="ToolTipTop"></ToolTip>
    <Loader v-if="ShowLoader" :LoaderProgress="LoaderMessage" @click="ShowLoader = false"></Loader>
  </div>
</template>

<script>
import NavBar from "../components/NavBar.vue";
import VisTitle from "../components/vis/VisTitle.vue";
import VisSelect from "../components/vis/VisSelect.vue";
import ToggleInput from "../components/vis/ToggleInput.vue";
import SliderInput from "../components/vis/SliderInput.vue";
import TextInput from "../components/vis/TextInput.vue";
import GraphOptionsContainer from "../components/vis/GraphOptionsContainer.vue";
import GraphControlForm from "../components/vis/GraphControlForm.vue";
import ModalMainBrand from "../components/ModalMainBrand.vue";
import ToolTip from "../components/vis/ToolTip.vue";
import Loader from "../components/Loader.vue";

var cookies = document.cookie.split(";").reduce((res, c) => {
  const [key, val] = c
    .trim()
    .split("=")
    .map(decodeURIComponent);
  const allNumbers = str => /^\d+$/.test(str);
  try {
    return Object.assign(res, {
      [key]: allNumbers(val) ? val : JSON.parse(val)
    });
  } catch (e) {
    return Object.assign(res, { [key]: val });
  }
}, {});

export default {
  name: "UsedCarPrices",
  data: function() {
    return {
      Makes: [],
      Models: [],
      SelectedMake: String,
      SelectedModels: [],
      ToolTipLeft: "10px",
      ToolTipTop: "300px",
      ShowToolTip: false,
      ShowLoader: false,
      LoaderMessage: "",
      ToolTipHTML: String
    };
  },
  components: {
    NavBar,
    VisTitle,
    VisSelect,
    ToggleInput,
    SliderInput,
    TextInput,
    GraphOptionsContainer,
    GraphControlForm,
    ModalMainBrand,
    ToolTip,
    Loader
  },
  async created() {
    this.LoaderMessage = "Initialising...";
    this.ShowLoader = true;

    const fetchBrands = await fetch("/django/usedCarPrices/", {
      method: "POST",
      headers: { "x-csrftoken": cookies.csrftoken },
      body: JSON.stringify({ requestType: "getMakes" }),
      credentials: "include",
      mode: "cors"
    });
    var makes = await fetchBrands.json();
    this.ShowLoader = false;
    console.log(makes);
    this.Makes = makes.makes.map(e => ({
      displayName: `${e._id} (${e.count})`,
      value: e._id
    }));
  },
  mounted() {
    var screenHeight = window.innerHeight;
    var navHeight = document.getElementById("navbar").offsetHeight;
    var svgHeight = screenHeight - navHeight - 100;
    var svgWidth = window.innerWidth;
    var margin = { left: 60, top: 30, right: 0, bottom: 60 };
    document.querySelector("#svgCanvas").style.height = svgHeight + "px";
    document.querySelector("#svgCanvas").style.width = window.innerWidth + "px";
  },
  methods: {
    toggleSettings: function() {
      this.$store.commit("toggleSettings");
    },
    toggleInfo() {
      this.$store.commit("toggleInfo");
      if (this.$store.state.FirstLoad) {
        this.$store.commit("toggleControl");
        this.$store.commit("toggleFirstLoad");
      }
    },
    // get every root language - no arguments
    getAllMakes: async function() {},

    // get every root word for the current root lang
    getModelsForMake: async function() {
      this.SelectedMake = document.getElementById("selectedMake").value;
      console.log(this.SelectedMake);
      const fetchModels = await fetch("/django/usedCarPrices/", {
        method: "POST",
        headers: { "x-csrftoken": cookies.csrftoken },
        body: JSON.stringify({
          requestType: "getModels",
          make: this.SelectedMake
        }),
        credentials: "include",
        mode: "cors"
      });

      var models = await fetchModels.json();
      this.Models = models.models.map(e => ({
        displayName: `${e._id} (${e.count})`,
        value: e._id
      }));
      console.log(models);
      return;
    },

    ChangeMake: function() {
      this.RootLang = document.getElementById("selectRootLang").value;
      this.getAllRootWords();
    },

    DrawChart: async function() {
      document.getElementById("svgCanvas").innerHTML = "";
      this.SelectedModels.push(document.getElementById("selectedModel").value);
      var screenHeight = window.innerHeight;
      var navHeight = document.getElementById("navbar").offsetHeight;
      var svgHeight = screenHeight - navHeight - 100;
      var svgWidth = window.innerWidth;
      var margin = { left: 60, top: 80, right: 0, bottom: 60 };
      var thisComponent = this;
      const fetchListings = await fetch("/django/usedCarPrices/", {
        method: "POST",
        headers: { "x-csrftoken": cookies.csrftoken },
        body: JSON.stringify({
          requestType: "getResults",
          options: this.SelectedModels
        }),
        credentials: "include",
        mode: "cors"
      });
      this.LoaderMessage = "Loading results...";
      this.ShowLoader = true;

      var carData = await fetchListings.json();
      this.ShowLoader = false;
      //extract results and parse
      var carListings = carData.results.map(x => JSON.parse(x));
      console.log(carListings);
      console.log(carData);

      //If loads of results, remove top 0.5% by value to get rid of fake listings with ridiculous prices
      if (carListings.length > 400) {
        for (let i = 0; i < carListings.length / 200; i++) {
          carListings.shift();
        }
      }

      var yMax = carListings[0].vehicle_price,
        xMax = JSON.parse(carData.max_mileage[0]).mileage;

      var yScale = d3
        .scaleLinear()
        .domain([0, yMax])
        .range([svgHeight - margin.bottom, margin.top]);
      var yMap = function(d) {
        return yScale(d.vehicle_price);
      };
      var yAxis = d3.axisLeft(yScale);
      var xScale = d3
        .scaleLinear()
        .domain([0, Math.min(xMax + 10, 200000)])
        .range([margin.left, svgWidth - margin.right]);
      var xMap = function(d) {
        return xScale(d.mileage);
      };
      var xAxis = d3.axisBottom().scale(xScale);

      var svgCanvas = d3.select("#svgCanvas");

      //create svg elements for each car
      var carElements = svgCanvas
        .selectAll(".nothing")
        .data(carListings)
        .enter()
        .append("g");

      //x axis
      svgCanvas
        .append("g")
        .attr(
          "transform",
          "translate(" + 0 + "," + (svgHeight - margin.bottom) + ")"
        )
        .attr("class", "axis x-axis title-font")
        .call(xAxis);

      //x axis label
      svgCanvas
        .append("text")
        .classed("title-font", true)
        .attr("transform", "translate(30, " + 0 + ")")
        .attr("x", svgWidth / 2)
        .attr("y", svgHeight - 10)
        .attr("text-anchor", "middle")
        .text("Mileage");

      //y axis
      svgCanvas
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + 0 + ")")
        .attr("class", "axis title-font")
        .call(yAxis);

      //y axis label
      svgCanvas
        .append("text")
        .classed("title-font", true)
        .attr(
          "transform",
          "translate(" +
            20 +
            "," +
            (svgHeight - margin.bottom - 80) +
            ") rotate(-90)"
        )
        .text("Price");

      //if only one model chosen, colour and plot trend curves based on year
      if (this.SelectedModels.length == 1) {
        var yearRange = [];
        var allColours = [];

        carListings.sort(function compareCars(a, b) {
          if (a.vehicle_year < b.vehicle_year) {
            return 1;
          }
          if (a.vehicle_year > b.vehicle_year) {
            return -1;
          }
          return 0;
        });

        var minYear = Number(carListings[carListings.length - 1].vehicle_year);
        var maxYear = Number(carListings[0].vehicle_year);
        for (let i = 0; i < Math.min(maxYear - minYear + 1, 15); i++) {
          yearRange.push(maxYear - i);
        }

        //plot each car's circle
        carElements
          .append("circle")
          .attr("r", 1)
          .attr("cx", xMap)
          .attr("cy", yMap)
          .attr("data-x", function(d) {
            return d.mileage;
          })
          .attr("data-y", function(d) {
            return d.vehicle_price;
          })
          .attr("data-model", function(d) {
            return d.model;
          })
          .attr("fill", function(d) {
            return yearColour(d.vehicle_year);
          })
          .attr("opacity", 0.2)
          .attr("data-link", function(d) {
            return "https://www.autotrader.co.uk/classified/advert/" + d.ad_id;
          });

        function getTrendCurve(year) {
          const bandHeight = 10000;
          //only return cars in the desired year
          var cars = carListings.filter(result => result.vehicle_year == year);
          //organise cars in descending mileage order
          cars.sort(function compareCars(a, b) {
            if (a.mileage < b.mileage) {
              return 1;
            }
            if (a.mileage > b.mileage) {
              return -1;
            }
            return 0;
          });

          if (cars.length > 1) {
            var maxMileage = cars[0].mileage;
            var minMileage = cars[cars.length - 1].mileage;

            var topBand = Math.floor(maxMileage / bandHeight) * bandHeight;
            var bottomBand = Math.floor(minMileage / bandHeight) * bandHeight;
            var bandValues = [];
            for (let i = topBand; i >= bottomBand; i = i - bandHeight / 2) {
              var pointsToAve = cars
                .filter(car => Math.abs(car.mileage - i) < bandHeight / 2)
                .map(function(e) {
                  return e.vehicle_price;
                });
              if (pointsToAve.length > 3) {
                var averagePrice =
                  pointsToAve.reduce((a, b) => a + b, 0) / pointsToAve.length;
                if (averagePrice > 0) {
                  bandValues.push({ mileage: i, vehicle_price: averagePrice });
                }
              }
            }

            //try (somehow) to append year lables to end of year lines
            svgCanvas
              .append("text")
              .attr("class", "label")
              .attr("x", function() {
                return xScale(bandValues[0].mileage);
              })
              .attr("y", function() {
                return yScale(bandValues[0].vehicle_price);
              })
              .attr("stroke", function() {
                return yearColour(year);
              })
              .text(year);

            //define the function that draw the path. Pretty simple,
            //draw a smooth line between each point in bandValues
            var pathFunction = d3
              .line()
              .x(function(d) {
                return xScale(d.mileage);
              })
              .y(function(d) {
                return yScale(d.vehicle_price);
              })
              .curve(d3.curveMonotoneX);
            //create trend line
            var trendElements = svgCanvas
              .append("path")
              .attr("d", pathFunction(bandValues))
              .attr("stroke", function() {
                return yearColour(year);
              })
              .attr("stroke-linecap", "round")
              .attr("fill", "none")
              .attr("stroke-width", 2);
          }
        }

        //For each year, draw the trend curve
        for (let k = 0; k < yearRange.length; k++) {
          getTrendCurve(yearRange[k]);
        }

        //legend
        var legend = [],
          legendCircleRadius = 5;
        for (let x in yearRange) {
          legend.push({ position: x, year: yearRange[x] });
        }

        //Container for legend elements
        var svgLegend = svgCanvas
          .selectAll(".nothing")
          .data(legend)
          .enter()
          .append("g");

        //Draw the legend circles
        svgLegend
          .append("circle")
          .attr("r", legendCircleRadius)
          .attr("cx", function(d) {
            return margin.left + (d.position * svgWidth) / legend.length;
          })
          .attr("cy", legendCircleRadius + margin.top + 5)
          .attr("fill", function(d) {
            return yearColour(d.year);
          })
          .attr("class", "legendCircle");

        //Draw the legend text
        svgLegend
          .append("text")
          .classed("label", true)
          .attr("x", function(d) {
            return margin.left + (d.position * svgWidth) / legend.length;
          })
          .attr("y", 4 * legendCircleRadius + 8)
          .attr("text-anchor", "middle")
          .attr("fill", "#585858")
          .text(function(d) {
            return d.year;
          });

        //Function to return a RGB value for each year in yearRange.
        //More green for more recent years, more red for older years]
        //Return black for really old years
        function yearColour(year) {
          var index = yearRange.indexOf(Number(year));
          if (index == -1) {
            return "black";
          }
          var red = index * (255 / yearRange.length);
          var green =
            (yearRange.length - index) * (255 / (yearRange.length + 5));
          if (
            allColours.indexOf(year + "rgb( " + red + "," + green + ",0)") == -1
          ) {
            allColours.push(year + "rgb( " + red + "," + green + ",0)");
          }
          return "rgb( " + red + "," + green + ",0)"; //because full green is just impossible to see
        }
      } else {
        //if more than one model chosen, colour and plot trend curves based on model
        //plot each car's circle
        carElements
          .append("circle")
          .attr("r", 2)
          .attr("cx", xMap)
          .attr("cy", yMap)
          .attr("data-x", function(d) {
            return d.mileage;
          })
          .attr("data-y", function(d) {
            return d.vehicle_price;
          })
          .attr("data-model", function(d) {
            return d.model;
          })
          .attr("fill", function(d) {
            return modelColour(d.model);
          })
          .attr("opacity", 0.3)
          .attr("data-link", function(d) {
            return "https://www.autotrader.co.uk/classified/advert/" + d.ad_id;
          });

        function getTrendCurve(model) {
          const bandHeight = 5000;
          //only return cars in the desired year
          var cars = carListings.filter(result => result.model == model);
          //organise cars in descending mileage order
          cars.sort(function compareCars(a, b) {
            if (a.mileage < b.mileage) {
              return 1;
            }
            if (a.mileage > b.mileage) {
              return -1;
            }
            return 0;
          });

          if (cars.length > 1) {
            var maxMileage = cars[0].mileage;
            var minMileage = cars[cars.length - 1].mileage;

            var topBand = Math.floor(maxMileage / bandHeight) * bandHeight;
            var bottomBand = Math.floor(minMileage / bandHeight) * bandHeight;
            var bandValues = [];
            for (let i = topBand; i >= bottomBand; i = i - bandHeight) {
              var pointsToAve = cars
                .filter(car => Math.abs(car.mileage - i) < bandHeight / 2)
                .map(function(e) {
                  return e.vehicle_price;
                });
              if (pointsToAve.length > 3) {
                var averagePrice =
                  pointsToAve.reduce((a, b) => a + b, 0) / pointsToAve.length;
                if (averagePrice > 0) {
                  bandValues.push({ mileage: i, vehicle_price: averagePrice });
                }
              }
            }
            var pathFunction = d3
              .line()
              .x(function(d) {
                return xScale(d.mileage);
              })
              .y(function(d) {
                return yScale(d.vehicle_price);
              })
              .curve(d3.curveMonotoneX);
            //create trend line
            var trendElements = svgCanvas
              .append("path")
              .attr("d", pathFunction(bandValues))
              .attr("stroke", function() {
                return lineColour(model);
              })
              .attr("stroke-linecap", "round")
              .attr("fill", "none")
              .attr("stroke-width", 2);
          }
        }
        //Draw the trend curve for each model
        for (let k = 0; k < this.SelectedModels.length; k++) {
          getTrendCurve(this.SelectedModels[k]);
        }

        //Colour each model.
        function modelColour(model) {
          var index = thisComponent.SelectedModels.indexOf(model);
          //Each element in selectedModels jumps forward by a hue
          //of 283. 283 is chosen because it is:
          //(1) Far enough away from 0/360 to mean that adjacent colours are sufficiently different
          //(2) Coprime to 360, so no repeats of hues (until all hues are exhausted)
          var colourHue = (index * 283) % 360;
          return "HSL( " + colourHue + "," + "70%, 70%)";
        }

        //same as previous function, but slight less saturated, and slightly darker, so that trend lines stand out
        function lineColour(model) {
          var index = thisComponent.SelectedModels.indexOf(model);
          var colourHue = (index * 283) % 360;
          return "HSL( " + colourHue + "," + "40%, 40%)";
        }

        //legend
        var legend = [],
          legendCircleRadius = 5;
        for (let mod in this.SelectedModels) {
          legend.push({ position: mod, model: this.SelectedModels[mod] });
        }

        svgLegend = svgCanvas
          .selectAll(".nothing")
          .data(legend)
          .enter()
          .append("g");

        svgLegend
          .append("circle")
          .attr("r", legendCircleRadius)
          .attr("cx", function(d) {
            return margin.left + (d.position * svgWidth) / legend.length;
          })
          .attr("cy", legendCircleRadius + margin.top / 2 - 5)
          .attr("fill", function(d) {
            return modelColour(d.model);
          })
          .attr("class", "legendCircle");

        svgLegend
          .append("text")
          .classed("title-font", true)
          .attr("x", function(d) {
            return margin.left + (d.position * svgWidth) / legend.length;
          })
          .attr("y", 4 * legendCircleRadius + 8 + margin.top / 2)
          .attr("text-anchor", "middle")
          .attr("fill", "#585858")
          .text(function(d) {
            return d.model;
          });
      }

      var vertical = d3
        .select("#svgCanvas")
        .append("line")
        .attr("x1", margin.left + 1)
        .attr("x2", margin.left + 1)
        .attr("y1", margin.top)
        .attr("y2", svgHeight - margin.bottom)
        .attr("stroke", "black")
        .attr("opacity", 0.5);
      var horizontal = d3
        .select("#svgCanvas")
        .append("line")
        .attr("x1", margin.left)
        .attr("x2", svgWidth - margin.right)
        .attr("y1", svgHeight - margin.bottom)
        .attr("y2", svgHeight - margin.bottom)
        .attr("stroke", "black")
        .attr("opacity", 0.5);
      var invertXScale = d3
        .scaleLinear()
        .range([0, Math.min(xMax + 10, 200000)])
        .domain([margin.left, svgWidth - margin.right]);
      var invertXMap = function(coords) {
        return Math.max(invertXScale(coords), 0);
      };
      var invertYScale = d3
        .scaleLinear()
        .domain([svgHeight - margin.bottom, margin.top])
        .range([0, yMax]);
      var invertYMap = function(coords) {
        return Math.max(invertYScale(coords), 0);
      };
      d3.select("#svgCanvas")
        .on("mousemove", function() {
          var mouse = d3.mouse(this);
          var mousex = mouse[0] + 5;
          var mousey = mouse[1] + 5;
          vertical.attr("x1", Math.max(mousex, margin.left) + "px");
          vertical.attr("x2", Math.max(mousex, margin.left) + "px");
          horizontal.attr(
            "y1",
            Math.min(mousey, svgHeight - margin.bottom) + "px"
          );
          horizontal.attr(
            "y2",
            Math.min(mousey, svgHeight - margin.bottom) + "px"
          );
          thisComponent.ToolTipLeft = mousex + 5 + "px";
          thisComponent.ToolTipTop = mousey + navHeight + "px";
          thisComponent.ToolTipHTML = `Mileage: ${invertXMap(mousex).toFixed(
            0
          )}<br/>Price: £${invertYMap(mousey).toFixed(0)}`;
        })
        .on("mouseover", function() {
          thisComponent.ShowToolTip = true;
          var mouse = d3.mouse(this);
          var mousey = mouse[1] + 5;
          var mousex = mouse[0] + 5;
          vertical.style("left", mousex + "px");
          thisComponent.ToolTipLeft = mousex + 5 + "px";
          thisComponent.ToolTipTop = mousey + navHeight + "px";
        })
        .on("mouseout", function(d) {
          thisComponent.ShowToolTip = false;
        });
    }
  }
};
</script>
<style scoped>
#svgCanvas {
  float: left;
}

#key {
  width: 55%;
}

#key-directDescendant {
  margin: 0px 2px;
  border-bottom: 2px solid var(--light-accent);
}

#key-derivedWord {
  margin: 0px 2px;
  border-bottom: 2px solid var(--main-brand);
}

#key-borrowedWord {
  margin: 0px 2px;
  border-bottom: 2px solid #ea9c6a;
}

#key-soundChange {
  margin: 0px 2px;
  border-bottom: 2px solid var(--dark-accent);
}
</style>