<template>
  <div>
    <svg
      :height="`${SVGHeight}px`"
      :width="`${SVGWidth}px`"
      id="svgCanvas"
      v-bind:style="{height: SVGHeight, width: SVGWidth}"
    >
      <g class="barChartHeading" />
      <g class="barChartContainer" />
    </svg>
    <div :style="{'height': `${ComponentHeight-SVGHeight}px`}" class="barChartLegend">
      <span
        v-for="group in AllGroups"
        :key="group"
        :style="{'background-color': GenerateColour(AllGroups, group)}"
      >{{group}}</span>
    </div>
  </div>
</template>

<script>
import ToolTip from "../../vis/ToolTip.vue";
export default {
  name: "BarChart",
  components: {
    ToolTip
  },
  props: {
    ChartData: Array,
    Heading: "",
    ComponentHeight: Number,
    ComponentWidth: Number,
    ScreenWidth: window.innerWidth,
    Min: Number,
    Max: Number,
    XAxisLabel: String,
    YAxisLabel: String,
    HorizontalMarkers: Array,
    ToolTipLabel: ""
  },
  data: function() {
    return {
      ShowToolTip: false,
      ToolTipHTML: "",
      ToolTipLeft: "10px",
      ToolTipTop: "400px",
      Margin: { bottom: 100, left: 25, top: 70, right: 15 },
      ChartHeight: 0
    };
  },
  computed: {
    MaxBar: function() {
      return Math.max(...this.ChartData.map(e => e.count)) * 1.0;
    },
    SVGWidth: function() {
      return this.ComponentWidth;
    },
    SVGHeight: function() {
      return this.AllGroups ? this.ComponentHeight * 0.9 : this.ComponentHeight;
    },
    XScale: function() {
      return d3
        .scaleBand()
        .domain(this.ChartData.map(e => e.title))
        .rangeRound([this.Margin.left, this.SVGWidth - this.Margin.right])
        .padding(0.1);
    },
    YScale: function() {
      return d3
        .scaleLinear()
        .domain([0, this.MaxBar])
        .rangeRound([this.ChartHeight, 0]);
    },
    AllGroups: function() {
      return this.ChartData.find(e => e.group)
        ? this.ChartData.map(e => e.group)
            .filter(
              (e, i) => this.ChartData.map(e2 => e2.group).indexOf(e) === i
            )
            .sort((a, b) => {
              return a > b ? 1 : -1;
            })
        : null;
    }
  },
  created() {},
  mounted() {},
  methods: {
    GenerateColour: function(array, element) {
      const hueDelta = 360 / array.length;
      const elementIndex = array.indexOf(element);
      return `hsl(${elementIndex * hueDelta}, 50%, 70%)`;
    },
    Update: function() {
      var vm = this;

      const allGroups = vm.ChartData.find(e => e.group)
        ? vm.ChartData.map(e => e.group)
            .filter((e, i) => vm.ChartData.map(e2 => e2.group).indexOf(e) === i)
            .sort((a, b) => {
              return a > b ? 1 : -1;
            })
        : [];

      // Update selection: position existing
      // DOM elements with data bound to them.
      var datapoints = d3.select(".barChartContainer").selectAll("rect");
      const transitionDuration = 400;

      datapoints
        .data(this.ChartData)
        .transition()
        .duration(transitionDuration)
        .attr("x", function(d) {
          return vm.XScale(d.title);
        })
        .attr("y", function(d) {
          return vm.Margin.top + vm.YScale(d.count);
        })
        .attr("width", this.XScale.bandwidth())
        .attr("height", function(d) {
          return vm.ChartHeight - vm.YScale(d.count);
        })
        .style("fill", function(d) {
          if (d.group) {
            return vm.GenerateColour(allGroups, d.group);
          }
          return;
        });
    }
  },
  watch: {
    // when the heading changes, remove current heading and create new one
    Heading: {
      handler: function() {
        var vm = this;
        // remove current heading
        this.$el
          .querySelectorAll(".barChartHeading > *")
          .forEach(e => e.remove());
        var heading = {};
        heading.d3element = d3
          .select(".barChartHeading")
          .style("transform", () => `translateX(${vm.Margin.left + 10}px)`);

        // svg doesn't wrap, so we have to wrap ourselves.
        // TODO: Make this a function that can be called from elsewhere.

        // if the heading is wider than the SVG element, then we need to wrap
        // split the string into words
        var headingWords = this.Heading.split(" ");

        // instantiate
        var thisLineSoFar = { text: "" };
        var headingRows = 1;

        // how much space do we have?
        var textBoxWidth =
          this.SVGWidth -
          this.$el.querySelector(".barChartHeading").getBoundingClientRect().x;

        var thisLine = d3
          .select(".barChartHeading")
          .append("text")
          .attr("data-row", 1);

        // we remove each word as we process it, so continue
        // until no words remain
        while (headingWords.length > 0) {
          thisLine.style("transform", `translateY(${30 * headingRows}px)`);
          var nextWord = { text: headingWords.shift() };
          thisLine.text(nextWord.text);
          nextWord.width = document
            .querySelector(`.barChartHeading text[data-row='${headingRows}']`)
            .getBoundingClientRect().width;
          if (thisLineSoFar.width + nextWord.width > textBoxWidth) {
            headingRows++;
            thisLine.text(thisLineSoFar.text);
            thisLine = d3
              .select(".barChartHeading")
              .append("text")
              .attr("data-row", headingRows)
              .style("transform", `translateY(${30 * headingRows}px)`);
            thisLineSoFar = nextWord;
            thisLine.text(thisLineSoFar.text);
          } else {
            thisLineSoFar.text += ` ${nextWord.text}`;

            thisLine.text(thisLineSoFar.text);
            thisLineSoFar.width = document
              .querySelector(".barChartHeading text")
              .getBoundingClientRect().width;
          }
        }
      }
    },
    ChartData: {
      handler: function(val) {
        const vm = this;

        const hasGroups = val.find(e => e.group) ? true : false;
        const legendHeight =
          hasGroups && vm.$el.querySelector(".barChartLegend span")
            ? vm.$el
                .querySelector(".barChartLegend span")
                .getBoundingClientRect().height
            : 0;
        this.ChartHeight =
          vm.ComponentHeight - legendHeight - vm.Margin.top - vm.Margin.bottom;
        var x = d3
          .scaleBand()
          .domain(val.map(e => e.title))
          .rangeRound([vm.Margin.left, vm.ComponentWidth - vm.Margin.right])
          .padding(0.1);

        var y = d3
          .scaleLinear()
          .domain([0, vm.MaxBar])
          .rangeRound([vm.ChartHeight, 0]);

        var svgCanvas = d3.select(".barChartContainer");

        svgCanvas
          .selectAll("rect")
          .data(val)
          .exit()
          .remove();

        this.Update();

        var bars = svgCanvas
          .selectAll("rect")
          .data(val)
          .enter()
          .append("rect")
          .attr("x", function(d) {
            return x(d.title);
          })
          .attr("y", function(d) {
            return vm.Margin.top + vm.YScale(d.count);
          })
          .attr("width", x.bandwidth())
          .attr("height", function(d) {
            return vm.ChartHeight - vm.YScale(d.count);
          });

        // if we have groups, colour the bars
        if (hasGroups) {
          // get distinct groups
          const allGroups = val
            .map(e => e.group)
            .filter((e, i) => val.map(e2 => e2.group).indexOf(e) === i)
            .sort((a, b) => {
              return a > b ? 1 : -1;
            });

          bars.style("fill", function(d) {
            if (d.group) {
              return vm.GenerateColour(allGroups, d.group);
            }
            return;
          });
        }

        // TODO: make it so that we transition the axes rather than recreating
        // whenever we get new data
        vm.$el.querySelectorAll(".x-axis").forEach(e => e.remove());
        vm.$el.querySelectorAll(".y-axis").forEach(e => e.remove());

        var xaxis = svgCanvas
          .append("g")
          .classed("x-axis", true)
          .attr(
            "transform",
            "translate(0," + (vm.ChartHeight + vm.Margin.top) + ")"
          )
          .call(d3.axisBottom(x));

        // y axis
        svgCanvas
          .append("g")
          .classed("y-axis", true)
          .style(
            "transform",
            `translate(${vm.Margin.left}px,${vm.Margin.top}px)`
          )
          .call(d3.axisLeft(y))
          .append("text")
          .attr("fill", "#000")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", "0.71em")
          .attr("text-anchor", "end")
          .text(function() {
            return vm.YAxisTitle ? vm.UAxisTitle : "";
          });

        xaxis.selectAll("text").attr("transform", function() {
          return `rotate(90) translate(${this.getComputedTextLength() / 2 +
            3}, -${x.bandwidth() / 2} )`;
        });
      }
    }
  },
  updated() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#svgCanvas >>> rect {
  fill: var(--main-brand);
}

#svgCanvas >>> * {
  font-family: var(--title-font);
}

.barChartLegend {
  display: flex;
}

.barChartLegend span {
  margin: auto;
  padding: 0px 12px;
}
</style>
