<template>
  <table>
    <tr v-if="Headings && TableData.length > 0">
      <th v-for="heading in Headings" :key="heading">{{ heading }}</th>
    </tr>
    <tr v-for="(row, i) in TableData" :key="i">
      <td v-if="Headings.length > row.length">{{ i + 1 }}</td>
      <td v-for="(cell, j) in row" :key="j">{{ cell }}</td>
    </tr>
  </table>
</template>

<script>
var margin = { top: 10, left: 50, bottom: 150, right: 10 };
export default {
  name: "DataTable",
  components: {},
  props: {
    TableData: Array,
    Headings: Array
  },
  data: function() {
    return {};
  },
  computed: {
    HasData: function() {
      return this.LineData.length;
    }
  },
  created() {},
  mounted() {},
  methods: {},
  watch: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
table {
  margin: auto;
  border-collapse: collapse;
}

td {
  border: 2px solid var(--main-brand);
  color: var(--dark-shades);
  padding: 5px 10px;
}
</style>
