<template>
  <div>
    <svg
      :height="`${SVGHeight}px`"
      :width="`${SVGWidth}px`"
      class="svgCanvas"
      :style="{'height': `${SVGHeight}px`, 'width': `${SVGWidth}px`}"
    />
    <div :style="{'height': `${ComponentHeight-SVGHeight}px`}" class="forceGraphLegend">
      <span
        v-for="linkType in LinkTypes"
        :key="linkType"
        :style="{'border-bottom': `2px solid ${GenerateColour(linkType, LinkTypes)}`}"
      >{{linkType}}</span>
    </div>
  </div>
</template>

<script>
import ToolTip from "../../vis/ToolTip.vue";
export default {
  name: "ForceGraph",
  components: {
    ToolTip
  },
  props: {
    Graph: {},
    Heading: "",
    ComponentHeight: Number,
    ComponentWidth: Number,
    ScreenWidth: window.innerWidth,
    Forces: Object,
  },
  data: function() {
    return {
      ShowToolTip: false,
      Margin: { bottom: 100, left: 25, top: 70, right: 15 },
      DefaultForces: {
        LinkDistance: 80,
        LinkStrength: 1,
        NodeCharge: -250,
        XGravityStrength: 0.05,
        YGravityStrength: 0.05
      },
      ForceGraph: {},
      LinkTypes: []
    };
  },
  computed: {
    ForceOptions: function() {
      return {
        XGravityCentre: this.SVGWidth / 2,
        YGravityCentre: this.SVGHeight / 2,
        ...this.DefaultForces,
        ...this.Forces
      };
    },
    SVGWidth: function() {
      return this.ComponentWidth;
    },
    SVGHeight: function() {
      return this.LinkTypes ? this.ComponentHeight * 0.9 : this.ComponentHeight;
    },
  },
  created() {},
  mounted() {},
  methods: {
    ClickNode: function(d, mouseEvent) {
      this.$emit("ClickNode", { node: d, mouseEvent: mouseEvent });
    },
    GenerateColour: function(element, array) {
      const hueDelta = 360 / array.length;
      const elementIndex = array.indexOf(element);
      return `hsl(${(elementIndex * hueDelta) + 50}, 50%, 70%)`;
    },
    Update: function() {
      var vm = this;

      const allGroups = vm.ChartData.find(e => e.group)
        ? vm.ChartData.map(e => e.group)
            .filter((e, i) => vm.ChartData.map(e2 => e2.group).indexOf(e) === i)
            .sort((a, b) => {
              return a > b ? 1 : -1;
            })
        : [];

      // Update selection: position existing
      // DOM elements with data bound to them.
      var datapoints = d3.select(".barChartContainer").selectAll("rect");
      const transitionDuration = 400;

      datapoints
        .data(this.ChartData)
        .transition()
        .duration(transitionDuration)
        .attr("x", function(d) {
          return vm.XScale(d.title);
        })
        .attr("y", function(d) {
          return vm.Margin.top + vm.YScale(d.count);
        })
        .attr("width", this.XScale.bandwidth())
        .attr("height", function(d) {
          return vm.ChartHeight - vm.YScale(d.count);
        })
        .style("fill", function(d) {
          if (d.group) {
            return vm.GenerateColour(allGroups, d.group);
          }
          return;
        });
    }
  },
  watch: {
    // when the heading changes, remove current heading and create new one
    Heading: {
      handler: function() {
        var vm = this;
        // remove current heading
        this.$el
          .querySelectorAll(".barChartHeading > *")
          .forEach(e => e.remove());
        var heading = {};
        heading.d3element = d3
          .select(".barChartHeading")
          .style("transform", () => `translateX(${vm.Margin.left + 10}px)`);

        // svg doesn't wrap, so we have to wrap ourselves.
        // TODO: Make this a function that can be called from elsewhere.

        // if the heading is wider than the SVG element, then we need to wrap
        // split the string into words
        var headingWords = this.Heading.split(" ");

        // instantiate
        var thisLineSoFar = { text: "" };
        var headingRows = 1;

        // how much space do we have?
        var textBoxWidth =
          this.SVGWidth -
          this.$el.querySelector(".barChartHeading").getBoundingClientRect().x;

        var thisLine = d3
          .select(".barChartHeading")
          .append("text")
          .attr("data-row", 1);

        // we remove each word as we process it, so continue
        // until no words remain
        while (headingWords.length > 0) {
          thisLine.style("transform", `translateY(${30 * headingRows}px)`);
          var nextWord = { text: headingWords.shift() };
          thisLine.text(nextWord.text);
          nextWord.width = document
            .querySelector(`.barChartHeading text[data-row='${headingRows}']`)
            .getBoundingClientRect().width;
          if (thisLineSoFar.width + nextWord.width > textBoxWidth) {
            headingRows++;
            thisLine.text(thisLineSoFar.text);
            thisLine = d3
              .select(".barChartHeading")
              .append("text")
              .attr("data-row", headingRows)
              .style("transform", `translateY(${30 * headingRows}px)`);
            thisLineSoFar = nextWord;
            thisLine.text(thisLineSoFar.text);
          } else {
            thisLineSoFar.text += ` ${nextWord.text}`;

            thisLine.text(thisLineSoFar.text);
            thisLineSoFar.width = document
              .querySelector(".barChartHeading text")
              .getBoundingClientRect().width;
          }
        }
      }
    },
    Graph: {
      handler: function(graphdata) {
        this.ForceGraph = graphdata;
      }
    },
    ForceGraph: {
      handler: function(graphdata) {
        const vm = this;

        var data = graphdata;
        // console.log(graphdata);
        var distinctLinks = new Set(graphdata.links.map(e => e.type));
        this.LinkTypes = Array.from(distinctLinks);

        distinctLinks = Array.from(distinctLinks.values());
        function getColourFromLinkType(option, allOptions) {
          var index = allOptions.indexOf(option);
          var jump = 80 / allOptions.length;
          return `hsl(${220.8 + jump * index}, 38.5%, ${70}%)`;
        }

        document.querySelectorAll(".svgCanvas >  *").forEach(e => e.remove());
        function dragstarted(d) {
          if (!d3.event.active) simulation.alphaTarget(0.3).restart();
          d.fx = d.x;
          d.fy = d.y;
        }

        function dragged(d) {
          d.fx = d3.event.x;
          d.fy = d3.event.y;
          d.x = d3.event.x;
          d.y = d3.event.y;
        }

        function dragended(d) {
          if (!d3.event.active) simulation.alphaTarget(0);
        }
        // set the dimensions and margins of the graph
        var margin = { top: 10, right: 30, bottom: 30, left: 40 };
        // append the svg object to the body of the page
        var svg = d3
          .select(".svgCanvas")
          .append("g")
          .attr(
            "transform",
            "translate(" + margin.left + "," + margin.top + ")"
          );

        // build the arrow.
        svg
          .append("svg:defs")
          .selectAll("marker")
          .data(["end"]) // Different link/path types can be defined here
          .enter()
          .append("svg:marker") // This section adds in the arrows
          .attr("id", String)
          .attr("viewBox", "0 -5 10 10")
          .attr("refX", 15)
          .attr("refY", -1.5)
          .attr("markerWidth", 10)
          .attr("markerHeight", 10)
          .attr("fill", "var(--light-accent)")
          .attr("orient", "auto")
          .append("svg:path")
          .attr("d", "M0,-5L10,0L0,5");

        // Initialize the links
        var links = svg
          .selectAll(".link")
          .data(data.links)
          .enter()
          .append("line")
          .attr("id", function(d) {
            return d.index;
          })
          .attr("marker-end", "url(#end)")
          .attr("stroke", d => this.GenerateColour(d.type, distinctLinks))
          .classed("link", true);

        // Initialize the nodes
        var nodes = svg
          .selectAll(".node")
          .data(data.nodes)
          .enter()
          .append("g")
          .attr("id", d => d.id)
          .classed("node", true)
          .on("click", function(d) {
            vm.ClickNode(d, d3.mouse(this));
          })
          .call(
            d3
              .drag()
              .on("start", dragstarted)
              .on("drag", dragged)
              .on("end", dragended)
          );
        // .merge(nodes);
        // console.log(links);
        // console.log(nodes);
        var circles = nodes.append("circle").attr("r", "0.4em");

        var labels = {};
        labels.label1 = nodes.append("text").text(d => d.label1);
        labels.label2 = nodes.append("text").text(d => d.label2);
        // Let's list the force we wanna apply on the network
        var simulation = d3
          .forceSimulation(data.nodes)
          .force(
            "link",
            d3
              .forceLink(data.links)
              .id(d => d.id)
              .distance(vm.ForceOptions.LinkDistance)
              .strength(vm.ForceOptions.LinkStrength)
          )
          .force(
            "charge",
            d3.forceManyBody().strength(vm.ForceOptions.NodeCharge)
          )
          .force(
            "x",
            d3
              .forceX(vm.SVGWidth / 2)
              .strength(vm.ForceOptions.XGravityStrength)
          )
          .force(
            "y",
            d3
              .forceY(vm.SVGHeight / 2)
              .strength(vm.ForceOptions.YGravityStrength)
          )
          .alphaTarget(0);
        simulation.restart();
        simulation.alpha(1);

        simulation.on("tick", () => {
          function getCoords(d) {
            // if (d.latinTranscription.toLowerCase() === "elf") console.log(d);
            var co = {};
            co.x = Math.max(0, d.x);
            co.x = Math.min(vm.SVGWidth, co.x);
            co.y = Math.min(vm.SVGHeight, d.y);
            co.y = Math.max(0, co.y);
            return co;
          }
          // console.log(links);
          // console.log(circles);
          links
            .attr("x1", d => getCoords(d.source).x)
            .attr("y1", d => getCoords(d.source).y)
            .attr("x2", d => getCoords(d.target).x)
            .attr("y2", d => getCoords(d.target).y);

          circles
            .attr("cx", d => getCoords(d).x)
            .attr("cy", d => getCoords(d).y);
          labels.label2
            .attr("x", d => getCoords(d).x)
            .attr("y", d => getCoords(d).y + 6);
          labels.label1
            .attr("x", d => getCoords(d).x)
            .attr("y", d => getCoords(d).y - 6);
        });
      }
    }
  },
  updated() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.svgCanvas >>> .node circle {
  fill: var(--main-brand);
}
.svgCanvas >>> .node text {
  font-family: var(--title-font);
  font-size: 0.8em;
  fill: var(--dark-shades);
}

.forceGraphLegend {
  display: flex;
}

.forceGraphLegend span {
  margin: auto;
  padding: 0;
}
</style>
