<template>
  <span>
    <svg id="svgCanvas" v-bind:style="{height: SVGHeight, width: SVGWidth}">
      <g class="graphHeading">
        <!-- <text v-if="Heading" :y="25">{{Heading}}</!-->
        -->
      </g>
      <g class="lineGraphContainer" />
      <g class="lineGraphTooltip" />
      <g class="lineGraphLegend" :style="{top: SVGHeight - 150}" />
    </svg>
    <ToolTip
      v-if="ShowToolTip && ToolTipLabel"
      :ToolTipHTML="ToolTipHTML"
      :Left="ToolTipLeft"
      :Top="ToolTipTop"
    ></ToolTip>
  </span>
</template>

<script>
import ToolTip from "../../vis/ToolTip.vue";
var margin = { top: 40, left: 50, bottom: 100, right: 10 };
export default {
  name: "LineGraph",
  components: {
    ToolTip
  },
  props: {
    LineData: Array,
    Heading: "",
    SVGHeight: Number,
    SVGWidth: Number,
    ScreenWidth: window.innerWidth,
    Min: Number,
    Max: Number,
    XAxisLabel: String,
    YAxisLabel: String,
    HorizontalMarkers: Array,
    ToolTipLabel: ""
  },
  data: function() {
    return {
      ShowToolTip: true,
      ToolTipHTML: "",
      ToolTipLeft: "10px",
      ToolTipTop: "400px"
    };
  },
  computed: {
    HasData: function() {
      return this.LineData.length;
    }
  },
  created() {
    console.log(this.LineData);
  },
  mounted() {},
  methods: {},
  watch: {
    // when the heading changes, remove current heading and create new one
    Heading: {
      handler: function() {
        // remove current heading
        document.querySelectorAll(".graphHeading > *").forEach(e => e.remove());
        var heading = {};
        heading.d3element = d3
          .select(".graphHeading")
          .style("transform", () => `translateX(${margin.left + 10}px)`);

        // svg doesn't wrap, so we have to wrap ourselves.
        // TODO: Make this a function that can be called from elsewhere.

        // if the heading is wider than the SVG element, then we need to wrap
        // split the string into words
        var headingWords = this.Heading.split(" ");

        // instantiate
        var thisLineSoFar = { text: "" };
        var headingRows = 1;

        // how much space do we have?
        var textBoxWidth =
          this.SVGWidth -
          document.querySelector(".graphHeading").getBoundingClientRect().x;

        var thisLine = d3
          .select(".graphHeading")
          .append("text")
          .attr("data-row", 1);

        // we remove each word as we process it, so continue
        // until no words remain
        while (headingWords.length > 0) {
          thisLine.style("transform", `translateY(${30 * headingRows}px)`);
          var nextWord = { text: headingWords.shift() };
          thisLine.text(nextWord.text);
          nextWord.width = document
            .querySelector(`.graphHeading text[data-row='${headingRows}']`)
            .getBoundingClientRect().width;
          if (thisLineSoFar.width + nextWord.width > textBoxWidth) {
            headingRows++;
            thisLine.text(thisLineSoFar.text);
            thisLine = d3
              .select(".graphHeading")
              .append("text")
              .attr("data-row", headingRows)
              .style("transform", `translateY(${30 * headingRows}px)`);
            thisLineSoFar = nextWord;
            thisLine.text(thisLineSoFar.text);
          } else {
            thisLineSoFar.text += ` ${nextWord.text}`;

            thisLine.text(thisLineSoFar.text);
            thisLineSoFar.width = document
              .querySelector(".graphHeading text")
              .getBoundingClientRect().width;
          }
        }
      }
    },
    LineData: {
      handler: function(val) {
        if (document.querySelector(".axis.x")) {
          document.querySelector(".axis.x").remove();
        }

        if (document.querySelector("path.line")) {
          document.querySelector("path.line").remove();
        }

        if (document.querySelector(".axis.y")) {
          document.querySelector(".axis.y").remove();
        }

        if (document.querySelector(".dataLine")) {
          document.querySelectorAll(".dataLine").forEach(e => e.remove());
        }
        if (document.querySelector(".legendEntry")) {
          document.querySelectorAll(".legendEntry").forEach(e => e.remove());
        }

        var TestLineData = this.LineData;
        // console.log(TestLineData);
        TestLineData.forEach(ar => {
          ar.data =
            ar.data[0].length < 3
              ? ar.data.map(e => [e[0], e[0], e[1]])
              : ar.data;
        });

        function generateColourForPath(i) {
          return `hsl(${185 + i * 75},85%,35%);`;
        }

        // if (TestLineData[0].length < 3) {
        //   TestLineData = TestLineData.map(e => [e[0], e[0], e[1]]);
        // }
        var minX = TestLineData.length > 0 ? TestLineData[0].data[0][1] : 0;
        var maxX =
          TestLineData.length > 0
            ? TestLineData[0].data[TestLineData[0].data.length - 1][1]
            : 0;
        var xScale = d3
          .scaleLinear()
          .domain([minX, maxX])
          .range([margin.left, this.SVGWidth - margin.right]);

        var yScale = d3
          .scaleLinear()
          .domain([this.Max, this.Min])
          .range([margin.top, this.SVGHeight - margin.bottom]);

        var line = d3
          .line()
          .x(function(d, i) {
            return xScale(d.x);
          })
          .y(function(d) {
            return yScale(d.y);
          });
        var dataset = TestLineData.map(e => e[1]);

        var lines = d3
          .select(".lineGraphContainer")
          .selectAll(".dataLine")
          .data(TestLineData)
          .enter()
          .append("path")
          .attr("data-key", function(d, i) {
            return i;
          })
          .style("stroke", function(d, i) {
            return `hsl(${185 + i * 283}, 70%, 45%)`;
          })
          .classed("dataLine", true)
          .attr("d", function(d) {
            return line(d.data.map(e => ({ x: e[1], y: e[2] })));
          });

        var svg = d3.select(".lineGraphContainer");

        // svg
        //   .append("path")
        //   .datum(TestLineData.map(e => ({ x: e[1], y: e[2] })))
        //   .attr("class", "line")
        //   .attr("d", line);

        svg
          .append("g")
          .classed("x", true)
          .classed("axis", true)
          .attr(
            "transform",
            `translate(0, ${Number(this.SVGHeight) - margin.bottom})`
          )
          .call(d3.axisBottom(xScale));

        // y axis
        svg
          .append("g")
          .classed("y", true)
          .classed("axis", true)
          .attr("transform", `translate(${margin.left},0)`)
          .call(d3.axisLeft(yScale)); // Create an axis component with d3.axisLeft

        // x axis label
        if (this.XAxisLabel && !document.querySelector(".axis-label.x")) {
          var xLabel = svg
            .append("text")
            .classed("axis-label", true)
            .classed("x", true)
            .text(this.XAxisLabel);

          var xLabelWidth = document
            .querySelector(".axis-label.x")
            .getBoundingClientRect().width;

          xLabel.attr(
            "transform",
            `translate(${this.SVGWidth / 2 - xLabelWidth / 2},${this.SVGHeight -
              margin.bottom +
              30})`
          );
        }

        //y axis label
        if (this.YAxisLabel && !document.querySelector(".axis-label.y")) {
          svg
            .append("text")
            .classed("axis-label", true)
            .classed("y", true)
            .attr(
              "transform",
              "translate(" +
                20 +
                "," +
                (this.SVGHeight -
                  margin.bottom -
                  (this.SVGHeight - margin.bottom - margin.top) / 4) +
                ") rotate(-90)"
            )
            .text(this.YAxisLabel);
        }

        // heading
        if (this.Heading) {
        }

        if (this.HorizontalMarkers) {
          document.querySelectorAll("path.marker").forEach(e => e.remove());
          var tickContainer = svg.append("g").classed("lineContainer", true);
          for (let i = 0; i < this.HorizontalMarkers.length; i++) {
            let x0 = margin.left;
            let x1 = this.SVGWidth - margin.right;
            // console.log(this.HorizontalMarkers[i]);
            let y0 = yScale(this.HorizontalMarkers[i]);
            let y1 = yScale(this.HorizontalMarkers[i]);
            tickContainer
              .append("path")
              .attr("d", function() {
                return `M${x0} ${y0} L${x1} ${y1} Z`;
              })
              .classed("marker", true);
          }
        }

        // add tooltip on hover
        var vm = this;
        if (this.ToolTipLabel) {
          var dummyArray = [1];
          if (document.querySelector("#svgCanvas .verticalBar")) {
            document.querySelector("#svgCanvas .verticalBar").remove();
          }
          var vertical = svg
            .append("line")
            .classed("verticalBar", true)
            .attr("x1", function() {
              return margin.left + 1;
            })
            .attr("x2", margin.left + 1)
            .attr("y1", margin.top)
            .attr("y2", vm.SVGHeight - margin.bottom)
            .attr("stroke", "black")
            .attr("opacity", 0.5);
          d3.select("#svgCanvas")
            .on("mousemove", function(d) {
              var mouse = d3.mouse(this);
              var mousex = mouse[0];
              var mousey = mouse[1] - 70;

              var xValue = parseInt(xScale.invert(mouse[0]));
              var yValue = TestLineData.find(e => e[0] === xValue)[2].toFixed(
                1
              );
              vertical.attr("x1", Math.max(mousex, margin.left) + "px");
              vertical.attr("x2", Math.max(mousex, margin.left) + "px");
              vm.ToolTipHTML = `${vm.ToolTipLabel.x}: ${xValue}<br/>${yValue}`;
              vm.ToolTipLeft =
                mousex +
                document.querySelector("#svgCanvas").getBoundingClientRect().x +
                5 +
                "px";
              vm.ToolTipTop =
                mousey +
                document.querySelector("#svgCanvas").getBoundingClientRect().y +
                "px";
            })
            .on("mouseover", function() {
              vm.ShowToolTip = true;
              var mouse = d3.mouse(this);
              var mousey = mouse[1] + 5;
              var mousex = mouse[0] + 5;
              vm.ToolTipLeft = mousex + 5 + "px";
              vm.ToolTipTop = mousey + 5 + "px";
            });
        }

        // add legend
        d3.select(".lineGraphLegend").attr("transform", function() {
          "transform",
            "translate(" + 20 + "," + (this.SVGHeight - margin.bottom) + ")";
        });

        var legendEntries = d3
          .select(".lineGraphLegend")
          .selectAll(".legendEntry")
          .data(TestLineData)
          .enter()
          .append("g")
          .attr("data-key", function(d, i) {
            return i;
          })
          .on("mouseover", function(d, i) {
            d3.selectAll(".dataLine")
              .transition()
              .duration(400)
              .attr("opacity", function(d, j) {
                return j != i ? 0.2 : 1;
              });
          })
          .on("mouseout", function(d, i) {
            svg
              .selectAll(".dataLine")
              .transition()
              .duration(400)
              .attr("opacity", 1);
          })
          .classed("legendEntry", true);
        legendEntries
          .append("text")
          .style("fill", function(d, i) {
            return `hsl(${185 + i * 283}, 70%, 45%)`;
          })
          .text(function(d) {
            return d.title;
          });

        var heightAdjustment = 0;
        legendEntries.style("transform", function(d, i) {
          let lastElement = document.querySelector(
            `.legendEntry[data-key="${i - 1}"`
          );
          let lastElementEndX = lastElement
            ? lastElement.getBoundingClientRect().x +
              lastElement.getBoundingClientRect().width
            : 0;

          if (lastElementEndX > vm.SVGWidth - 100) {
            lastElementEndX = 0;
            heightAdjustment += lastElement.getBoundingClientRect().height + 10;
          }
          return `translate(${20 +
            lastElementEndX}px, ${vm.SVGHeight - margin.bottom + heightAdjustment + 50}px)`;
        });
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.treeHeading {
  fill: var(--dark-shades);
  stroke: 0px;
}

#svgCanvas >>> .legendEntries {
  stroke-width: 0px;
}

#svgCanvas {
}

#svgCanvas >>> .dataLine {
  fill: none;
  stroke-width: 2px;
}
#svgCanvas >>> .marker {
  fill: none;
  stroke-width: 1px;
  stroke: grey;
  opacity: 0.5;
}

.graphHeading >>> text {
  font-family: var(--title-font);
}

#svgCanvas >>> .y {
  position: fixed;
  font-family: var(--title-font);
}

#svgCanvas >>> text {
  font-family: var(--title-font);
}

#visContainer >>> .tooltip {
  width: auto;
}
</style>
