<template>
  <svg
    :height="`${SVGHeight}px`"
    :width="`${SVGWidth}px`"
    id="svgCanvas"
    :style="{height: SVGHeight, width: SVGWidth}"
  />
</template>

<script>
var margin = { top: 10, left: 50, bottom: 50, right: 10 };
export default {
  name: "ScatterGraph",
  props: {
    Points: Array,
    XAxisLabel: "",
    YAxisLabel: "",
    SVGHeight: 0,
    SVGWidth: 0
  },
  data: function() {
    return {};
  },
  computed: {
    XMax: function() {
      return Math.max(...this.Points.map(e => e.x)) * 1.1;
    },
    YMax: function() {
      return Math.max(...this.Points.map(e => e.y)) * 1.1;
    },
    XScale: function() {
      return d3
        .scaleLinear()
        .domain([0, this.XMax])
        .range([margin.left, this.SVGWidth - margin.right]);
    },
    YScale: function() {
      return d3
        .scaleLinear()
        .domain([0, this.YMax])
        .range([this.SVGHeight - margin.bottom, margin.top]);
    }
  },
  mounted() {},
  methods: {
    XMap: function(d) {
      return this.XScale(d.x);
    },
    YMap: function(d) {
      return this.YScale(d.y);
    },
    Update: function() {
      // Update selection: position existing
      // DOM elements with data bound to them.
      var datapoints = d3.select("#svgCanvas").selectAll("g.data-point");
      const transitionDuration = 400;

      datapoints
        .select("circle")
        .data(this.Points)
        .transition()
        .duration(transitionDuration)
        .attr("cx", this.XMap)
        .attr("cy", this.YMap);

      //add labels
      datapoints
        .select("text")
        .data(this.Points)
        .transition()
        .duration(transitionDuration)
        .attr("x", this.XMap)
        .attr("y", this.YMap);
    }
  },
  watch: {
    Points: {
      handler: function(val) {
        var yAxis = d3.axisLeft(this.YScale);

        var xAxis = d3.axisBottom().scale(this.XScale);

        var svgCanvas = d3.select("#svgCanvas");

        svgCanvas
          .selectAll("g.data-point")
          .data(this.Points)
          .exit()
          .remove();

        this.Update();

        //create svg elements for each point
        var pointElements = svgCanvas
          .selectAll("g.data-point")
          .data(this.Points)
          .enter()
          .append("g")
          .classed("data-point", true)
          .attr("id", function(d) {
            return d.key;
          });

        //plot each circle
        pointElements
          .append("circle")
          .attr("title", function(d) {
            return d.name;
          })
          .attr("r", 5)
          .attr("cx", this.XMap)
          .attr("cy", this.YMap)
          .attr("fill", function(d) {
            return d.fill;
          });

        //add labels
        pointElements
          .append("text")
          .classed("label", true)
          .text(function(d) {
            return d.name;
          })
          .attr("x", this.XMap)
          .attr("y", this.YMap)
          .attr("text-anchor", "middle")
          .attr("fill", "#585858");

        d3.selectAll(".axis, .axis-label").remove();

        // x axis
        if (this.XAxis || this.XAxisLabel) {
          var xaxis = svgCanvas
            .append("g")
            .attr(
              "transform",
              "translate(" + 0 + "," + (this.SVGHeight - margin.bottom) + ")"
            )
            .classed("axis", true)
            .call(xAxis);

          const bandwidth = this.XScale.ticks().map(e => this.XScale(e))[0];
          xaxis.selectAll("text").attr("transform", function() {
            return `rotate(90) translate(${this.getComputedTextLength() / 2 +
              3},-${bandwidth / 4})`;
          });

          //x axis label
          if (this.XAxisLabel) {
            svgCanvas
              .selectAll(".axisLabel.y")
              .data([this.XAxisLabel])
              .enter()
              .append("text")
              .attr("x", this.SVGWidth / 2)
              .attr("y", this.SVGHeight - 10)
              .attr("text-anchor", "middle")
              .classed("axisLabel", true)
              .classed("x", true)
              .text(this.XAxisLabel);
          }
        }

        //y axis
        if (this.YAxis || this.YAxisLabel) {
          svgCanvas
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + 0 + ")")
            .classed("axis", true)
            .call(yAxis);

          //y axis label
          if (this.YAxisLabel) {
            svgCanvas
              .selectAll(".axisLabel.y")
              .data([this.YAxisLabel])
              .enter()
              .append("text")
              .classed("axisLabel", true)
              .classed("y", true)
              .attr(
                "transform",
                "translate(" +
                  20 +
                  "," +
                  (this.SVGHeight - margin.bottom - 80) +
                  ") rotate(-90)"
              )
              .text(this.YAxisLabel);
          }
        }
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#svgCanvas >>> .label {
  font-size: 2vh;
  stroke-width: 0px;
}

#svgCanvas >>> .tick {
  font-family: var(--title-font);
  stroke: var(--dark-shades);
}
#svgCanvas >>> .tick text {
  stroke-width: 0px;
  font-size: 2vh;
}
</style>
