<template>
  <svg id="svgCanvas" v-bind:style="{height: SVGHeight - 10, width: SVGWidth - 10}">
    <g class="treeHeading" v-if="Heading">
      <text y="28">{{Heading}}</text>
    </g>
    <g class="treeContainer" />
  </svg>
</template>

<script>
var margin = { top: 40, left: 25, bottom: 0, right: 0 };

export default {
  name: "Tree",
  props: {
    TreeData: Object,
    Heading: "",
    SVGHeight: Number,
    SVGWidth: Number,
    Collapse: Boolean
  },
  data: function() {
    return {};
  },
  computed: {},
  mounted() {
    var screenHeight = window.innerHeight;
    var navHeight = document.getElementById("navbar").offsetHeight;
  },
  methods: {
    Update: function() {
      // Update selection:
    },
    getTreeDepth: function(obj) {
      var vm = this;
      var depth = 0;
      if (obj.children) {
        obj.children.forEach(function(d) {
          var tmpDepth = vm.getTreeDepth(d);
          if (tmpDepth > depth) {
            depth = tmpDepth;
          }
        });
      }
      return 1 + depth;
    }
  },
  watch: {
    TreeData: {
      handler: function(val) {
        const vm = this;
        // for some reason Firefox fails to bind the style in the template
        // force it to play nice.
        if (
          document.querySelector("#svgCanvas").clientWidth !== this.SVGWidth
        ) {
          document.querySelector("#svgCanvas").style.width =
            this.SVGWidth + "px";
          document.querySelector("#svgCanvas").style.height =
            this.SVGHeight + "px";
        }
        var svg = d3.select(".treeContainer");

        d3.select(".treeContainer").attr(
          "transform",
          "translate(" + margin.left + "," + margin.top + ")"
        );
        var svgHeight = Number(this.SVGHeight);
        var svgWidth = this.SVGWidth;
        var treeDepth = this.getTreeDepth(this.TreeData);
        var duration = 500;

        var treeMap = d3
          .tree()
          .size([svgHeight - margin.top - margin.bottom, svgWidth]);
        // Assigns parent, children, height, depth
        var root = d3.hierarchy(this.TreeData, function(d) {
          return d.children;
        });

        // this is the tree we plot
        root.x0 = svgHeight / 2;
        root.y0 = 0;

        // Collapse after the second level
        if (this.Collapse) {
          root.children.forEach(collapse);
        }

        update(root);

        // Collapse the node and all its children
        function collapse(d) {
          if (!d.group) {
          }

          if (d.children) {
            d._children = d.children;
            d._children.forEach(collapse);
            d.children = null;
          }
        }

        var i = 0;
        function update(source) {
          // Assigns the x and y position for the nodes
          var treeData = treeMap(root);

          treeDepth = vm.getTreeDepth(treeData);
          // Compute the new tree layout.
          var nodes = treeData.descendants();
          var links = treeData.descendants().slice(1);

          // Normalize for fixed-depth.
          nodes.forEach(function(d) {
            d.y = d.depth * (window.innerWidth / (treeDepth + 1));
          });

          // ****************** Nodes section ***************************

          // Update the nodes...
          var node = svg.selectAll("g.node").data(nodes, function(d) {
            return d.data.id || (d.data.id = ++i);
          });

          // Enter any new modes at the parent's previous position.
          var nodeEnter = node
            .enter()
            .append("g")
            .attr("class", "node")
            .attr("transform", function(d) {
              return "translate(" + source.y0 + "," + source.x0 + ")";
            })
            .on("click", click);

          // Add Circle for the nodes
          nodeEnter
            .append("circle")
            .attr("class", "node")
            .style("fill", function(d) {
              if (d.data.circleStyle && d.data.circleStyle.fill) {
                return d.data.circleStyle.fill;
              } else {
                return "var(--dark-shades)";
              }
            })
            .attr("data-children", function(d) {
              return d._children ? true : false;
            });

          // Add top label to the nodes
          nodeEnter
            .append("text")
            .text(function(d) {
              return d.data.topLabel;
            })
            .attr("class", "label")
            .attr("dy", ".35em")
            .attr("y", function(d) {
              return -13;
            })
            .attr("text-anchor", "middle")
            .attr("textLength", function() {
              let textLength = d3
                .select(this)
                .node()
                .getComputedTextLength();
              if (textLength > window.innerWidth / (treeDepth - 2) - 20) {
                return window.innerWidth / (treeDepth + 1) - 20;
              } else {
                return textLength;
              }
            })
            .attr("lengthAdjust", "spacingAndGlyphs");

          // add the right label
          var rightLabels = nodeEnter
            .append("text")
            .text(function(d) {
              if (d.data.group) {
                return null;
              } else {
                return d.data.rightLabel;
              }
            })
            .attr("dy", ".35em")
            .attr("x", function(d) {
              return d.children || d._children ? 13 : 13;
            })
            .attr("text-anchor", "start")
            .attr("textLength", function() {
              let textLength = d3
                .select(this)
                .node()
                .getComputedTextLength();
              if (textLength > window.innerWidth / (treeDepth + 1) - 20) {
                return window.innerWidth / (treeDepth + 1) - 20;
              } else {
                return textLength;
              }
            })
            .attr("lengthAdjust", "spacingAndGlyphs");

          // UPDATE
          var nodeUpdate = nodeEnter.merge(node);

          // Transition to the proper position for the node
          nodeUpdate
            .transition()
            .duration(duration)
            .attr("transform", function(d) {
              return "translate(" + d.y + "," + d.x + ")";
            });

          // Update the node attributes and style
          nodeUpdate
            .select("circle.node")
            .attr("data-children", function(d) {
              return d._children ? true : false;
            })
            .attr("cursor", "pointer");

          nodeUpdate
            .selectAll("text")
            .transition()
            .duration(duration)
            .attr("textLength", function() {
              let textLength = d3
                .select(this)
                .node()
                .getComputedTextLength();
              if (textLength > window.innerWidth / (treeDepth + 1) - 20) {
                return window.innerWidth / (treeDepth + 1) - 20;
              } else {
                return textLength;
              }
            })
            .attr("lengthAdjust", "spacingAndGlyphs");

          // Remove any exiting nodes
          var nodeExit = node
            .exit()
            .transition()
            .duration(duration)
            .attr("transform", function(d) {
              return "translate(" + source.y + "," + source.x + ")";
            })
            .remove();

          // On exit reduce the node circles size to 0
          nodeExit.select("circle").attr("r", 1e-6);

          // On exit reduce the opacity of text labels
          nodeExit.select("text").style("fill-opacity", 1e-6);

          // ****************** links section ***************************

          // Update the links...
          var link = svg.selectAll("path.link").data(links, function(d) {
            return d.data.id;
          });

          // Enter any new links at the parent's previous position.
          var linkEnter = link
            .enter()
            .insert("path", "g")
            .attr("class", "link")
            .attr("id", function(d) {
              return d.data.id + "-link";
            })
            .attr("d", function(d) {
              var o = {
                x: source.x0,
                y: source.y0
              };
              return diagonal(o, o);
            });
          // UPDATE
          var linkUpdate = linkEnter.merge(link);

          // Transition back to the parent element position
          linkUpdate
            .transition()
            .duration(duration)
            .attr("d", function(d) {
              return diagonal(d, d.parent);
            });

          linkUpdate.style("stroke", function(d) {
            return d.data.pathStyle ? d.data.pathStyle.stroke : null;
          });

          // Remove any exiting links
          var linkExit = link
            .exit()
            .transition()
            .duration(duration)
            .attr("d", function(d) {
              var o = {
                x: source.x,
                y: source.y
              };
              return diagonal(o, o);
            })
            .remove();

          // Store the old positions for transition.
          nodes.forEach(function(d) {
            d.x0 = d.x;
            d.y0 = d.y;
          });

          // Creates a curved (diagonal) path from parent to the child nodes
          function diagonal(s, d) {
            var path = `M ${d.y} ${d.x}
                  C ${(s.y + d.y) / 2} ${d.x},
                      ${(s.y + d.y) / 2} ${s.x},
                      ${s.y} ${s.x}`;

            return path;
          }
          // here we decide what happens when you click a node.
          // default is to expand, but other admin options are available
          function click(d) {
            if (d.children) {
              d._children = d.children;
              d.children = null;
            } else {
              d.children = d._children;
              d._children = null;
            }
            update(d);
          }
        }
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.treeHeading {
  fill: var(--dark-shades);
  stroke: 0px;
}

#svgCanvas {
}

#svgCanvas >>> .label {
  font-size: 1.5vh;
}

.treeContainer >>> text {
  font-size: 1.5vh;
}

#svgCanvas >>> path.link {
  fill: none;
  stroke: var(--light-accent);
  stroke-width: 2.2;
  opacity: 0.7;
}
#svgCanvas >>> path.link[data-derived="true"] {
  stroke: var(--main-brand);
}

#svgCanvas >>> path.link[data-borrowed="true"] {
  stroke: #ea9c6a;
}

#svgCanvas >>> .node circle {
  /* fill: var(--main-brand); */
  opacity: 1 !important;
  /* stroke: var(--main-brand); */
}
#svgCanvas >>> .node circle[data-children="true"] {
  stroke: var(--dark-shades);
  stroke-width: 1px;
}
</style>
