<template>
  <div id="app">
    <NavBar ThisPage="Car Hunter" />
    <font-awesome-icon icon="cog" @click="ShowSettings = !ShowSettings" />
    <DataTable
      :TableData="ListingData"
      :Headings="['Model', '# Under Budget (/total)', '% within budget']"
    ></DataTable>
    <transition name="fade">
      <ModalLightShade v-if="ShowSettings">
        <font-awesome-icon icon="window-close" @click="ShowSettings = false" />
        <form v-on:submit.prevent="onSubmit" v-on:submit="GetCarsInBudget" v-if="SearchStage === 0">
          <h3>Enter Search Terms:</h3>
          <h5>Body Type</h5>
          <SelectOptions :Options="BodyTypes" @input="toggleBodyType"></SelectOptions>
          <h5># of Doors:</h5>
          <SelectOptions :Options="Doors" @input="toggleDoors"></SelectOptions>
          <h5>Manual/Automatic</h5>
          <SelectOptions :Options="Gears" @input="toggleGears"></SelectOptions>
          <div>
            <h5>Min/Max Year:</h5>
            <div class="flex-x justify-space-evenly">
              <input size="6" type="number" :min="1970" :max="ThisYear" v-model="MinYear" />
              <input size="6" type="number" :min="1970" :max="ThisYear" v-model="MaxYear" />
            </div>
          </div>
          <div>
            <h5>Min/Max Mileage:</h5>
            <div class="flex-x justify-space-evenly">
              <input size="6" :min="0" :max="999998" type="number" v-model="MinMileage" />
              <input size="6" :min="1" :max="999999" type="number" v-model="MaxMileage" />
            </div>
          </div>
          <div>
            <button type="button" @click="SearchStage++">Next</button>
          </div>
        </form>
        <form v-on:submit.prevent="onSubmit" v-on:submit="GetCarsInBudget" v-if="SearchStage === 1">
          <h3>Enter Budget (£):</h3>
          <div>
            <input size="6" :min="1" :max="9999999" type="number" v-model="MaxPrice" />
          </div>
          <div class="flex-x justify-space-evenly">
            <button @click="SearchStage--">Back</button>
            <button type="button" @click="GetCarsInBudget">Submit</button>
          </div>
        </form>
      </ModalLightShade>
    </transition>
    <Loader v-if="ShowLoader" :LoaderProgress="LoaderText" @click="ShowLoader = false"></Loader>
  </div>
</template>
<script>
import NavBar from "../components/NavBar.vue";
import SelectOptions from "../components/vis/SelectOptions.vue";
import SliderInput from "../components/vis/SliderInput.vue";
import ModalLightShade from "../components/ModalLightShade.vue";
import ModalMainBrand from "../components/ModalLightShade.vue";
import DataTable from "../components/vis/chartTypes/DataTable.vue";
import Loader from "../components/Loader.vue";

var cookies = document.cookie.split(";").reduce((res, c) => {
  const [key, val] = c
    .trim()
    .split("=")
    .map(decodeURIComponent);
  const allNumbers = str => /^\d+$/.test(str);
  try {
    return Object.assign(res, {
      [key]: allNumbers(val) ? val : JSON.parse(val)
    });
  } catch (e) {
    return Object.assign(res, { [key]: val });
  }
}, {});

var margin = { top: 0, left: 0, bottom: 50, right: 0 };

export default {
  name: "CarHunter",
  components: {
    NavBar,
    SelectOptions,
    ModalLightShade,
    SliderInput,
    DataTable,
    Loader
  },
  props: {},
  data: function() {
    return {
      BodyTypes: Array,
      Gears: Array,
      Doors: Array,
      ShowSettings: true,
      MinMileage: 0,
      MaxMileage: 10000,
      MinYear: 2010,
      MaxYear: Number,
      MinPrice: 0,
      MaxPrice: 10000,
      ListingData: [],
      ShowLoader: false,
      LoaderText: "",
      ThisYear: 2019,
      SearchStage: 0
    };
  },
  computed: {
    // ThisYear: function() {
    //   const now = new Date();
    //   return now.getFullYear();
    // }
  },
  watch: {},
  async mounted() {},
  async created() {
    this.MaxYear = this.ThisYear;
    // when app is created, get all categories
    this.LoaderText = "Initialising...";
    this.ShowLoader = true;
    var staticDataFetch = await fetch("/django/usedCarPrices/get-categories", {
      method: "GET"
    });
    const categories = await staticDataFetch.json();
    this.ShowLoader = false;
    this.BodyTypes = categories.bodyTypes.map((e, i) => ({
      name: e,
      key: i,
      selected: false
    }));
    this.Gears = categories.gears.map((e, i) => ({
      name: e,
      key: i,
      selected: false
    }));
    this.Doors = categories.doors.map((e, i) => ({
      name: e,
      key: i,
      selected: false
    }));
  },
  methods: {
    // methods to toggle selected options
    toggleBodyType(val) {
      this.BodyTypes[val].selected = !this.BodyTypes[val].selected;
    },
    toggleGears(val) {
      this.Gears[val].selected = !this.Gears[val].selected;
    },
    toggleDoors(val) {
      this.Doors[val].selected = !this.Doors[val].selected;
    },

    // fetch data from server
    async GetCarsInBudget() {
      this.SearchStage = 1 - this.SearchStage;
      var requestBody = {};
      if (!this.BodyTypes.find(e => e.selected)) {
        this.BodyTypes.forEach(e => (e.selected = true));
      }
      requestBody.bodyTypes = this.BodyTypes.filter(e => e.selected).map(
        e => e.name
      );

      if (!this.Gears.find(e => e.selected)) {
        this.Gears.forEach(e => (e.selected = true));
      }
      requestBody.gears = this.Gears.filter(e => e.selected).map(e => e.name);

      if (!this.Doors.find(e => e.selected)) {
        this.Doors.forEach(e => (e.selected = true));
      }
      requestBody.doors = this.Doors.filter(e => e.selected).map(e => e.name);

      requestBody.minMileage = this.MinMileage;
      requestBody.maxMileage = this.MaxMileage;
      requestBody.maxPrice = this.MaxPrice;
      requestBody.minYear = this.MinYear;
      requestBody.maxYear = this.MaxYear;

      this.LoaderText = "Loading results...";
      this.ShowLoader = true;
      var carsInBudgetFetch = await fetch(
        "/django/usedCarPrices/get-cars-in-budget",
        {
          method: "POST",
          headers: { "x-csrftoken": cookies.csrftoken },
          credentials: "include",
          mode: "cors",
          body: JSON.stringify(requestBody)
        }
      );
      const carsInBudget = await carsInBudgetFetch.json();
      this.ShowLoader = false;
      this.ShowSettings = false;
      console.log(carsInBudget);

      this.ListingData = carsInBudget.success
        .filter(e => e.countUnder > 10)
        .sort((a, b) => b.countUnder / b.countOver - a.countUnder / a.countOver)
        .map(e => [
          e._id,
          `${e.countUnder}(/${e.countUnder + e.countOver})`,
          ((100 * e.countUnder) / (e.countUnder + e.countOver)).toFixed(1)
        ]);
    }
  }
};
</script>
<style scoped>
form > * {
  padding-top: 1.5vh;
}

form > * h5 {
  margin: 0;
}

table {
  margin-top: 2vh;
}

th {
  padding: 0px 20px;
}

svg[data-icon="cog"] {
  transition: color 0.25s ease;
}

svg[data-icon="cog"] {
  float: right;
  padding: 10px;
  font-size: 3vh;
}

svg:hover {
  color: var(--dark-shades);
}
</style>
