<template>
  <transition name="grow">
    <div id="graph-control-form" v-if="this.$store.state.ShowControl">
      <slot></slot>
    </div>
  </transition>
</template>

<script>
export default {
  name: "GraphOptionsContainer"
};
</script>
<style>
#graph-control-form > *,
#graph-control-form > form > * {
  margin-bottom: 10px;
}
</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#graph-options-container {
  background-color: var(--light-shades);
  /* box-shadow: 0px 0px 10px 5px var(--light-accent); */
  /* padding: 10px 0px; */
}

#graph-options-container {
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 5px 2px var(--light-accent);
  padding: 10px 0px;
}

@media (orientation: landscape) {
}

@media (orientation: portrait) {
}
</style>
