<template>
  <div id="graph-options-container" class="graph-options-container"></div>
</template>

<script>
export default {
  name: "GraphOptionsContainer"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@media (orientation: landscape) {
}

@media (orientation: portrait) {
}
</style>
