<template>
  <div id="graph-options-container">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "GraphOptionsContainer"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#graph-options-container {
  background-color: var(--light-shades);
  z-index: 999;
  opacity: 0.9;
}

html.landscape #graph-options-container {
  position: fixed;
  width: 50%;
  left: 25%;
  box-shadow: 0px 0px 5px 2px var(--light-accent);
  padding: 10px 0px;
  border-radius: 4px;
}

html.portrait #graph-options-container {
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 5px 2px var(--light-accent);
  padding: 10px 0px;
  border-radius: 0px 0px 15px 15px;
}
</style>
