<template>
  <div class="component-root">
    <!-- <div class="flex-x"> -->
    <span
      class="container"
      :data-radio-name="RadioName"
      v-for="option in Options"
      :key="option.value"
      :data-option="option.value"
      @click="SelectThis(option.value)"
    >
      <input type="radio" :name="RadioName" :value="option.value" />
      <label :for="option.value">{{option.displayName}}</label>
      <span class="checkmark"></span>
    </span>
    <!-- </div> -->
  </div>
</template>

<script>
import { setTimeout } from "timers";
export default {
  name: "ToggleInput",
  props: {
    Options: Array,
    InitialValue: String,
    value: String,
    RadioName: String
  },
  data() {
    return {
      CircleCentre: Number,
      ToggleRect: { x: 0, y: 0, width: 0, height: 0 },
      ChosenDisplayName: String
    };
  },
  watch: {
    ToggleRect: function() {
      this.ChosenDisplayName = this.Options.filter(
        e => e.value == document.querySelector("input:checked").value
      )[0].displayName;
    },
    InitialValue: function(val) {
      this.SelectThis(val);
    }
  },
  created() {},
  mounted() {
    if (this.InitialValue) {
      this.SelectThis(this.InitialValue);
    }
  },
  methods: {
    SelectThis(val) {
      document.querySelector(
        `input[type=radio][name='${this.RadioName}'][value='${val}']`
      ).checked = true;
      document
        .querySelectorAll(`span.container[data-radio-name=${this.RadioName}]`)
        .forEach(e => e.classList.remove("checked"));
      document
        .querySelector(`span[data-option='${val}']`)
        .classList.add("checked");
      this.$emit("input", val);
    },
    updateInput() {
      let thisComponent = this;
      setTimeout(function() {
        thisComponent.$emit(
          "input",
          document.querySelector("input:checked").value
        );
      }, 100);
    },
    ClickOverlay: function(event) {}
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* Customize the label (the container) */
.container {
  border: 1px solid var(--dark-shades);
  padding: 5px;
  transition: all 0.3s ease;
}

.component-root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

input[type="radio"] {
  display: none;
}

label {
  font-size: 2vh;
}

.checked label {
  color: var(--light-shades);
}

/* Create a custom checkbox */

/* On mouse-over, add a grey background color */
.checkmark:hover {
}

.checked {
  background-color: var(--dark-accent);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  /* background-color: red; */
}

/* Create the checkmark/indicator (hidden when not checked) */
/* .checkmark:after {
  content: "";
  position: absolute;
  display: none;
} */

.container input:checked ~ .checkmark:after {
}

@media (orientation: landscape) {
}

@media (orientation: portrait) {
}
</style>
