<template>
  <div class="toggleOptionContainer">
    <div
      class="toggleOption"
      @click="toggleOption(option.key)"
      v-for="(option, i) in Options"
      :key="option.key"
      :data-selected="option.selected"
    >{{option.name}}</div>
  </div>
</template>

<script>
export default {
  name: "SelectedOptions",
  props: {
    Options: Array
  },
  data: function() {
    return {};
  },
  created() {},
  watch: {},
  methods: {
    toggleOption(i) {
      console.log(i);
      this.$emit("input", i);
    }
  }
};
</script>

<style scoped>
.toggleOptionContainer {
}

.toggleOption {
  display: inline-block;
  border: 1px solid var(--dark-shades);
  color: var(--dark-shades);
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggleOption[data-selected] {
  background-color: var(--dark-accent);
  color: var(--light-shades);
}

button {
  font-family: var(--title-font);
}

@media (orientation: landscape) {
}

@media (orientation: portrait) {
}
</style>
