<template>
  <button @mouseover="Hover = true" @mouseleave="Hover = false">
    <span :style="{ visibility: MainVisibility }">{{ButtonText}}</span>
    <span :style="{ visibility: HoverVisibility }">{{ HoverText }}</span>
  </button>
</template>

<script>
export default {
  name: "TextInput",
  props: {
    ButtonText: String,
    HoverText: String
    // Hover: Boolean
  },
  data: function() {
    return {
      Hover: false,
      MainVisibility: "visible",
      HoverVisibility: "hidden"
    };
  },
  created() {},
  watch: {
    Hover: function(val) {
      this.MainVisibility = val ? "hidden" : "visible";
      this.HoverVisibility = val ? "visible" : "hidden";
    }
  },
  methods: {}
};
</script>

<style scoped>
span {
  /* transition: opacity 0.15s ease-in-out; */
}

span:nth-child(2) {
  position: relative;
  left: -45%;
}

button {
  font-family: var(--title-font);
}

@media (orientation: landscape) {
}

@media (orientation: portrait) {
}

input {
  border: 1px solid var(--dark-shades);
  padding: 3px;
}
</style>
