<template>
  <div id="SliderContainer" class="flex-x">
    <input @change="Change_Value();" type="range" :min="MinVal" :max="MaxVal" :value="CurrentVal" />
    <label v-if="LabelName">{{LabelName}}:</label>
    <span id="output-depthlimit">{{CurrentVal}}</span>
  </div>
</template>

<script>
export default {
  name: "SliderInput",
  props: {
    LabelName: String,
    MinVal: Number,
    MaxVal: Number,
    DefaultVal: Number
  },
  data() {
    return {
      CurrentVal: Number
    };
  },
  watch: {
    DefaultVal: {
      handler: function(val) {
        this.CurrentVal = val;
      }
    }
  },
  created() {
    this.CurrentVal = this.DefaultVal;
  },
  methods: {
    Change_Value: function() {
      this.CurrentVal = this.$el.querySelector("input[type=range]").value;
      this.$emit("input", this.CurrentVal);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div {
  padding: 10px 0px;
}

@media (orientation: landscape) {
}

@media (orientation: portrait) {
}

/* CSS FOR SLIDER INPUT */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 60%;
  height: 15px;
  background: var(--light-shades);
  border: 1px solid var(--dark-shades);
  outline: none;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--dark-accent);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--dark-accent);
  cursor: pointer;
}

label {
  margin: 0px 10px;
}
</style>
