<template>
  <div class="textInputContainer">
    <input
      :placeholder="PlaceholderText"
      ref="textinput"
      type="text"
      @input="updateInput()"
      :required="Required"
      :value="this.$attrs.value"
    />
    <ul :style="{width: AutoCompleteWidth, ...AutoCompleteStyle}" v-if="AutocompleteItems">
      <li
        v-for="(item, i) in AutocompleteItems"
        v-bind:key="i"
        :data-extra="item.extra"
        :data-value="item.value"
        @click="ValueData=item.displayName; selectAutocompleteOption(item);"
      >{{item.displayName}}</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "TextInput",
  props: {
    PlaceholderText: String,
    AutocompleteItems: Array,
    MinimumSearchLength: String,
    Required: false,
    InitialValue: String
  },
  data() {
    return {
      search: "",
      results: [],
      ValueData: "",
      isOpen: false,
      AutoCompleteWidth: "0px",
      AutoCompleteStyle: {}
    };
  },
  computed: {},
  created() {},
  mounted() {
    var bottomOfTextInput = this.$el.getBoundingClientRect().bottom;
    console.log(bottomOfTextInput);
    this.AutoCompleteStyle = {"position": "fixed", "top": bottomOfTextInput};

  },
  updated() {
    this.AutoCompleteWidth = this.$refs.textinput.clientWidth + "px";
  },
  methods: {
    updateInput() {
      this.$emit("input", this.$refs.textinput.value);
    },
    selectAutocompleteOption(item) {
      this.$refs.textinput.value = item.displayName;
      this.$emit("input", item.displayName);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div.textInputContainer {
  padding: 10px 0px;
  width: 50%;
  margin: auto;
  position: relative;
  overflow: visible;
}

input:not(:focus) ~ ul {
  max-height: 0px;
  z-index: 99;
}

ul {
  z-index: 999;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  background-color: var(--light-shades);
  box-shadow: 0px 0px 2px 1px var(--dark-accent);
  max-height: 100px;
  overflow-y: scroll;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  opacity: 0.9;
}

li {
  padding: 3px 0px;
  transition: all 0.25s ease-in-out;
}

li:hover {
  background-color: var(--main-brand);
  color: var(--light-shades);
}

input {
  width: 100%;
}

/* ul {
  position: fixed;
} */

@media (orientation: landscape) {
}

@media (orientation: portrait) {
}

input {
  border: 1px solid var(--dark-shades);
  padding: 8px 5px;
}
</style>
