<template>
  <div class="flex-x justify-center">
    {{ LabelLeft }}
    <label class="toggleSwitch">
      <input
        :checked="Value ? true : false"
        v-bind:value="Value"
        v-on:input="$emit('input', !Value)"
        type="checkbox"
      />
      <span class="slider-round"></span>
    </label>
    {{ LabelRight }}
  </div>
</template>

<script>
export default {
  name: "ToggleInput",
  props: {
    LabelLeft: String,
    LabelRight: String,
    Value: Boolean
  },
  data() {
    return {};
  },
  created() {},
  methods: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div {
  padding: 10px 0px;
}

@media (orientation: landscape) {
}

@media (orientation: portrait) {
}

/* CSS FOR TOGGLE INPUT */
/* The switch - the box around the slider */
.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

/* Hide default HTML checkbox */
.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* border-radius: 34px; */
}

.slider-round:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* border-radius: 50%; */
}

input:checked + .slider-round {
  background-color: var(--main-brand);
}

input:focus + .slider-round {
  box-shadow: 0 0 1px var(--main-brand);
}

input:checked + .slider-round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

label {
  margin: 0px 10px;
}
</style>
