<template>
  <div :style="{top: Top, left: Left}" v-html="ToolTipHTML" class="tooltip">This is a tooltip</div>
</template>

<script>
export default {
  name: "ToolTip",
  props: {
    Left: String,
    Top: String,
    ToolTipHTML: String
  },
  data() {
    return {};
  },
  methods: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.tooltip {
  position: absolute;
  color: var(--dark-shades);
  z-index: 100;
  background-color: var(--light-shades);
  box-shadow: 1px 1px 2px 0px var(--dark-accent);
  padding: 5px;
}

.tooltip:hover {
  display: none;
}

@media (orientation: landscape) {
}

@media (orientation: portrait) {
}
</style>
