<template>
  <select @change="Change_Value($event);">
    <option v-if="prompt && !InitialValue" selected disabled>{{prompt}}</option>
    <option
      v-for="option in Options"
      :key="option.value"
      :value="option.value"
      :selected="option.value===InitialValue"
    >{{ option.displayName }}</option>
  </select>
</template>

<script>
export default {
  name: "VisSelect",
  props: {
    Options: Array,
    prompt: String,
    InitialValue: ""
  },
  data() {
    return {
      CurrentValue: ""
    };
  },
  created() {
    const prompt = this.prompt || "Choose an option:";
    this.CurrentValue = this.InitialValue ? this.InitialValue : prompt;
  },
  watch: {
    InitialValue: {
      handler: function(val) {
        this.CurrentValue = val;
      }
    }
  },
  methods: {
    Change_Value: function(e) {
      this.$emit("input", e.target.value);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
select {
  background-color: var(--light-shades);
  color: var(--main-brand);
  border: none;
  height: 30px;
  border-bottom: 1px solid var(--dark-accent);
  margin: 0px 10px;
  font-family: var(--body-font);
  box-shadow: 0px 5px 6px -6px var(--dark-accent);
}

@media (orientation: landscape) {
}

@media (orientation: portrait) {
}
</style>
