<template>
  <div>
    <font-awesome-icon icon="info" @click="toggleInfo();" />
    <span>{{VisTitle}}</span>
    <font-awesome-icon
      v-if="ShowChevron"
      icon="chevron-up"
      :class="{ flip_y: this.$store.state.ShowControl ? false : true }"
      @click="toggleControl();"
    />
    <font-awesome-icon
      v-if="ShowCog"
      icon="cog"
      @click="toggleCog();"
      :style="{rotate: `transform(${CogRotate * 360})`}"
    />
  </div>
</template>

<script>
export default {
  name: "VisTitle",
  props: {
    VisTitle: String,
    ShowChevron: Boolean,
    ShowCog: Boolean
  },
  data: function() {
    return {
      ShowControl: false,
      CogRotate: 0
    };
  },
  methods: {
    toggleControl() {
      this.$store.commit("toggleControl");
    },
    toggleCog() {
      this.$emit("toggleCog");
      this.CogRotate++;
      // document
      //   .querySelector("svg[data-icon='cog']")
      //   .style.transform(`rotate(${this.CogRotate * 360})`);
    },
    toggleInfo() {
      this.$store.commit("toggleInfo");
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
span {
  padding: 0px 10px;
  color: var(--main-brand);
  font-family: var(--body-font);
  font-size: 3vh;
}

svg {
  color: var(--main-brand);
}

svg[data-icon="info"] {
  float: left;
  padding: 0px 10px;
  font-size: 3vh;
}

svg[data-icon="cog"] {
  transition: color 0.3s ease;
}

svg[data-icon="cog"],
svg[data-icon="chevron-up"],
svg[data-icon="chevron-down"] {
  float: right;
  padding: 0px 10px;
  font-size: 3vh;
}

svg[data-icon="info"],
svg[data-icon="chevron-up"],
svg[data-icon="chevron-down"] {
  transition: all 0.3s ease;
}

svg:hover {
  color: var(--dark-shades);
}

.flip_y {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

@media (orientation: landscape) {
}

@media (orientation: portrait) {
}
</style>
