<template>
  <router-link class="DataVisThumb" :to="ThumbLink">
    <div>
      <div
        class="datavis-background"
        :style="{ backgroundImage: 'url(' + require(`../assets/thumbs/${BackgroundFile}`) + ')' }"
      ></div>
      <div class="datavis-info">
        <h3 class="datavis-title">{{ThumbTitle}}</h3>
        <p v-if="ThumbInfo">{{ThumbInfo}}</p>
      </div>
    </div>
  </router-link>
</template>
<script>
export default {
  name: "DataVisThumb",
  props: {
    ThumbTitle: String,
    ThumbInfo: String,
    BackgroundFile: String,
    ThumbLink: String
  },
  created() {}
};
</script>

<style>
.DataVisThumb > div {
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 3px 1px var(--light-accent);
}

.datavis-info {
  background: var(--light-shades);
  position: absolute;
  width: 100%;
  padding: 1.3vh 0vw;
  margin: auto;
  top: 10%;
  color: var(--main-brand);
  z-index: 9;
  opacity: 0.9;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 3px 1px var(--light-accent);
}

.DataVisThumb:hover .blog-post-info {
  opacity: 0.95;
}

.DataVisThumb .datavis-background {
  height: 100%;
  max-width: 100%;
  background-size: cover;
  transition: all 0.2s ease;
  overflow: hidden;
  text-decoration: none;
}
.DataVisThumb:hover .datavis-background {
  transform: scale(1.03);
}

.datavis-background {
  box-shadow: 0px 0px 60px 25px inset #dddddd88;
}

.DataVisThumb {
  text-decoration: none;
}

.DataVisThumb > div {
}

.datavis-title {
  padding: 0;
  margin: 0;
}

@media (orientation: landscape) {
  .DataVisThumb > div {
    height: 40%;
    width: 40%;
  }

  .datavis-title {
    font-family: var(--title-font);
    font-size: 1.2em;
  }

  .datavis-summary {
    font-family: var(--body-font);
    font-size: 1.2em;
  }
}

@media (orientation: portrait) {
  .DataVisThumb > div {
    height: 30vh;
    margin: 8vh 5vw;
  }

  .datavis-title {
    font-family: var(--title-font);
    font-size: 1.5em;
  }

  .datavis-summary {
    font-family: var(--body-font);
    font-size: 1.5em;
  }
}
</style>
