<template>
  <div class="loader-body">
    <!-- <div class="loader-background"></div> -->
    <div class="loader">
      <div class="wheel-background">
        <span class="loader-progress">{{LoaderProgress}}</span>
      </div>
      <div class="wheel-element"></div>
      <div class="wheel-element"></div>
      <div class="wheel-element"></div>
      <div class="wheel-element"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Loader",
  props: {
    LoaderProgress: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.loader-background {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.5;
}

.loader-body {
  position: fixed;
  top: 0px;
  z-index: 99999;
  /* height: 100%; */
  /* width: 100%; */
}

.loader {
  position: fixed;
  top: 200px;
  height: 0vh;
  width: 100%;
  z-index: 9999999;
}

.loader div {
  position: absolute;
  left: 50%;
}

.loader .wheel-element {
  top: 20px;
  margin-left: -6.5vh;
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  border: 1.5vh solid;
  animation: spin 1s cubic-bezier(0.75, 0.1, 0.25, 0.9) infinite;
  border-color: var(--main-brand) transparent transparent transparent;
  z-index: 9999999;
}

.loader .wheel-background {
  background-color: var(--light-shades);
  border-radius: 1%;
  height: 26vh;
  width: 26vh;
  margin-left: -13vh;
  box-shadow: 1px 1px 2px 1px var(--light-accent),
    0px 0px 20px 5px inset var(--light-accent-translucent);
}

.loader .wheel-element:nth-child(2) {
  animation-delay: 0.05s;
}

.loader .wheel-element:nth-child(3) {
  animation-delay: 0.1s;
}

.loader .wheel-element:nth-child(4) {
  animation-delay: 0.15s;
}

.loader-progress {
  background-color: var(--light-shades);
  position: absolute;
  top: 80%;
  left: 0%;
  width: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal {
  position: fixed;
  width: 80%;
  left: 10%;
  top: 40%;
  background-color: var(--main-brand);
  color: var(--light-shades);
  box-shadow: 1px 1px 2px 1px var(--light-accent);
  opacity: 0.95;
  padding: 10px 0px;
}

@media (orientation: landscape) {
}

@media (orientation: portrait) {
}
</style>
