<template>
  <div class="modal-body">
    <div class="modal-background"></div>
    <div class="modal">
      <font-awesome-icon icon="window-close" @click="$emit('hideSettings')" />
      <h2 class="modalTitle" v-if="ModalTitle">{{ModalTitle}}</h2>
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "ModalLightShade",
  props: {
    ModalTitle: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.modal-background {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.5;
}

h5 {
  margin-bottom: 0px;
}

.modal-body {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  z-index: 99999;
}

.modal {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 20%;
  background-color: var(--light-shades);
  color: var(--dark-shades);
  box-shadow: 1px 1px 2px 1px var(--light-accent);
  opacity: 0.85;
  padding: 0px;
  overflow-y: auto;
}

.modal > * {
  margin: 1vh 1vw;
}

.fade-enter-active,
.fade-leave-active {
  transition: transform 0.25s ease-in-out;
  transform: scale(1);
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: scale(0.999);
}

.fade-enter-active .modal,
.fade-leave-active .modal {
  transition: transform 0.25s ease-in-out;
  transform: scale(1);
}

.fade-enter .modal, .fade-leave-to .modal /* .fade-leave-active below version 2.1.8 */ {
  transform: scale(0);
}

.modalTitle {
  background-color: var(--dark-shades);
  color: var(--light-shades);
  padding: 1vh 0 3vh 0;
  margin: 0;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  font-family: var(--title-font);
}

svg[data-icon="window-close"] {
  position: absolute;
  top: 1vh;
  right: 1vh;
  font-size: 1.2em;
  z-index: 99999;
}

@media (orientation: landscape) {
}

@media (orientation: portrait) {
}
</style>
