<template>
  <div class="modal-body">
    <div class="modal-background"></div>
    <div class="modal">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "ModalMainBrand"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.modal-background {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.5;
}

h5 {
  margin-bottom: 0px;
}

.modal-body {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  z-index: 99999;
}

.modal {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 20%;
  background-color: var(--main-brand);
  color: var(--light-shades);
  box-shadow: 1px 1px 2px 1px var(--main-brand-translucent);
  opacity: 0.85;
  padding: 10px 0px;
  overflow-y: auto;
}

.modal > * {
  margin: 7px 3px;
}
.fade-enter-active,
.fade-leave-active {
  transition: transform 0.25s ease-in-out;
  transform: scale(1);
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: scale(0.999);
}

.fade-enter-active .modal,
.fade-leave-active .modal {
  transition: transform 0.25s ease-in-out;
  transform: scale(1);
}

.fade-enter .modal, .fade-leave-to .modal /* .fade-leave-active below version 2.1.8 */ {
  transform: scale(0);
}

@media (orientation: landscape) {
}

@media (orientation: portrait) {
}
</style>
