<template>
  <div>
    <nav>
      <span class="nav-link">
        <a>
          <!-- placeholder -->
          PH
        </a>
      </span>
    </nav>
    <nav id="navbar">
      <font-awesome-icon v-on:click="ClickBurgerBar" icon="bars" />
      <transition-group name="nav-links">
        <span v-for="link in activeLinks" v-bind:key="link.text" class="nav-link">
          <router-link :to="link.href">{{ link.text }}</router-link>
        </span>
      </transition-group>
      <div id="logoContainer">
        <Willogo
          :Animate="AnimateLogo"
          WColour="var(--dark-accent)"
          WColourGradient="var(--dark-accent)"
          FVBarColour="var(--light-shades)"
          FHBar1Colour="var(--dark-accent)"
          FHBar2Colour="var(--dark-accent)"
        ></Willogo>
      </div>
    </nav>
  </div>
</template>

<script>
import { setTimeout } from "timers";
import Willogo from "./Willogo.vue";

export default {
  name: "NavBar",
  components: {
    Willogo
  },
  data: function() {
    return {
      activeLinks: Array,
      otherLinks: Array,
      defaultLinks: [
        { text: "Home", href: "/" },
        { text: "Visualisations", href: "/data-visualisations" },
        { text: "Apps", href: "/apps" },
        { text: "Blog", href: "/blog" },
        { text: "About", href: "/about" }
      ]
    };
  },
  props: {
    links: Array,
    ThisPage: String,
    AnimateLogo: Boolean
  },
  watch: {
    ThisPage: {
      handler: function(val) {
        this.activeLinks.find(e => e.href === "").text = val;
        this.defaultLinks.find(e => e.href === "").text = val;
      }
    }
  },
  created: function() {
    if (!this.defaultLinks.find(e => e.text === this.ThisPage)) {
      this.defaultLinks = [{ text: this.ThisPage, href: "" }].concat(
        this.defaultLinks
      );
    }
    this.defaultLinks = this.links ? this.links : this.defaultLinks;

    // reorganise links
    if (this.ThisPage) {
      this.otherLinks = this.defaultLinks
        .filter(e => e.text === this.ThisPage)
        .concat(this.defaultLinks.filter(e => e.text !== this.ThisPage));
    } else {
      this.otherLinks = this.defaultLinks;
    }

    // on portrait, hide all other links
    this.activeLinks =
      window.innerWidth < window.innerHeight
        ? this.otherLinks.slice(0, 1)
        : this.otherLinks;
  },
  methods: {
    ClickBurgerBar() {
      // toggle active links
      this.activeLinks = [
        this.otherLinks,
        (this.otherLinks = this.activeLinks)
      ][0];

      // add animation class
      document
        .querySelector("svg[data-icon=bars]")
        .classList.add("animate-pressed");

      // remove animation class so the animation can run again
      setTimeout(function() {
        document
          .querySelector("svg[data-icon=bars]")
          .classList.remove("animate-pressed");
      }, 300);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.nav-link:not(:first-child) {
  opacity: 0.6;
  transition: all 0.35s ease;
}

.nav-link:first-child {
  opacity: 0.95;
}

.nav-link:hover {
  opacity: 0.95;
}

#logoContainer {
  margin-right: 2vh;
}

#logoContainer svg {
  width: 100%;
  height: 100%;
}

#Willogo {
  cursor: pointer;
}

nav {
  /* background-color: var(--main-brand); */
  background-image: linear-gradient(
    35deg,
    var(--main-brand),
    var(--main-brand-dark)
  );
  display: flex;
  width: 100%;
  overflow: hidden;
}

#navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 99999999;
  box-shadow: 0px 0px 7px 3px var(--light-accent);
}

a {
  color: var(--light-shades);
  text-decoration: none;
  font-family: var(--title-font);
}

html.landscape svg[data-icon="bars"] {
  display: none;
  transition: 0.25s ease;
}

svg[data-icon="bars"]:hover {
  transform: scale(1.15);
}

html.landscape #logoContainer {
  position: absolute;
  right: 0px;
  height: 8vh;
  width: 8vh;
}

html.landscape nav {
  height: 8vh;
}

html.landscape .nav-link a {
  margin: auto;
  padding: 8vh 2vh;
  line-height: 8vh;
  font-size: 2vw;
  transition: all 0.25s ease-in-out;
}

html.landscape .nav-link a:hover {
  color: var(--dark-shades);
}

html.landscape nav > span:first-of-type > a {
  text-decoration: underline;
  text-decoration-color: var(--dark-accent);
}

html.portrait nav > span {
  flex-direction: column;
  margin: auto;
}

html.portrait #logoContainer {
  float: right;
  height: 13vw;
  width: 13vw;
}

html.portrait .nav-link {
  display: block;
  width: 100%;
  padding: 2vh 0;
}

html.portrait .nav-links-enter-active,
html.portrait .nav-links-leave-active {
  transition: all 0.25s ease-in-out;
  max-height: 8vh;
  padding: 2vh 0;
}

html.portrait .nav-links-enter,
html.portrait .nav-links-leave-to /* .list-leave-active below version 2.1.8 */ {
  max-height: 0vh;
  padding: 0;
  opacity: 0;
}

html.portrait svg[data-icon="bars"] {
  color: var(--dark-accent);
  float: left;
  padding-left: 1vh;
  padding-top: 2vh;
  font-size: 2em;
  cursor: pointer;
  transition: transform 0.25s ease;
}

html.portrait .animate-pressed {
  animation: press 0.2s;
}

@keyframes press {
  50% {
    transform: scale(0.85);
    transform-origin: center;
  }
}

html.portrait nav a {
  font-size: 1.8em;
}
</style>
