<template>
  <div class="smallModalBody">
    <div class="smallModalBackground"></div>
    <div :style="ModalStyle" class="modal">
      <h2 class="modalTitle" v-if="ModalTitle">{{ModalTitle}}</h2>
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "SmallModal",
  props: {
    ModalTitle: String,
    ModalStyle: Object
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.smallModalBackground {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.5;
}

h5 {
  margin-bottom: 0px;
}

.smallModalBody {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  z-index: 99999;
}

.modal {
  position: absolute;
  background-color: var(--light-shades);
  color: var(--dark-shades);
  box-shadow: 1px 1px 2px 1px var(--light-accent);
  opacity: 0.85;
  padding: 0px;
  overflow-y: auto;
}

.modal > * {
  margin: 7px 3px;
}

.modalTitle {
  background-color: var(--dark-shades);
  color: var(--light-shades);
  padding: 1vh 0 3vh 0;
  margin: 0;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  font-family: var(--title-font);
}

svg[data-icon="window-close"] {
  position: absolute;
  top: 1vh;
  right: 1vh;
  font-size: 1.2em;
  z-index: 99999;
}

@media (orientation: landscape) {
}

@media (orientation: portrait) {
}
</style>
