<template>
  <router-link to="/">
    <svg
      id="Willogo"
      xmlns="http://www.w3.org/2000/svg"
      width="100%"
      height="100%"
      viewBox="0 0 100 100"
    >
      <defs>
        <filter id="f1">
          <feGaussianBlur in="SourceGraphic" stdDeviation="2" />
        </filter>
        <linearGradient id="WFGradient" gradientTransform="rotate(130)">
          <stop offset="0%" :stop-color="WColour" />
          <stop offset="18%" :stop-color="WColourGradient" />
        </linearGradient>
      </defs>
      <circle
        v-if="Animate"
        id="circle1"
        :cx="W1.x"
        :cy="W1.y"
        r="6"
        filter="url(#f1)"
        :style="{ transition: `all ${WAnimationTime / 4}s` }"
      />
      <circle
        v-if="Animate"
        id="circle2"
        :cx="F5.x"
        :cy="F5.y"
        r="6"
        filter="url(#f1)"
        :style="{ transition: `all 0.5s` }"
      />
      <path
        id="WBar"
        :style="{
          strokeDasharray: WLength,
          strokeDashoffset: WLength,
          animation: `dash ${WAnimationTime}s linear forwards`
        }"
        :d="
          `M ${W1.x},${W1.y}
      L ${W2.x},${W2.y}
      L ${W3.x},${W3.y}
      L ${W4.x},${W4.y}`
        "
        stroke="url('#WFGradient')"
      />
      <path
        id="FVBar"
        :style="{
          stroke: FVBarColour,
          strokeDasharray: FVLength,
          strokeDashoffset: FVLength
        }"
        :d="
          `M ${F1.x},${F1.y}
          L ${F2.x},${F2.y}`
        "
      />
      <path
        id="FHBar1"
        :style="{
          stroke: FHBar1Colour,
          strokeDasharray: FH1Length,
          strokeDashoffset: FH1Length
        }"
        :d="`M ${F3.x},${F3.y} L ${F4.x},${F4.y}`"
      />
      <path
        id="FHBar2"
        :style="{
          stroke: FHBar2Colour,
          strokeDasharray: FH2Length,
          strokeDashoffset: FH2Length
        }"
        :d="`M ${F5.x},${F5.y} L ${F6.x},${F6.y}`"
      />
    </svg>
  </router-link>
</template>
<script>
import { setTimeout } from "timers";
export default {
  name: "Willogo",
  props: {
    WColour: String,
    WColourGradient: String,
    FVBarColour: String,
    FHBar1Colour: String,
    FHBar2Colour: String,
    AnimationTick: 1,
    Animate: Boolean
  },
  data: function() {
    return {
      WLength: Number,
      FVLength: Number,
      FH1Length: Number,
      FH2Length: Number,
      W1: { x: 5, y: 25 },
      W2: { x: 20, y: 70 },
      W3: { x: 35, y: 30 },
      W4: { x: 50, y: 75 },
      F1: { x: 58, y: 75 },
      F2: { x: 58, y: 25 },
      F3: { x: 62, y: 29 },
      F4: { x: 83, y: 29 },
      F5: { x: 62, y: 48 },
      F6: { x: 83, y: 48 },
      WAnimationTime: 1,
      FVAnimationTime: 0.125,
      FHAnimationTime: 0.6,
      FHDelayTime: 0.1
    };
  },
  mounted() {
    this.WLength = this.Animate
      ? document.getElementById("WBar").getTotalLength()
      : 0;
    this.FVLength = this.Animate
      ? document.getElementById("FVBar").getTotalLength()
      : 0;
    this.FH1Length = this.Animate
      ? document.getElementById("FHBar1").getTotalLength()
      : 0;
    this.FH2Length = this.Animate
      ? document.getElementById("FHBar2").getTotalLength()
      : 0;
    var thisComponent = this;
    // document.getElementById("WBar").classList.add("draw1");

    if (this.Animate) {
      // w circle down
      d3.select("svg circle")
        .attr("cx", this.W2.x)
        .attr("cy", this.W2.y);

      // animate vertical f bar
      setTimeout(function() {
        document.getElementById("FVBar").classList.add("draw2");
      }, 1000 * thisComponent.WAnimationTime);

      //  w circle up and right
      setTimeout(function() {
        d3.select("svg circle")
          .attr("cx", thisComponent.W3.x)
          .attr("cy", thisComponent.W3.y);
      }, (1000 * thisComponent.WAnimationTime) / 3);

      // w down and right
      setTimeout(function() {
        d3.select("svg circle")
          .attr("cx", thisComponent.W4.x)
          .attr("cy", thisComponent.W4.y);
      }, (2000 * thisComponent.WAnimationTime) / 3);

      // animate top f horizontal bar
      setTimeout(function() {
        document.getElementById("FHBar1").classList.add("draw3");
      }, (4000 * thisComponent.WAnimationTime) / 3);

      // w circle up
      setTimeout(function() {
        d3.select("svg #circle1")
          .attr("cx", thisComponent.F2.x)
          .attr("cy", thisComponent.F2.y);
      }, (4000 * thisComponent.WAnimationTime) / 4);

      // w circle right
      setTimeout(function() {
        d3.select("svg #circle1")
          .attr("cx", thisComponent.F4.x)
          .attr("cy", thisComponent.F4.y);
      }, (5000 * thisComponent.WAnimationTime) / 4);

      // create second circle and animate right
      setTimeout(function() {
        d3.select("svg #circle2")
          .style("visibility", "visible")
          .attr("cx", thisComponent.F6.x)
          .attr("cy", thisComponent.F6.y);

        d3.selectAll("svg circle")
          .transition()
          .duration(350)
          .style("opacity", 0);
      }, (5000 * thisComponent.WAnimationTime) / 4 +
        1000 * thisComponent.FHDelayTime);

      // animate lower f horizontal bar
      setTimeout(function() {
        document.getElementById("FHBar2").classList.add("draw3");
      }, (5000 * thisComponent.WAnimationTime) / 4 +
        1000 * thisComponent.FHDelayTime);
    }
  }
};
</script>
<style scoped>
svg path {
  stroke-width: 7px;
  fill: none;
  stroke-linejoin: round;
}

.draw1 {
  animation: dash 1s linear forwards;
}

.draw2 {
  animation: dash 0.33s linear forwards;
}

.draw3 {
  animation: dash 0.5s linear forwards;
}

svg circle {
  fill: var(--light-shades);
  opacity: 0.8;
}

#circle2 {
  visibility: hidden;
}
@keyframes pulse {
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
</style>
<style>
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
</style>
