<template>
  <router-link class="BlogPostThumb" :to="'blog/post/' + Post.slug">
    <div>
      <div
        class="blog-thumb-background"
        :style="{ backgroundImage: 'url(' + Post.feature_image + ')' }"
      ></div>
      <div class="blog-post-info">
        <div class="blog-post-title">{{Post.title}}</div>
        <div class="blog-post-summary">{{Post.excerpt}}</div>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  name: "BlogPostThumb",
  props: {
    Post: Object
  }
};
</script>
<style>
.BlogPostThumb > div {
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 3px 1px var(--light-accent);
}

.blog-post-info {
  background: var(--light-shades);
  position: absolute;
  width: 80%;
  padding: 10px;
  margin: auto;
  top: 10%;
  left: 0px;
  right: 0px;
  color: var(--main-brand);
  z-index: 9;
  opacity: 0.9;
  transition: all 0.2s ease;
}

.BlogPostThumb:hover .blog-post-info {
  opacity: 0.95;
}

.BlogPostThumb .blog-thumb-background {
  height: 100%;
  max-width: 100%;
  background-size: cover;
  transition: all 0.2s ease;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0px 0px 60px 25px inset #dddddd77;
}
.BlogPostThumb:hover .blog-thumb-background {
  transform: scale(1.05);
}

.BlogPostThumb {
  text-decoration: none;
}

.BlogPostThumb > div {
}

@media (orientation: landscape) {
  .BlogPostThumb > div {
    height: 40%;
    width: 40%;
    margin: 50px 20px;
  }

  .blog-post-title {
    font-family: var(--title-font);
    font-size: 1.5vw;
  }

  .blog-post-summary {
    font-family: var(--body-font);
    font-size: 1vw;
  }
}

@media (orientation: portrait) {
  .BlogPostThumb > div {
    height: 500px;
    margin: 50px 20px;
  }

  .blog-post-title {
    font-family: var(--title-font);
    font-size: 6vw;
  }

  .blog-post-summary {
    font-family: var(--body-font);
    font-size: 4vw;
  }
}
</style>
