<template>
  <div id="about">
    <NavBar AnimateLogo ThisPage="About" />
    <h1>Hi</h1>
    <img id="PostAuthorImage" :src="Post.primary_author.profile_image" />
    <p>
      My name's Will, I'm a Software Engineer from Southeast London,
      and I started this site for a couple of reasons:
    </p>
    <ul>
      <li>I've always been fascinated by data, facts and figures, statistics</li>
      <li>I wanted to improve my technical skills and learn some web dev</li>
    </ul>
    <h3>About the site</h3>
    <p>
      The main aim of the site is to host data visualistations on topics that
      interest me. I also sometimes write about my experiences making these
      visualisations, but I'm not a natural writer so these posts don't
      happen too often.
    </p>
    <p>The frontend uses Vue.js, the backend uses Django, and the blog uses Ghost CMS.</p>
    <h3>Contact</h3>
    <p>
      You can email me on will.r.fry@gmail.com. I'm
      <a href="https://twitter.com/willfry">@willfry</a> on Twitter. I don't really post
      much, but I am there. I'm
      <a
        href="https://www.instagram.com/williamilliam/"
      >williamilliam</a>
      on Instagram. But again, don't really post much. If you know me in person your best bet
      is to hunt me down and come speak to me.
    </p>
  </div>
</template>

<script>
import NavBar from "./components/NavBar.vue";
import GhostContentAPI from "@tryghost/content-api";

const api = new GhostContentAPI({
  url: "https://www.willfry.co.uk/blog-api",
  key: "359d7948808d68d6c04b67cb67",
  version: "v2"
});

if (window.innerHeight > window.innerWidth) {
  document.querySelector("html").classList.add("portrait");
} else {
  document.querySelector("html").classList.add("landscape");
}

export default {
  name: "About",
  components: {
    NavBar
  },
  data: function() {
    return {
      Post: Object
    };
  },
  async created() {
    const lastPost = await api.posts.browse({
      limit: 1,
      include: "tags,authors"
    });
    const slug = lastPost[0].slug;
    console.log(slug);

    var fetchPost = await fetch(
      `https://www.willfry.co.uk/blog-api/ghost/api/v2/content/posts/slug/${slug}?key=359d7948808d68d6c04b67cb67&include=authors`,
      {}
    );
    var post = await fetchPost.json();
    post = post.posts[0];
    this.Post = post;
    console.log(post);
  }
};
</script>

<style scoped>
#about {
  margin: auto;
}

img {
  width: 20%;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 2px var(--dark-accent);
}

@media (orientation: portrait) {
  #about {
    width: 90%;
  }
}

@media (orientation: landscape) {
  #about {
    width: 50%;
  }
}
</style>
