<template>
  <div id="app">
    <div :style="{'height': HeaderHeight}" id="header">
      <font-awesome-icon
        :style="{'position': 'absolute', 'left': '2vh', 'top': '2vh'}"
        icon="bars"
        @click="ClickBurgerBar"
      />
      <span :style="{'height': '6em', 'display': 'inline-block'}" id="logoContainer">
        <Willogo
          :Animate="true"
          WColour="var(--dark-accent)"
          WColourGradient="var(--dark-accent)"
          FVBarColour="var(--light-shades)"
          FHBar1Colour="var(--dark-shades)"
          FHBar2Colour="var(--dark-shades)"
        ></Willogo>
      </span>
      <div v-if="!ShowHero" id="heroNavLinks" :style="{'height': '50%'}">
        <router-link to="/data-visualisations">Data Visualisations</router-link>
        <router-link to="/apps">Apps</router-link>
        <router-link to="/blog">Blog</router-link>
        <router-link to="/about">About</router-link>
      </div>
      <div v-if="ShowHero" id="introContainer" :style="{'height': '70%'}">
        <router-link :style="{'opacity': BurgerPressed }" to="/data-visualisations">
          <div class="introBlock">
            <h2>
              A place for
              <span>data visualisations</span>
            </h2>
            <div>
              <font-awesome-icon icon="chart-area" />
              <font-awesome-icon icon="chart-bar" />
              <font-awesome-icon icon="chart-line" />
            </div>
          </div>
        </router-link>
        <router-link :style="{'opacity': BurgerPressed }" to="/apps">
          <div class="introBlock">
            <h2>
              <span>Web apps</span>
            </h2>
            <div>
              <font-awesome-icon icon="hat-wizard" />
              <font-awesome-icon icon="grin" />
              <font-awesome-icon icon="globe" />
            </div>
          </div>
        </router-link>
        <router-link :style="{'opacity': BurgerPressed }" to="/blog">
          <div class="introBlock">
            <h2>
              And the occassional
              <span>blog</span> post
            </h2>
            <font-awesome-icon icon="blog" />
          </div>
        </router-link>
      </div>
    </div>
    <h3>Check out some of my visualisations:</h3>
    <DataVisThumb
      BackgroundFile="language-tree-01.png"
      ThumbTitle="Etymology Tree"
      ThumbInfo="Track the evolution of language from Proto-Languages spoken long ago"
      ThumbLink="/data-visualisations/vis/etymology-treemap"
    />
    <DataVisThumb
      BackgroundFile="fpl-thumb.png"
      ThumbTitle="FPL Value"
      ThumbInfo="Plot the value of different Fantasy Premier League players"
      ThumbLink="/data-visualisations/vis/fpl-value"
    />
    <DataVisThumb
      BackgroundFile="usedCarPrices.png"
      ThumbTitle="Used Car Prices"
      ThumbInfo="Plot the depreciation of different car models over time"
      ThumbLink="/data-visualisations/vis/used-car-prices"
    />
    <DataVisThumb
      BackgroundFile="ukbabynamesthumb.png"
      ThumbTitle="More Visualisations"
      ThumbLink="/data-visualisations/"
    />
    <h3>Try some of my apps:</h3>
    <DataVisThumb
      BackgroundFile="usedCarPrices.png"
      ThumbTitle="Car Hunter"
      ThumbLink="/apps/app/car-hunter"
    />
    <DataVisThumb
      BackgroundFile="traindelaythumb.png"
      ThumbTitle="UK Train Delay"
      ThumbLink="/apps/app/uk-train-delay"
    />
    <DataVisThumb BackgroundFile="ukbabynamesthumb.png" ThumbTitle="More Apps" ThumbLink="/apps/" />
    <DataVisThumb BackgroundFile="ukbabynamesthumb.png" ThumbTitle="More Apps" ThumbLink="/apps/" />
    <h3>Or read some of my poorly written blog posts:</h3>
    <div id="blogPostThumbContainer">
      <BlogPostThumb v-for="post in RecentPosts" :key="post.id" :Post="post"></BlogPostThumb>
    </div>
    <DataVisThumb
      BackgroundFile="ukbabynamesthumb.png"
      ThumbTitle="More Blog Posts"
      ThumbLink="/blog/"
    />
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";
import NavBar from "./components/NavBar.vue";
import DataVisThumb from "./components/DataVisThumb.vue";
import GhostContentAPI from "@tryghost/content-api";
import BlogPostThumb from "./components/blog/BlogPostThumb.vue";
import Willogo from "./components/Willogo.vue";

const api = new GhostContentAPI({
  url: "https://www.willfry.co.uk/blog-api",
  key: "359d7948808d68d6c04b67cb67",
  version: "v2"
});

if (window.innerHeight > window.innerWidth) {
  document.querySelector("html").classList.add("portrait");
} else {
  document.querySelector("html").classList.add("landscape");
}

export default {
  name: "app",
  components: {
    NavBar,
    HelloWorld,
    DataVisThumb,
    BlogPostThumb,
    Willogo
  },
  data: function() {
    return {
      RecentPosts: Array,
      ShowHero: true,
      BurgerPressed: 0
    };
  },
  computed: {
    HeaderHeight: function() {
      return window.innerHeight > window.innerWidth
        ? window.innerHeight + "px"
        : window.innerHeight / 3 + "px";
    }
  },
  async created() {
    var posts = await api.posts.browse({ limit: 3, include: "tags,authors" });
    this.RecentPosts = posts;
  },
  methods: {
    ClickBurgerBar() {
      this.ShowHero = !this.ShowHero;
      this.BurgerPressed = 1;
      // add animation class
      this.$el
        .querySelector("svg[data-icon=bars]")
        .classList.add("animate-press");

      // remove animation class so the animation can run again
      setTimeout(function() {
        document
          .querySelector("svg[data-icon=bars]")
          .classList.remove("animate-press");
      }, 300);
    }
  }
};
</script>
<style scoped>
#header {
  background-image: linear-gradient(
    45deg,
    var(--main-brand),
    var(--main-brand-dark)
  );
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

#header h2 {
  color: var(--light-shades);
  opacity: 0.9;
}

#heroNavLinks {
  display: flex;
  justify-content: space-evenly;
}
#heroNavLinks a {
  display: block;
  text-decoration: none;
  color: var(--light-shades);
  font-size: 2em;
  font-family: var(--title-font);
}

svg[data-icon="bars"] {
  font-size: 2em;
  color: var(--dark-accent);
  cursor: pointer;
}

#introContainer svg {
  color: var(--dark-accent-saturated);
  padding: 0 0.5em;
  font-size: 2em;
}

#introContainer {
  display: flex;
  justify-content: space-evenly;
}

#introContainer a {
  text-decoration: none;
}

#introContainer > a {
  animation: fadeIn 2s forwards;
}

#introContainer h2 span {
  /* animation: becomeDark 0.35s forwards; */
}

#introContainer > a:nth-child(1) {
  animation-delay: 1.725s;
}
#introContainer > a:nth-child(1) span {
  animation-delay: 2.8s;
}

#introContainer > a:nth-child(2) {
  animation-delay: 2.225s;
}
#introContainer > a:nth-child(2) span {
  animation-delay: 2.8s;
}

#introContainer > a:nth-child(3) {
  animation-delay: 2.725s;
}
#introContainer > a:nth-child(3) span {
  animation-delay: 2.8s;
}

@media (orientation: landscape) {
  #introContainer {
  }
}

@media (orientation: portrait) {
  #introContainer,
  #heroNavLinks {
    flex-direction: column;
  }
}

@keyframes becomeDark {
  0% {
    color: var(--light-shades);
  }
  100% {
    color: var(--dark-accent-saturated);
  }
}

.animate-press {
  animation: press 0.2s;
}

@keyframes press {
  50% {
    transform: scale(0.85);
    transform-origin: center;
  }
}
</style>
<style>
:root {
  /* o.g. main-brand: #63bcff */
  --main-brand: hsl(205.8, 75%, 75%);
  --main-brand-dark: hsl(205.8, 75%, 50%);
  /* --main-brand-translucent: #63bcff22; */
  --main-brand-translucent: hsla(205.8, 70%, 75%, 75%);
  --light-shades: #f7f7f8;
  --light-accent: hsl(98, 7%, 74%);
  --very-light-accent: hsl(98, 7%, 90%);
  --light-accent-translucent: #bbc1b822;
  /* --dark-shades: #344975; */
  --dark-shades: hsl(220.6, 38.5%, 40%);
  /* --dark-accent: #dcb400; */
  --dark-accent: hsl(49.1, 70%, 56.1%);
  --dark-accent-saturated: hsl(49.1, 100%, 56.1%);
  --dark-accent-dark: #a88a01;
  --title-font: "Carrois Gothic SC", sans-serif;
  --body-font: "Open Sans", sans-serif;
  --ctaRed: hsl(1.8, 65%, 75%);
  --ctaYellow: hsl(40.8, 65%, 75%);
  --ctaGreen: hsl(130.8, 65%, 60%);
  --ctaBlue: var(--main-brand);
}

body {
  margin: 0px;
  background-color: var(--light-shades);
}

.title-font {
  font-family: "Carrois Gothic SC", sans-serif;
}

.body-font {
  font-family: "Open Sans", sans-serif;
}

#app {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-shades);
  text-align: center;
}

article {
  text-align: left;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  margin-bottom: 0.5vh;
}

h1,
h2,
h3 {
  font-weight: 500;
}
h4,
h5,
h6 {
  font-weight: 600;
}

p {
  margin: 1vh 1vh;
}
ul,
ol {
  margin: 1vh;
}

.flex-x {
  display: flex;
  align-items: center;
}

form .flex-x {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-space-evenly {
}

button {
  color: var(--light-shades);
  background: var(--dark-accent);
  border: 3px solid var(--dark-accent);
  padding: 1vh 2vh;
  border-radius: 3px;
  transition: all 0.2s ease;
}

button:hover {
  transform: scale(1.15);
}

button:active {
  transform: scale(0.9);
}

.modal svg[data-icon="window-close"] {
  float: right;
  margin-right: 3vmin;
  color: var(--light-accent);
  transition: all 0.25s ease-in-out;
}

.modal svg[data-icon="window-close"]:hover {
  color: var(--dark-accent);
  transition: color 0.1s ease;
  transform: scale(1.15);
}

button.cta {
  color: #777777;
  border: none;
  padding: 0.8em;
  margin: 1vw;
}

button.ctaRed {
  background-color: var(--ctaRed);
}
button.ctaGreen {
  background-color: var(--ctaGreen);
}
button.ctaYellow {
  background-color: var(--ctaYellow);
}
button.ctaBlue {
  background-color: var(--ctaBlue);
}
button.ctaDarkShades {
  background-color: var(--dark-shades);
  color: var(--light-shades);
}

/* .info-modal {
  position: fixed;
  width: 80%;
  left: 10%;
  top: 40%;
  background-color: var(--main-brand);
  color: var(--light-shades);
  box-shadow: 1px 1px 2px 1px var(--light-accent);
  opacity: 0.85;
  padding: 2vh 0;
} */
/* 
.info-modal button {
  background: var(--light-shades);
  color: var(--dark-shades);
  border: 3px solid var(--dark-accent);
  padding: 6px 20px;
  border-radius: 3px;
} */
/* 
.info-modal button:hover {
  color: var(--light-shades);
  background: var(--dark-accent);
  transition: all 0.2s ease;
  transform: scale(1.15);
} */

.graph-headword {
  fill: var(--dark-shades);
  stroke: var(--dark-shades);
}

.grow-enter-active,
.grow-leave-active {
  transition: all 0.25s ease-in-out;
  max-height: 250px;
}
.grow-enter, .grow-leave-to /* .grow-leave-active below version 2.1.8 */ {
  max-height: 0px;
}

#graph-title-placeholder {
  opacity: 0;
}

html.portrait {
  overflow-x: hidden;
}

svg[data-icon="cog"],
svg[data-icon="info"] {
  transition: color 0.25s ease;
  padding: 3vw;
  font-size: 1.5em;
  color: var(--main-brand);
}

svg[data-icon="cog"] {
  float: right;
}
svg[data-icon="info"] {
  float: left;
}
svg[data-icon="cog"]:hover,
svg[data-icon="info"]:hover {
  color: var(--dark-shades);
  transform: scale(1.15);
}



@media (orientation: landscape) {
  #graph-title-placeholder {
    width: 50%;
    margin: auto;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
