<template>
  <div>
    <NavBar AnimateLogo ThisPage="Apps" />
    <div id="datavisThumbContainer">
      <DataVisThumb
        BackgroundFile="usedCarPrices.png"
        ThumbTitle="Car Hunter"
        ThumbLink="/apps/app/car-hunter"
      />
      <DataVisThumb
        BackgroundFile="traindelaythumb.png"
        ThumbTitle="UK Train Delay"
        ThumbLink="/apps/app/uk-train-delay"
      />
    </div>
  </div>
</template>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdytklRsXpF07xNc8HLLO8AFgIBcqP2s0&callback=initMap" async defer>
</script>

<script>
import NavBar from "./components/NavBar.vue";
import DataVisThumb from "./components/DataVisThumb.vue";

export default {
  name: "DataVisualisations",
  components: {
    NavBar,
    DataVisThumb
  }
};
</script>

<style scoped>
@media (orientation: landscape) {
  #datavisThumbContainer {
    margin: 10px;
  }

  .DataVisThumb > div {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 20px;
  }
}

@media (orientation: portrait) {
}
</style>
