<template>
  <div>
    <NavBar ThisPage="Blog" />
    <div id="PostBody">
      <div id="PostHead">
        <h1 id="PostTitle">{{Post.title}}</h1>
        <h4 id="PostDate">{{ $moment(Post.created_at).format('dddd, MMMM Do YYYY')}}</h4>
      </div>
      <article v-html="PostHTML"></article>
    </div>
    <div id="PostFooter">
      <img id="PostAuthorImage" :src="Post.primary_author.profile_image" />
    </div>
  </div>
</template>

<script>
import NavBar from "./components/NavBar.vue";
import GhostContentAPI from "@tryghost/content-api";
Vue.use(require("vue-moment"));

const api = new GhostContentAPI({
  url: "https://www.willfry.co.uk/blog-api",
  key: "359d7948808d68d6c04b67cb67",
  version: "v2"
});

export default {
  name: "BlogPost",
  components: {
    NavBar
  },
  props: {},
  data: function() {
    return {
      PostHTML: String,
      Post: Object
    };
  },
  async created() {
    var fetchPost = await fetch(
      `https://www.willfry.co.uk/blog-api/ghost/api/v2/content/posts/slug/${this.$route.params.slug}?key=359d7948808d68d6c04b67cb67&include=authors`,
      {}
    );
    var post = await fetchPost.json();
    post = post.posts[0];
    this.Post = post;
    this.PostHTML = post.html;
    console.log(post);
  }
};
</script>
<style scoped>
h1,
h2 {
  font-family: var(--title-font);
}

#PostBody {
  overflow-x: hidden;
}

#PostBody >>> img {
  max-width: 100%;
}

#PostTitle {
  display: inline-block;
  margin: 0px;
}

#PostDate {
  margin: 0px;
  color: var(--dark-accent);
}

select {
  max-width: 50%;
}

#PostHead {
  margin-bottom: 30px;
}

#PostAuthorImage {
  float: left;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 1px 2px var(--dark-accent);
  margin: 0% 5%;
}

/* code {
  background-color: var(--dark-shades);
  color: var(--light-shades);
} */

@media (orientation: landscape) {
  #PostBody {
    box-shadow: 1px 1px 2px 1px var(--light-accent);
  }

  #PostBody,
  #PostFooter {
    width: 60%;
    margin: auto;
    padding: 15px 50px;
    overflow: hidden;
  }

  p {
    font-size: 1.8vw;
  }

  h1 {
    font-size: 3vw;
  }

  h2 {
    font-size: 2.5vw;
  }
}

@media (orientation: portrait) {
  #PostBody {
    margin: 0px 5%;
  }
}
</style>
<style>
pre {
  overflow-x: auto;
}

code {
  overflow-x: auto;
}
</style>
