<template>
  <div id="app">
    <NavBar AnimateLogo ThisPage="Blog" />
    <div id="blogPostThumbContainer">
      <BlogPostThumb v-for="post in RecentPosts" :key="post.id" :Post="post"></BlogPostThumb>
    </div>
  </div>
</template>

<script>
import NavBar from "./components/NavBar.vue";
import BlogPostThumb from "./components/blog/BlogPostThumb.vue";
import GhostContentAPI from "@tryghost/content-api";

const api = new GhostContentAPI({
  url: "https://www.willfry.co.uk/blog-api",
  key: "359d7948808d68d6c04b67cb67",
  version: "v2"
});

// fetch 5 posts, including related tags and authors
// api.posts
//   .browse({ limit: 15, include: "tags,authors" })
//   .then(posts => {
//     posts.forEach(post => {
//       console.log(post);
//     });
//   })
//   .catch(err => {
//     console.error(err);
//   });

// console.log(api.posts.browse({ limit: 5, include: "tags,authors" }));
// async function getPosts() {
//   var posts = await api.posts.browse({ limit: 15, include: "tags,authors" });
//   console.log(posts);
// }
// getPosts();

export default {
  name: "blog",
  components: {
    NavBar,
    BlogPostThumb
  },
  data: function() {
    return {
      RecentPosts: Array
    };
  },
  async created() {
    var posts = await api.posts.browse({ include: "tags,authors" });
    this.RecentPosts = posts;
  }
};
</script>

<style>
body {
  margin: 0px;
}

@media (orientation: landscape) {
  #blogPostThumbContainer {
    margin: 10px;
  }

  .BlogPostThumb:nth-child(1) > div,
  .BlogPostThumb:nth-child(2) > div {
    width: 500px;
    height: 350px;
  }

  .BlogPostThumb > div {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 20px;
  }
}

@media (orientation: portrait) {
}
</style>
