<template>
  <div>
    <NavBar AnimateLogo ThisPage="Visualisations" />
    <div id="datavisThumbContainer">
      <DataVisThumb
        BackgroundFile="usedCarPrices.png"
        ThumbTitle="Used Car Prices"
        ThumbInfo="Plot the depreciation of different car models over time"
        ThumbLink="/data-visualisations/vis/used-car-prices"
      />
      <DataVisThumb
        BackgroundFile="language-tree-01.png"
        ThumbTitle="Etymology Tree"
        ThumbInfo="Track the evolution of language from Proto-Languages spoken long ago"
        ThumbLink="/data-visualisations/vis/etymology-treemap"
      />
      <DataVisThumb
        BackgroundFile="etymology-graph.png"
        ThumbTitle="Linguistics"
        ThumbInfo="A number of visualisations exploring the evolution of language"
        ThumbLink="/etymology"
      />
      <DataVisThumb
        BackgroundFile="ukbabynamesthumb.png"
        ThumbTitle="UK Baby Names"
        ThumbInfo="Compare the changing popularity of different baby names in the UK"
        ThumbLink="/data-visualisations/vis/uk-baby-names"
      />
      <DataVisThumb
        BackgroundFile="last-fm-bars-thumb.png"
        ThumbTitle="Last.fm Bars"
        ThumbInfo="Chart the most listened to artists of a last.fm user"
        ThumbLink="/data-visualisations/vis/last-fm-bars"
      />
      <DataVisThumb
        BackgroundFile="fpl-thumb.png"
        ThumbTitle="FPL Value"
        ThumbInfo="Plot the value of different Fantasy Premier League players"
        ThumbLink="/data-visualisations/vis/fpl-value"
      />
      <DataVisThumb
        BackgroundFile="language-tree-02.png"
        ThumbTitle="Doublets"
        ThumbInfo="Compare doublets (words that share the same ancestor) in a range of languages"
        ThumbLink="/data-visualisations/vis/doublets"
      />
      <DataVisThumb
        BackgroundFile="language-links-thumb.png"
        ThumbTitle="Language Links"
        ThumbInfo="List all words in one given language that have evolved from a second given language"
        ThumbLink="/data-visualisations/vis/language-links"
      />
      <DataVisThumb
        BackgroundFile="ukclimatethumb.png"
        ThumbTitle="UK Climate"
        ThumbInfo="Track how the temperature in the UK has changed over the last 170 years"
        ThumbLink="/data-visualisations/vis/uk-climate"
      />
      <DataVisThumb
        BackgroundFile="scriptparserthumb.png"
        ThumbTitle="Script Parser"
        ThumbInfo="Plot which characters have spoken a given word or phrase the most in a number of popular TV and Film Series"
        ThumbLink="/data-visualisations/vis/script-parser"
      />
    </div>
  </div>
</template>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdytklRsXpF07xNc8HLLO8AFgIBcqP2s0&callback=initMap" async defer>
</script>

<script>
import NavBar from "./components/NavBar.vue";
import DataVisThumb from "./components/DataVisThumb.vue";

export default {
  name: "DataVisualisations",
  components: {
    NavBar,
    DataVisThumb
  }
};
</script>

<style>
@media (orientation: landscape) {
  #datavisThumbContainer {
    margin: 2vmin;
  }

  .DataVisThumb > div {
    display: inline-block;
    width: 25vw;
    height: 25vw;
    margin: 2vw;
  }
}

@media (orientation: portrait) {
}
</style>
