<template>
  <div>
    <NavBar AnimateLogo ThisPage="Linguistics" />
    <div id="datavisThumbContainer">
      <DataVisThumb
        BackgroundFile="linguistics-etymology.png"
        ThumbTitle="Etymology"
        ThumbInfo="Find out where our words come from by exploring their ancestry"
        ThumbLink="/data-visualisations/vis/etymology-web?mode=etymology"
      />
      <DataVisThumb
        BackgroundFile="linguistics-doublets.png"
        ThumbTitle="Doublets"
        ThumbInfo="Find 'doublets' of a given word; other words in the same language that share a common ancestor"
        ThumbLink="/data-visualisations/vis/etymology-web?mode=doublets"
      />
      <DataVisThumb
        BackgroundFile="ukbabynamesthumb.png"
        ThumbTitle="Sound Change"
        ThumbInfo="Find out how a given sound change (e.g. G->K) has occurred in different languages over time"
        ThumbLink="/data-visualisations/vis/etymology-web?mode=soundchange"
      />
      <DataVisThumb
        BackgroundFile="language-tree-01.png"
        ThumbTitle="Explore"
        ThumbInfo="Choose a word and see where it takes you"
        ThumbLink="/data-visualisations/vis/etymology-web?mode=explore"
      />
    </div>
  </div>
</template>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdytklRsXpF07xNc8HLLO8AFgIBcqP2s0&callback=initMap" async defer>
</script>

<script>
import NavBar from "./components/NavBar.vue";
import DataVisThumb from "./components/DataVisThumb.vue";

export default {
  name: "Etymology",
  components: {
    NavBar,
    DataVisThumb
  }
};
</script>

<style>
@media (orientation: landscape) {
  #datavisThumbContainer {
    margin: 2vmin;
  }

  .DataVisThumb > div {
    display: inline-block;
    width: 25vw;
    height: 25vw;
    margin: 2vw;
  }
}

@media (orientation: portrait) {
}
</style>
